/* Global styles */
* {
  box-sizing: border-box;
}

body {
  padding-top: 20px;
  margin: 0;
}
form {
  max-width: 800px;
  
  padding: 20px;
 
}
.form{
  justify-content: center;
  align-items: center;
  margin-left:  100px;
  
}
label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}
.form-group {
  display: flex;
  align-items: center;
}
.form-group label {
  margin-right: 7px;
  margin-top: 4px;
}
.form-group .required {
  color: red;

}

input[type="poste_recherche"],
input[type="profile_chercher"],
input[type="date"],
input[type="number"],
textarea,
select {
  display: block;
  width: 80%;
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 4px;
  border: 1px solid #ccc;
}

input[type="submit"] {
  background-color: #24377b;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  display: block;
  margin-left: 10rem;
margin-top: 3rem;

}


input[type="submit"]:hover {
  background-color: #006097;

}

/* Responsive styles */
@media (max-width: 600px) {
  form {
    padding: 10px;
  }
  
  input[type="poste_recherche"],
  input[type="date"],
  input[type="number"],
  textarea,
  select {
    margin-bottom: 10px;
  }
}
/*  for the h2 title center */
.form-heading {
  text-align: center;
}
.card {
  max-width: 800px;
  width: 80%;
  padding-top: 20px;
  background: white;
  border-radius: 10px;
  transition: border-radius 0.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 0 auto;
  padding-left: 20px;
}

@media (max-width: 600px) {
  .card {
    max-width: 100%;
  }
}

 .shadow {
  box-shadow: inset 0 -3em 3em rgba(0,0,0,0.1),
              0 0  0 2px rgb(190, 190, 190),
              0.3em 0.3em 1em rgba(0,0,0,0.3);
 }
 
 