.card{
 border-radius: 10px;
    width: 40%; /* Set the desired width */
   margin-top: 20px ;
margin-left: auto;
margin-right: auto;
  
}

body{
  margin-bottom: 80px;
}
  .card .spaninfo {
    font-weight: 500;
    color: #e94f1bb5;
  }
  
  .card .info {
    font-weight: 400;
    color: rgb(0, 0, 0);
    display: block;
    margin: auto;
font-size:1em;
   padding-top: 20px;
    
  }
  .card .infoetat {
    font-weight: 400;
    color: rgb(0, 0, 0);
    display: block;
    font-size:1em;
    padding-left : 20px;


    
  }

  .card .share {
    margin-top: 1em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 1em;
  }
  
  .card a {
    color: white;
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
  }
  
  .card a:hover {
    color: red;
  }
  
  .card button {
    width: 150px;
    padding-bottom: 200px;
    padding: 0.8em 1.7em;
    display: block;
    border-radius: 25px;
    border: none;
    font-weight: bold;
    background: #ffffff;
    color: rgb(0, 0, 0);
    -webkit-transition: .4s ease-in-out;
    transition: .4s ease-in-out;
    margin:  0 auto;
  }
  
  .card button:hover {
    background: red;
    color: white;
    cursor: pointer;
  }


   /*acceuil*/
   /* na3mlou design lel text content */
   .banner {
    margin-bottom: 20px ;
    position: relative;
    width: 100%;
    height: 30%;
    background-image: url('/assets/images/recruu.jpg');
    background-size: cover;
    background-position: center;
  }
  .banner::before {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
  }

   .content{
    width: 100%;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    text-align: center;
    color:#fff ;
  }
  .content h1{
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;
   bottom: 100px;

  }
