



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js" rel="stylesheet">
</head>
<div class="fixe">
  <app-header-profil></app-header-profil>
  <div class="navbar navbar-fixed-top">
    <a href="/acceuil">
      <img src="/assets/images/logomezzo.png" class="loh" alt="Image 1">
    </a>
    <ul>
      <li><a href="/acceuil">Acceuil</a></li>
      <li><a href="/Contact">Contact</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/offres">offres</a></li>
      <li><a href="/mescandidature"></a></li>
    </ul>
  </div>
</div>
<body>


  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
  <div class="container bootstrap snippets bootdey sectionmargin">
    <div class="row">
      <h2 class="text-muted">Bienvenue </h2>
      <hr>
    </div>
    <div class="row">

      <div class="col-md-8">
     
        <div class="panel blog-container">

          <div class="panel-body" *ngIf="news">
            <div class="image-wrapper">
            
                <img class="card-img img-fluid" src="http://localhost:8080/api/test/image/idnews={{news.id}}" alt>
         
            </div>
            <h5>{{ news.titre }}</h5>
            <p>{{ news.datepub | date }}</p>
            <p class=" contnet">
              {{ news.content }}
            </p>
          
      
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <h4 class="headline text-muted">
          Autres Actualités
          <span class="line"></span>
        </h4>
       
        <div class="media popular-post" *ngFor="let item of otherNews" (click)="showSingleNews(item.id)">
          <a class="pull-left" >
            <img src="http://localhost:8080/api/test/image/idnews={{item.id}}" alt="Popular Post">
            </a>
            <div class="media-body">
              {{ item.titre }}
            </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <script type="text/javascript">

  </script>
</body>
<app-footer></app-footer>
</html>