body {
margin-bottom: 70px;
  font-size: 12px;
  color: #666565;
  background: #ffffff;
}

.panel {
  position: relative;
  background: #fff;
}
.container{
  margin-bottom: 20px;
}
.image-wrapper {
  position: relative;
  display: block;
  overflow: hidden;
  
}
.image-wrapper img{
  width: 700px;
  height: 400px;
}
.media img{

  width: 60px;
  height: 60px;
}
.media{
  margin-top: 10px;
}
.blog-container a:not(.btn) {
  color: #999;
  transition: all .2s linear;
  -webkit-transition: all .2s linear;
  -moz-transition: all .2s linear;
  -ms-transition: all .2s linear;
  -o-transition: all .2s linear;
}

.image-wrapper img {
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
}

.image-wrapper:hover .image-overlay {
  opacity: .9;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
  transform: translateX(0%);
  -webkit-transform: translateX(0%);
  -moz-transform: translateX(0%);
  -ms-transform: translateX(0%);
  -o-transform: translateX(0%);
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  background-color: #3c8dbc;
  background-image: -moz-linear-gradient(top,#5fa4cc,#3c8dbc);
  background-image: -webkit-gradient(linear,0 0,0 100%,from(#5fa4cc),to(#3c8dbc));
  background-image: -webkit-linear-gradient(top,#5fa4cc,#3c8dbc);
  background-image: -o-linear-gradient(top,#5fa4cc,#3c8dbc);
  background-image: linear-gradient(to bottom,#5fa4cc,#3c8dbc);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#5fa4cc, endColorstr=#3c8dbc, GradientType=0);
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
  border: 6px solid #296282;
  transition: all .4s ease;
  -webkit-transition: all .4s ease;
  -moz-transition: all .4s ease;
  -ms-transition: all .4s ease;
  -o-transition: all .4s ease;
}

.post-like {
  float: right;
  cursor: pointer;
}
.contnet{
  font-size: 15px;
  }
.headline {
  margin: 20px 0;
  padding: 5px 0 10px;
  border-bottom: 1px solid #eee;
  font-weight: 500;
}

h4, .h4 {
  font-size: 18px;
}

.media, .media-body {
  overflow: hidden;
  zoom: 1;
}
.media-body{
  font-size: 14px;
  padding-left:5px;
}
.sectionmargin{
padding-top: 150px;
}
  .fixe {

    position: fixed;
    width: 100%;
    justify-content: space-between;
    z-index: 100;
    background-color: #fff;
  }

  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    top:3.5rem ;
    left: 0;
    z-index: 100;
    background-color:#001935b4;
    padding: 10px;
    position: fixed;
    margin-top: 0rem;
  }
  
  .navbar .loh{
    width: 180px;

  }
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-left a {
    margin-right: 20px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar ul li {
    margin-right: 20px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
  }
  
  .navbar ul li i {
    color: #fff;
  }

  .banner {
  
    position: relative;
    width: 100%;
    height: 60%;
    background-image: url('/assets/images/newss.jpg');
    background-size: cover;
    background-position: center;
    }
    .all {
   
      margin-bottom: 20px;
    }
    .banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #001935b7;
    }
    
    .content {
    position: absolute;
    top: 60%;
    left: 5rem;
    transform: translateY(-50%);
    text-align: left;
    color: #fff;
    width: 50%;
    }
    .content h1 {
    font-size: 40px;
    }
    
    .content p {
    font-size: 12px;
    }
    
    .links{
    color: #e94e1b;
    }
  
