.user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
  }
  .user-box {
    position: relative;
  }
  .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  
  }
  
   .user-box input:focus ~ label,
  .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #bdb8b8;
    font-size: 12px;
  }
  
   form .button {
      border-radius: 25px;
      position: relative;
      display: inline-block;
      padding: 10px 20px;
      color: #ffffff00;
      font-size: 16px;
      text-decoration: none;
      text-transform: uppercase;
      overflow: hidden;
      transition: .5s;
      margin-top: 40px;
      letter-spacing: 4px;
      border: none;
      background-color: #25377A;
      cursor: pointer;
    }
    
    .button:hover {
      background: #25377A;
      color: #fff;
      border-radius: 5px;
      box-shadow: 0 0 5px #25377A,
                  0 0 25px #25377A,
                  0 0 50px #25377A,
                  0 0 100px #25377A;
    }
    
    .button span {
      position: absolute;
      display: block;
    }
    
    @keyframes btn-anim1 {
      0% {
        left: -100%;
      }
    
      50%,100% {
        left: 100%;
      }
    }
  
  
    i{
      color: #25377A;
    }
    .text{
      color: white;
      margin-top: 20px;
      
    }
    .logo{
      width: 20rem;
      
      cursor: pointer;
      }
      .background-radial-gradient {
  
        background-color: hsl(218, 41%, 15%);
        background-image: radial-gradient(650px circle at 0% 0%,
            hsl(218, 41%, 35%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%),
          radial-gradient(1250px circle at 100% 100%,
            hsl(218, 41%, 45%) 15%,
            hsl(218, 41%, 30%) 35%,
            hsl(218, 41%, 20%) 75%,
            hsl(218, 41%, 19%) 80%,
            transparent 100%);
            height: 100%;
      }
  
      #radius-shape-1 {
        height: 220px;
        width: 220px;
        top: -60px;
        left: -130px;
        background: radial-gradient(#ec5b0d, #EA651F);
        overflow: hidden;
      }
  
      #radius-shape-2 {
        border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
        bottom: -60px;
        right: -110px;
        width: 300px;
        height: 300px;
        background: radial-gradient(#ec5b0d, #EA651F);
        overflow: hidden;
      }
  
      .bg-glass {
        border-radius: 20px ;
        background-color: hsla(0, 0%, 100%, 0.279) !important;
        backdrop-filter: saturate(200%) blur(25px);
        position: relative;
      }