
  
  <!-- Section: Design Block -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/icons/tryit.asp?icon=far_fa-edit&unicon=f044">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  <section class="background-radial-gradient overflow-hidden">
    <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
      <div class="row gx-lg-5 align-items-center mb-5">
        <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
          <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
            <a href="/acceuil" > 
              <img src="assets\images\mezologo.png" class="logo" alt="Logo">   
            </a> <br>
            <span style="color: hsl(218, 81%, 75%)">Votre Source D'opportunités.</span>
          </h1>
          <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
            Depuis 2005, SoMezzo oriente l’ensemble de ses énergies à l’amélioration continue de ses engagements de qualité et d’innovation participative. Notre expertise se concentre sur 4 principaux pôles ayant pour objectif d’offrir une relation sur-mesure à tous nos Clients dans un équilibre optimal Efficacité / Satisfaction Clients / ROI.
          </p>
        </div>
  
        <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
          <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
          <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>
  
          <div class="card bg-glass">
            <div class="card-body px-4 py-5 px-md-5">
           
              <form (ngSubmit)="onSubmit()" #f="ngForm">
                <h1 style="color: hsl(218, 81%, 75%)" class="display-6 fw-bold ls-tight">
                  Réinitialisation de mot de passe
                </h1>
  
                <div class="user-box">
                  <input type="password" id="newPassword" name="newPassword" [(ngModel)]="newPassword" required />
                  <label>Nouveau mot de passe</label>
                </div>
  
                <div class="user-box">
                  <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="confirmPassword" required />
                  <label>Confirmez le nouveau mot de passe</label>
                </div>
  
                <!-- Bouton de soumission -->
                <button type="submit" class="button" style="color: #fff">
                  <span></span>
                  Réinitialiser le mot de passe
                </button>
              </form>
              <div class="text sign-up-text">
                <a href="#" style="color: #25377A; text-decoration: none; font-style: italic;" routerLink="/login">
                  <i class='fa fa-sign-out' aria-hidden="true"></i> Retour
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  