/* na3mlou design lel text content */
.banner {
    
    position: relative;
    width: 100%;
    height: 60%;
    background-image: url('/assets/images/recc.jpg');
    background-size: cover;
    background-position: center;
  }
  .banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #001935b7;
  }
  
  .content {
    position: absolute;
    top: 50%;
    left: 10rem;
    transform: translateY(-50%);
    text-align: left;
    color: #fff;
    width: 50%;
  }
  .content h1 {
    font-size: 40px;
  }
  
  .content p {
    font-size: 12px;
  }
  
  .links{
    color: #e94e1b;
  }
  /* navbar transparent */

  
  /* logo design */
  .logo{
  width: 180px;
  padding-top: 20px;
  cursor: pointer;
  }
  
  
  .fixe {
    position: fixed;
    width: 100%;
    justify-content: space-between;
    z-index: 100;
    background-color: #fff;
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 767px) {
    .fixe {
      justify-content: center;
    }
  }
  
  /* Media query for larger screens */
  @media screen and (min-width: 768px) {
    .fixe {
      justify-content: space-between;
    }
  }
  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top:3.5rem ;
    left: 0;
    z-index: 100;
    background-color:#001935b4;
    padding: 10px;
    position: fixed;
    margin-top: 0rem;
  }
  
  .navbar .loh{
    width: 180px;
  
  }
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-left a {
    margin-right: 20px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar ul li {
    margin-right: 20px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
  }
  
  .navbar ul li i {
    color: #fff;
  }