
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/icons/tryit.asp?icon=far_fa-edit&unicon=f044">
  </head>
  <div class="fixe" >
		<app-header-profil></app-header-profil>
		<div class="navbar navbar-fixed-top">
		  <a href="/acceuil">
			<img src="/assets/images/logomezzo.png" class="loh" alt="Image 1">
		  </a>
		  <ul>
			<li><a href="/acceuil">Acceuil</a></li>
			<li><a href="/Contact">Contact</a></li>
			<li><a href="/news">News</a></li>
			<li><a href="/offres">offres</a></li>
			<li><a href="/mescandidature"></a></li>
		  </ul>
		</div>
	  </div>
  <div class="banner">
        <!-- button logout -->
          <div class="content">
            <h1 *ngIf="currentPath === 'offres'">Offres d'emploi</h1>
            <h1 *ngIf="currentPath === 'demandeslist'">Gestion des Demandes</h1>
            <h1 *ngIf="currentPath === 'demandes'">Demandes</h1>
            <h1 *ngIf="currentPath === 'adddemande'">Demande d'embauche </h1>
            <h1 *ngIf="currentPath === 'candidatutreaccepte'">Candidatures Accepté</h1>
         <h1   *ngIf="currentPath === 'demandevalide'">Les demande validée</h1>
         <p *ngIf="currentPath === 'demandevalide'"><a class="links" href="/acceuil">Acceuil</a> / Les demande d'embauche valide</p>
         <p *ngIf="currentPath === 'offres'"><a class="links" href="/acceuil">Acceuil</a> / Offres d'emploi</p>
         <p *ngIf="currentPath === 'candidatutreaccepte'">
          <a class="links" href="/acceuil">Acceuil</a> /liste de candidatures Accepté
        
        </p>
        <p *ngIf="currentPath === 'adddemande'">
          <a class="links" href="/acceuil">Acceuil</a> /Demande d'embauche
        
        </p>
        <p *ngIf="currentPath === 'demandeslist'">
          <a class="links" href="/acceuil">Acceuil</a> /Gestion des Demandes
        
        </p>
        <p *ngIf="currentPath === 'demandes'">
          <a class="links" href="/acceuil">Acceuil</a> /Demandes
        
        </p>
          </div>
       </div>
        
      
  
  
      
  
  