
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/icons/tryit.asp?icon=far_fa-edit&unicon=f044">
</head>
<div class="banner">
      <!-- button logout -->
      <div class="navbar">
    <a href="#">
    <img src="assets\images\logomezzo.png" alt="Logo" class="logo"></a>
    <ul *ngIf="isLoggedIn">
      <li><a href="/demandevalide" *ngIf="showRCBoard "><i class="fa fa-check" aria-hidden="true" ></i> Les demandes validées</a></li>
   </ul> </div> 
       
   <div class="content">
    
    <h1 *ngIf="currentPath === 'offres'">Offres d'emploi</h1>
    <h1 *ngIf="currentPath === 'demandes'">Demandes</h1>
    <p *ngIf="currentPath === 'demandes'"><a class="links" href="/acceuil">Acceuil</a> / Demandes</p>
    <p *ngIf="currentPath === 'offres'"><a class="links" href="/acceuil">Acceuil</a> / Offres d'emploi</p>
  </div>

  
     </div>
      
    


    

