/* na3mlou design lel text content */
.banner {
    
  position: relative;
  width: 100%;
  height: 50%;
  background-image: url('/assets/images/recc.jpg');
  background-size: cover;
  background-position: center;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #001935b7;
}

.content {
  position: absolute;
  top: 50%;
  left: 10rem;
  transform: translateY(-50%);
  text-align: left;
  color: #fff;
  width: 50%;
}
.content h1 {
  font-size: 40px;
}

.content p {
  font-size: 12px;
}

.links{
  color: #e94e1b;
}
/* navbar transparent */
.navbar{

width:100%;
margin: auto;
margin-top: -20px;
padding-left: 50px;
display: flex;
align-items: center;
justify-content: space-between;
background-color: #001935b4;
position: fixed;
overflow: hidden;
}

/* logo design */
.logo{
width: 180px;
padding-top: 20px;
cursor: pointer;
}

/* items design */
.navbar ul li{
list-style: none;
display: inline-block;
margin: 20px;
padding-top: 10px;
position: relative;
}

/* linkes design */
.navbar ul li a{
text-decoration: none;
color:#fff;
}

/* nzido star ta7t items */
.navbar ul li::after{
content:'' ;
height: 3px;
width: 0;
background: #e94e1b;
position: absolute;
left: 0;
bottom: -5px;
transition: 0.5s;
}

.navbar ul li:hover::after{
width: 100%;
}

.navbar ul li i{
color: #e94e1b; 
}

@media screen and (max-width: 768px) {
/* adjust logo size for smaller screens */
.logo {
  width: 120px;
}

/* center items on smaller screens */
.navbar ul {
 
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* remove margin between items on smaller screens */
.navbar ul li {
  margin: 10px 0;
}
}