.video-container {
    display: flex;
    justify-content: center;
    align-items: flex-start; /* change to flex-start to move the video up */
    height: 100%;
    margin-top: 100px; /* add margin to push the container down */
  }
  
  video {
    max-width: 100%;
    max-height: 100%;
  }
  
  .video-overlay {
    width: 70%;
    position: absolute;
    margin: 350px;
    padding: 2rem;
    color: rgb(0, 0, 0);
  }
  *{
 
  
    font-family:Arial, Helvetica, sans-serif;
 

  }
  
  h1 {
    text-align: center;
    font-size: 2rem;
    margin: 0;
    padding: 10;
    background-image: linear-gradient(to right, hsla(21, 83%, 52%, 1), hsla(227, 54%, 32%, 1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  
  p {
    color: #000000;
    font-size: 1.2rem;

  }


    .fixe {
 
    width: 100%;
    justify-content: space-between;
    z-index: 100;
    background-color: #fff;
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 767px) {
    .fixe {
      justify-content: center;
    }
  }
  
  /* Media query for larger screens */
  @media screen and (min-width: 768px) {
    .fixe {
      justify-content: space-between;
    }
  }
  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top:3.5rem ;
    left: 0;
    z-index: 100;
    background-color:#001935b4;
    padding: 10px;
    position: absolute;
    margin-top: 0rem;
  }
  
  .navbar .loh{
    width: 180px;
  
  }
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-left a {
    margin-right: 20px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar ul li {
    margin-right: 20px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
  }
  
  .navbar ul li i {
    color: #fff;
  }