<div class="fixe" >
  <app-header-profil></app-header-profil>
  <div class="navbar navbar-fixed-top">
    <a href="/acceuil">
    <img src="/assets/images/logomezzo.png" class="loh" alt="Image 1">
    </a>
    <ul>
    <li><a href="/acceuil">Acceuil</a></li>
    <li><a href="/Contact">Contact</a></li>
    <li><a href="/news">News</a></li>
    <li><a href="/offres">offres</a></li>
    </ul>
  </div>
  </div>

<div class="error-container">
<div class="video-container">

<video #videoPlayer width="640" height="360" loop>
    <source src="assets/video.mp4" type="video/mp4">
    Your browser does not support the video tag.
  </video>
  <div class="video-overlay">
    <h1>Erreur 404 - Page introuvable sur Mezzo Recrute </h1>
    <p>Désolé, la page que vous cherchez n'a pas été trouvée sur Mezzo Recrute. Il est possible que la page ait été supprimée, renommée ou temporairement indisponible. <br>Veuillez vérifier l'URL que vous avez saisie ou cliquer sur l'un des liens de navigation ci-dessus pour accéder à d'autres parties de notre site. Nous nous excusons pour tout inconvénient que cela pourrait causer et nous vous remercions de votre compréhension.</p>
</div>
</div>
</div>
  <app-footer></app-footer>