
<app-dvheader></app-dvheader>
<body>

  
    <div class="card">

      <h2 class="form-heading" style="text-align: center; color: #24377b;">Add Candidature</h2>
      <hr style="border: 2px;">
      <div class="card-body">
   

            <h5 class="form-heading" style=" color: #24377b;">Information Personnelle</h5>
      <hr style="border: 2px; width: 15rem;">
            <div class="box-inputet">
              
            <div class="form-group">
              <label for="username">Nom complet :</label>
              <input type="text" id="username" placeholder="Entrez votre nom complet" name="username" [(ngModel)]="currentUser.username" required #username="ngModel" readonly>
             
            </div>
            <div class="form-group">
              <label for="email">Email :</label>
              <input type="text" id="email" placeholder="Entrez votre email" name="email" [(ngModel)]="currentUser.email" required #email="ngModel" readonly>
            
            </div>
            </div>
            <div class="box-inputet">
            <div class="form-group">
              <label for="phone">Téléphone :</label>
              <input type="text" id="phone" placeholder="Entrez votre numéro de téléphone" name="phone" [(ngModel)]="currentUser.phone" required #phone="ngModel" readonly>
             
            </div>
            <div class="form-group">
              <label for="gender">Gender :</label>
              <input type="text" id="gender" placeholder="Entrez votre Genre" name="gender" [(ngModel)]="currentUser.gender" required #gender="ngModel" readonly>
            </div>
            </div>
            <form name="form" *ngIf="!isSuccessful" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
            <h5 class="form-heading" style=" color: #24377b;">Votre Diplome</h5>
            <hr style="border: 2px; width: 15rem;">
            <div class="box-inputet">
            <div class="form-group">
              <label for="titre">Titre du diplôme :</label>
              <input type="text" id="titre" placeholder="Entrez le titre de votre diplôme" name="titre" [(ngModel)]="candidature.diplome.titre" required #titre="ngModel">
              <div *ngIf="titre.invalid && (titre.dirty || titre.touched)" class="error-message text-danger">
                Le titre du diplôme est un champ obligatoire.
              </div>
              
            </div>
            <div class="form-group">
              <label for="etablissement">Établissement :</label>
              <input type="text" id="etablissement" placeholder="Entrez le nom de votre établissement" name="etablissement" [(ngModel)]="candidature.diplome.etablissement" required #etablissement="ngModel">
              <div *ngIf="etablissement.invalid && (etablissement.dirty || etablissement.touched)" class="error-message text-danger">
                L'établissement est un champ obligatoire.
              </div>
            </div>
          </div>

          <div class="box-inputet">
          
            <div class="form-group">
              <label for="annee">Année d'obtention :</label>
              <input type="text" id="annee" placeholder="Entrez l'annee de obtenation" name="annee" [(ngModel)]="candidature.diplome.annee" required #annee="ngModel">
              
              <div *ngIf="annee.invalid && (annee.dirty || annee.touched)" class="error-message text-danger">
                L'établissement est un champ obligatoire.
              </div>
            </div>

            <div class="form-group">

            <form (ngSubmit)="cvupdate()" enctype="multipart/form-data">
              <h6> cv:</h6>
              <input type="file" id="file" name="file" (change)="onCvSelected($event)"  />       
            </form>

          
        </div>


          </div>
           <div>
            <h5 class="form-heading" style=" color: #24377b;">Votre dernière Expérience</h5>
            <hr style="border: 2px; width: 15rem;">
       
            <div class="box-inputet">
            <div class="form-group">
              <label for="entreprise">Entreprise :</label>
              <input type="text" id="entreprise" placeholder="Entrez le titre de votre Entreprise" name="entreprise" [(ngModel)]="candidature.experience.entreprise" required #entreprise="ngModel">
              <div *ngIf="entreprise.invalid && (entreprise.dirty || entreprise.touched)" class="error-message text-danger">
                Le entreprise est un champ obligatoire.
              </div>
            </div>
            <div class="form-group">
              <label for="poste"> Poste :</label>
              <input type="text" id="poste" placeholder="Entrez le nom de votre poste" name="poste" [(ngModel)]="candidature.experience.poste" required #poste="ngModel">
              <div *ngIf="poste.invalid && (poste.dirty || poste.touched)" class="error-message text-danger">
                Le poste est un champ obligatoire.
              </div>
            </div>
          </div>
          <div class="box-inputet">
            <div class="form-group">
              <label for="dateDebut">dateDebut :</label>

              <input type="date" id="dateDebut" placeholder="Entrez le  dateDebut" name="dateDebut" [(ngModel)]="candidature.experience.dateDebut" required #dateDebut="ngModel">
              <div *ngIf="dateDebut.invalid && (dateDebut.dirty || dateDebut.touched)" class="error-message text-danger">
                Le dateDebut est un champ obligatoire.
              </div>
            </div>
            <div class="form-group">
              <label for="dateFin"> dateFin :</label>
              <input type="date" id="dateFin" placeholder="Entrez le dateFin" name="dateFin" [(ngModel)]="candidature.experience.dateFin" required #dateFin="ngModel">
              <div *ngIf="dateFin.invalid && (dateFin.dirty || dateFin.touched)" class="error-message text-danger">
                Le dateFin est un champ obligatoire.
              </div>
              <div *ngIf="!isValidDateRange()" style="color: red;">
                La date de fin doit être supérieure à la date de début.
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="canaux">Canaux :</label>
            <select id="canaux" name="canaux" [(ngModel)]="candidature.canaux" required #canaux="ngModel"  >
              <option value="" selected>Sélectionner un canal</option>
              <option value="Site web">Site web</option>
              <option value="Réseaux sociaux">Réseaux sociaux</option>
              <option value="Recommandation">Recommandation</option>
              <option value="Agence de recrutement">Agence de recrutement</option>
              <option value="Autre">Autre</option>
            </select>
            <!-- Error message for canaux -->
            <div *ngIf="canaux.invalid && (canaux.dirty || canaux.touched)" class="error-message text-danger">
              Les canaux sont un champ obligatoire.
            </div>
          </div>
          <div class="form-group">
            <label for="description">Message de motivation :</label>
      <textarea id="description" name="description"  placeholder=" Ecrire pour ameliorer votre chance"   rows="6" cols="100" [(ngModel)]="candidature.experience.description" required #description="ngModel"></textarea>
      <div *ngIf="description.invalid && (description.dirty || description.touched)" class="error-message text-danger">
        Le description est un champ obligatoire.
      </div>
      </div>
       
          </div>
            <div class="buttons-container">
   
              <button type="submit" class="btn btn-primary" [disabled]="f.invalid">Postuler</button>

            </div>
            <app-spinner *ngIf="showSpinner"></app-spinner>
            <div class="form-group">
          

              <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-danger">
                Vous avez déjà postulé pour cette offre.</div>
            </div>
        </form>
        <!-- <script class="jsbin" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
        <div class="file-upload">
          <button class="file-upload-btn" type="button" onclick="$('.file-upload-input').trigger( 'click' )">Add Image</button>
        
          <div class="image-upload-wrap">
            <input class="file-upload-input" type='file' onchange="readURL(this);" accept="image/*" />
            <div class="drag-text">
              <h3>Drag and drop a file or select add Image</h3>
            </div>
          </div>
          <div class="file-upload-content">
            <img class="file-upload-image" src="#" alt="your image" />
            <div class="image-title-wrap">
              <button type="button" onclick="removeUpload()" class="remove-image">Remove <span class="image-title">Uploaded Image</span></button>
            </div>
          </div>
        </div> -->
              </div>
              </div>
        
             
            
        </body>
        <app-footer></app-footer>