<body>
  


<app-dvheader></app-dvheader>

 

    <div class="card" *ngIf="showRCBoard ">

      <p class="infoetat"><i class="fa fa-check-circle"></i> Etat 
       <br>
        <span class="badge rounded-pill bg-green float mb-3 mb-sm-0 "  
        [ngClass]="{
          'bg-success': demande.validation.toLowerCase() === 'valide',
          'bg-danger': demande.validation.toLowerCase() === 'refuse',
          'bg-secondary': demande.validation === 'EN_ATTENTE'
        }"
      >
        {{ demande.validation }}
      </span></p>
      <p class="info"><i class="fa fa-globe"></i> site : <span class="spaninfo">{{demande.site}}</span></p>

      <p class="info"><i class="fa fa-user"></i> Profile de candidat chercher : <span class="spaninfo">{{demande.profile_chercher}}</span></p>
      <p class="info"><i class="fa fa-briefcase"></i> Poste recherché :<span class="spaninfo"> {{demande.poste_recherche}}</span></p>

      <p class="info"><i class="fa fa-clock-o"></i> Temps de travail recherché : <span class="spaninfo">{{demande.temps_travail}}</span></p>
      <p class="info"><i class="fa fa-calendar"></i> date de la demande : <span class="spaninfo">{{demande.date_demande | date:'medium'}}</span></p>
      <p class="info"><i class="fa fa-users"></i> Nombre de collaborateurs ETP à recruter :<span class="spaninfo"> {{demande.nbr_collab}}</span></p>
      <p class="info"><i class="fa fa-calendar-check-o"></i> date de l'integration: <span class="spaninfo">{{demande.date_integration | date:'medium'}}</span></p>
      <p class="info"><i class="fa fa-file-text-o"></i> Type(s) de contrat : <span class="spaninfo">{{demande.type_contrat}}</span></p>
      <p class="info" *ngIf="demande.description"><i class="fa fa-file-text"></i> Description :<span class="spaninfo">{{demande.description}}</span></p>

      <button type="submit" class="button"   (click)="navtoffre(demande.id)"><span class="btnet"></span> <i class='fa fa-sign-out' aria-hidden="true"></i>ajouté en tant qu'offre</button>
      <!-- (click)="retour()" -->

</div>
</body>
<app-footer></app-footer>