<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">



  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/css/bootstrap.min.css" rel="stylesheet">

</head>
<app-dvheader></app-dvheader>
<body>
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" />
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-8 col-lg-6">

        <div class="section_heading text-center wow fadeInUp" data-wow-delay="0.2s"
          style="visibility: visible; animation-delay: 0.2s; animation-name: fadeInUp;">
          <h3>  Liste de candidats Spontanées</h3>
          <div class="line"></div>
        </div>
      </div>
    </div>
    <div class="row">




      <div class="col-12 col-sm-6 col-lg-3" *ngFor="let user of users">
        <div class="single_advisor_profile wow fadeInUp" data-wow-delay="0.5s"
          style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;" *ngIf="user.supervisor">

          <div class="advisor_thumb"><img src="http://localhost:8080/api/test/image/id={{user.id}}" *ngIf="user.photos "
              alt>
            <img src="/assets/images/avatar7-3223699.png" *ngIf="!user.photos " alt>



            <div class="social-info"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
                  class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a></div>
          </div>

          <div class="single_advisor_details_info">
            <h6>{{ user.username }}</h6>
            <p class="designation">{{ user.email }}</p>
            <p class="designation">Adresse : {{ user.adresse }}</p>
            <p class="designation">Telephone : {{ user.phone }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript">

  </script>
</body>
<div style="margin-top: 10rem;">

</div>
<app-footer ></app-footer>
</html>