.user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.user-box {
  position: relative;
}
.container{
position: relative;


}
.user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;

}

 .user-box input:focus ~ label,
.user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}

form .button {
  border-radius: 25px;
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px;
  border: none;
  background-color: #25377A;
  cursor: pointer;
}

.button:hover {
  background: #25377A;
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px #25377A,
              0 0 25px #25377A,
              0 0 50px #25377A,
              0 0 100px #25377A;
}

.button span {
  position: absolute;
  display: block;
}

@keyframes btn-anim1 {
  0% {
    left: -100%;
  }

  50%,100% {
    left: 100%;
  }
}



i{
  color: #25377A;
}
.text{
  color: white;
  margin-top: 20px;
  
}
.logo{
  width: 20rem;
  
  cursor: pointer;
  }