
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/icons/tryit.asp?icon=far_fa-edit&unicon=f044">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  
<section class="background-radial-gradient overflow-hidden">
  <style>
    .background-radial-gradient {
      
      background-color: hsl(218, 41%, 15%);
      background-image: radial-gradient(650px circle at 0% 0%,
          hsl(218, 41%, 35%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
          hsl(218, 41%, 45%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%);
          height: 100%;
    }

    #radius-shape-1 {
      height: 220px;
      width: 220px;
      top: -60px;
      left: -130px;
      background: radial-gradient(#ec5b0d, #EA651F);
      overflow: hidden;
    }

    #radius-shape-2 {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      bottom: -60px;
      right: -110px;
      width: 300px;
      height: 300px;
      background: radial-gradient(#ec5b0d, #EA651F);
      overflow: hidden;
    }

    .bg-glass {
      border-radius: 20px ;
      background-color: hsla(0, 0%, 100%, 0.279) !important;
      backdrop-filter: saturate(200%) blur(25px);
      position: relative;
    }
  </style>

  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          <a href="/acceuil" > 
            <img src="assets\images\mezologo.png" class="logo" alt="Logo">   
          </a> <br>
          <span style="color: hsl(218, 81%, 75%)">Votre Source D'opportunités.</span>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          Depuis 2005, SoMezzo oriente l’ensemble de ses énergies à l’amélioration continue de ses engagements de qualité et d’innovation participative. Notre expertise se concentre sur 4 principaux pôles ayant pour objectif d’offrir une relation sur-mesure à tous nos Clients dans un équilibre optimal Efficacité / Satisfaction Clients / ROI.
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5"  *ngIf="!isLoggedIn">
            <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" 
            [formGroup]="loginform" novalidate>
              <h1 class=" display-5 fw-bold ls-tight ">
                <span style="color: hsl(218, 81%, 75%)">Connexion</span>
              </h1>
            

             
      <div class="user-box">
        <input type="matriculerh" id="matriculerh" name="matriculerh" [(ngModel)]="form.matriculerh"   formControlName="matriculerh"
          required />
          <div  *ngIf="matriculerh.invalid && (matriculerh.touched || matriculerh.dirty)">
            <span *ngIf="matriculerh.errors?.required" style="color: rgb(83, 1, 1);">Matricule RH est un champ
              obligatoire </span>
              <span *ngIf="matriculerh.errors.pattern" style="color: rgb(83, 1, 1);">Le Matricule RH doit être un nombre. </span>
              <span *ngIf="matriculerh.errors.minlength || matriculerh.errors.maxlength" style="color: rgb(83, 1, 1);">Le Matricule RH doit contenir exactement 5 chiffres.</span>

          </div>
          <label>Matricule RH</label>
      </div>
              <div class="user-box">
                  <input type="password" id="password"  name="password" [(ngModel)]="form.password" formControlName="password" required/>
                  <div  *ngIf="password.invalid && (password.touched || password.dirty)">
                  <span *ngIf="password.errors?.required" style="color: rgb(83, 1, 1);">mot de passe  est un champ obligatoire </span>
                  <span *ngIf="password.errors.minlength " style="color: rgb(83, 1, 1);">Le mot de passe doit contenir au moins 6 caractères.</span>

                </div>
                <label>Mot de passe </label>
                </div>
              
              <!-- Submit button -->
               <button type="submit" class="button" (click)="onSubmit()">
                <span></span>
                Connexion
              </button>
              <div class="form-group">
                <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
                  Le formulaire est invalide.</div>
              </div>
         
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block -->
