


   
<section class="background-radial-gradient overflow-hidden" *ngIf="showRCBoard ">
  <style>
    .background-radial-gradient {
      height: 100%;
      background-color: hsl(218, 41%, 15%);
      background-image: radial-gradient(650px circle at 0% 0%,
          hsl(218, 41%, 35%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
          hsl(218, 41%, 45%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%);
    }

    #radius-shape-1 {
      height: 220px;
      width: 220px;
      top: -60px;
      left: -130px;
      background: radial-gradient(#ec5b0d, #EA651F);
      overflow: hidden;
    }

    #radius-shape-2 {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      bottom: -60px;
      right: -110px;
      width: 300px;
      height: 300px;
      background: radial-gradient(#ec5b0d, #EA651F);
      overflow: hidden;
    }

    .bg-glass {
      border-radius: 20px ;
      background-color: hsla(0, 0%, 100%, 0.279) !important;
      backdrop-filter: saturate(200%) blur(25px);
      
    }
  </style>

<div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
  <div class="row gx-lg-5 align-items-center mb-5">
    <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
      <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
        <a href="/acceuil" > 
          <img src="assets\images\mezologo.png" class="logo" alt="Logo">   
        </a> <br>
        <span style="color: hsl(218, 81%, 75%)">Votre Source D'opportunités.</span>
      </h1>
      <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
        Depuis 2005, SoMezzo oriente l’ensemble de ses énergies à l’amélioration continue de ses engagements de qualité et d’innovation participative. Notre expertise se concentre sur 4 principaux pôles ayant pour objectif d’offrir une relation sur-mesure à tous nos Clients dans un équilibre optimal Efficacité / Satisfaction Clients / ROI.
      </p>
    </div>


      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5"  >
            <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()"#f="ngForm" novalidate [formGroup]="registreform">
             
           
      
              <h1 class=" display-5 fw-bold ls-tight ">
                <span style="color: hsl(218, 81%, 75%);">Ajouter Un Candidat</span>
              </h1>
            
              <div class="input-container">


                <div class="user-box">
                  <input type="text" id="username" name="username" [(ngModel)]="form.username" formControlName="username" required />
                  <div *ngIf="username.invalid && (username.touched || username.dirty)">
                    <span *ngIf="username.errors?.required" style="color: red;"> Nom d'utilisateur est un champ obligatoire.</span>
                    <span *ngIf="username.errors?.minlength" style="color: red;">Le nom d'utilisateur doit comporter au moins 5 caractères.</span>
                    <span *ngIf="username.errors?.maxlength" style="color: red;">Le nom d'utilisateur ne peut pas comporter plus de 10 caractères.</span>
                  </div>
                  <label>Nom d'utilisateur</label>
                </div>
               
                <div class="user-box">
                  <input type="text" id="adresse" name="adresse" [(ngModel)]="form.adresse" formControlName="adresse" required />
                  <div *ngIf="adresse.invalid && (adresse.touched || adresse.dirty)">
                    <span *ngIf="adresse.errors?.required" style="color: red;">Adresse est un champ obligatoire</span>
                    <span *ngIf="adresse.errors?.pattern" style="color: red;">L'adresse doit contenir uniquement du texte.</span>
                  </div>
                  <label>Adresse</label>
                </div>
      
              </div>
              
              <div class="input-container">
              <div class="user-box">
                <input type="email" id="email" name="email" [(ngModel)]="form.email" formControlName="email" required />
                <div *ngIf="email.invalid && (email.touched || email.dirty)">
                  <span *ngIf="email.errors?.required" style="color: red;">L'email est un champ obligatoire</span>
                  <span *ngIf="email.errors?.email" style="color: red;">Veuillez saisir une adresse email valide</span>
                </div>
                <label>Email</label>
              </div>
              
      
                  <div class="user-box">
                    <input type="password" id="password" name="password" [(ngModel)]="form.password" formControlName="password" required minlength="6"/>
                    <div *ngIf="password.invalid && (password.touched || password.dirty)">
                      <span *ngIf="password.errors?.required" style="color: red;">Le mot de passe est un champ obligatoire.</span>
                      <span *ngIf="password.errors?.minlength" style="color: red;">Le mot de passe doit avoir au moins 6 caractères.</span>
                    </div>
                    <label>Mot de passe</label>
                  </div>
                  
      
            </div>
            <div class="input-container">
              <div class="user-box">
                <input type="tel" id="phone" name="phone" [(ngModel)]="form.phone" formControlName="phone" required pattern="[0-9]*"
                  minlength="8" maxlength="13" />
                <div *ngIf="phone.invalid && (phone.touched || phone.dirty)">
                  <span *ngIf="phone.errors?.required" style="color: red;">Le numéro de téléphone est un champ obligatoire.</span>
                  <span *ngIf="phone.errors?.minlength || phone.errors?.maxlength" style="color: red;">Le numéro de téléphone doit contenir entre 8 et 13 chiffres.</span>
                  <span *ngIf="phone.errors?.pattern" style="color: red;">Le numéro de téléphone doit contenir uniquement des chiffres.</span>
                </div>
                <label>Numéro de téléphone</label>
              </div>
              <div class="user-box">
                <input type="date" id="date_naiss" name="date_naiss" [(ngModel)]="form.date_naiss" formControlName="date_naiss" required />
                <div *ngIf="date_naiss.invalid && (date_naiss.touched || date_naiss.dirty)">
                  <span *ngIf="date_naiss.errors?.required" style="color: red;">La date de naissance est un champ obligatoire.</span>
                </div>
                <label class="labeldate">Date de naissance</label>
              </div>
              <div class="user-box" >
                <select type="text" id="gender" name="gender" class="select" [(ngModel)]="form.gender" required formControlName="gender" >
                  <option style="color: #ffffff;" [value]="null" disabled selected> Sélectionnez votre sexe</option>
                  <option style="color: #25377A;" value="homme">Homme</option>
                  <option  style="color: #25377A;" value="Femme">Femme</option>
                </select>
                <div *ngIf="gender.invalid && (gender.touched || gender.dirty)">
                  <span *ngIf="gender.errors?.required" style="color: red;">La sexe  est un champ obligatoire.</span>
                </div>
              </div>
           
</div>
              <button  class="button">
                <span></span>
                Ajouter Candidat
              </button>
              <div class="alert alert" *ngIf="f.submitted && isSignUpFailed">
                Erreur dans l'inscription!<br />
              </div>
            

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>