
<div class="fixe">
  <app-header-profil></app-header-profil>
  <div class="navbar navbar-fixed-top">
    <a href="/acceuil">
      <img src="/assets/images/logomezzo.png" class="loh" alt="Image 1">
    </a>
    <ul>
      <li><a href="/acceuil">Acceuil</a></li>
      <li><a href="/Contact">Contact</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/offres">offres</a></li>
      <li><a href="/mescandidature"></a></li>
    </ul>
  </div>
</div>
<div class="banner">
  <div class="content">
    <div class="content">
      <h1>Actualités</h1>

      <p>
        <a class="links" href="/acceuil">Acceuil</a> /
        <a class="links" > </a>  News Letter
      </p>
    </div>
  </div>
</div>
<body>

  <section class="section gray-bg" id="blog">
  <div class="container">

  <div class="row">
  <div class="col-lg-4" *ngFor="let news of pagedNewsList" >
  <div class="blog-grid">
  <div class="blog-img">
  <div class="date">{{ news.datepub | date }}</div>

  <img src="http://localhost:8080/api/test/image/idnews={{news.id}}" class="imgnews">

  </div>
  <div class="blog-info">
  <h5><a >{{ news.titre }}</a></h5>
  <p>{{ news.content }}</p>
  <div class="btn-bar">
  <a  class="px-btn-arrow" (click)="showSingleNews(news.id)">
  <span  >En savoir plus</span>
 
  <i class="arrow"></i>
  
  </a>
  
  </div>
  <div *ngIf="showAdminBoard ">
    <button class="delete_button" (click)="deleteNews(news.id)"  >
      <i class="fa fa-trash" ></i>
    </button>
  </div>
  </div>
  </div>
  </div>


  </div>
  </div>
  <div class="pagination">
    <a  class="previous round" [class.disabled]="currentPage === 1" (click)="goToPage(currentPage - 1)">&#8249;</a>
    <a  class="next round" [class.disabled]="currentPage === totalPages" (click)="goToPage(currentPage + 1)">&#8250;</a>
  </div>
  </section>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.0/dist/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript">
    
  </script>
  <app-footer></app-footer>
  </body>
