
 /* Font */
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700');

/* Design */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  background-color: #ecf9ff;
}


body{
  color: #1a202c;
  text-align: left;
  background-color: #ebf4fa;    
}

.main{
  max-width: 1200px;
  margin: 0 auto;
}


.imgnews {
width: 360px;
height: 280px;
}

.btn {
  color: #ffffff;
  padding: 0.8rem;
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 4px;
  font-weight: 400;
  display: block;
  width: 100%;
  cursor: pointer;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
}

.btn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}

.cards {

  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.cards_item {
  height: 100%;
  display: flex;
  padding: 1rem;
}

@media (min-width: 40rem) {
  .cards_item {
    width: 50%;
  }
}

@media (min-width: 56rem) {
  .cards_item {
    width: 33.3333%;
  }
}

.card {
  background-color: white;
  border-radius: 0.25rem;
  box-shadow:  20px 40px -14px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.card_content {
  padding: 1rem;
  background: linear-gradient(to bottom left, #24377bc7 40%, #1492d1 100%);
}
.card_image img{
  width: 100%;
  height: 100%;
  height: 280px;
}
.card_title {
  color: #ffffff;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: capitalize;
  margin: 0px;
}

.card_text {
  color: #ffffff;
  font-size: 0.875rem;
  line-height: 1.5;
  margin-bottom: 1.25rem;    
  font-weight: 400;
}
.made_by{
  font-weight: 400;
  font-size: 13px;
  margin-top: 35px;
  text-align: center;
}
.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.pagination a {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.pagination a:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  background-color: #f1f1f1;
  color: black;
  margin-right: 20px;
}

.next {
  background-color: #092675;
  color: white;
  margin-left: 20px;
}

.round {
  border-radius: 50%;
}

@media only screen and (max-width: 768px) {
  .pagination {
    flex-wrap: wrap;
  }
  .previous {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .next {
    margin-left: 0;
    margin-top: 10px;
  }
}

.banner {
  
  position: relative;
  width: 100%;
  height: 60%;
 
  background-image: url('/assets/images/newss.jpg');
  background-size: cover;
  background-position: center;
  }
  .banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #001935b7;
  }
  
  .content {
  position: absolute;
  top: 60%;
  left: 5rem;
  transform: translateY(-50%);
  text-align: left;
  color: #fff;
  width: 50%;
  }
  .content h1 {
  font-size: 40px;
  }
  
  .content p {
  font-size: 12px;
  }
  
  .links{
  color: #e94e1b;
  }



  .fixe {
    position: fixed;
    width: 100%;
    justify-content: space-between;
    z-index: 100;
    background-color: #fff;
  }

  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    top:3.5rem ;
    left: 0;
    z-index: 100;
    background-color:#001935b4;
    padding: 10px;
    position: fixed;
    margin-top: 0rem;
  }
  
  .navbar .loh{
    width: 180px;

  }
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-left a {
    margin-right: 20px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar ul li {
    margin-right: 20px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
  }
  
  .navbar ul li i {
    color: #fff;
  }
  .scroll-nav {
    transition: top 0.3s ease-in-out;
  }
  
  .scroll-nav.sticky {
    top: 10;
  }

  
  .delete_button {

    margin-left: 250px;
    color: red;
    background: none;
    border: none;
    cursor: pointer;
  }



  .section {
      padding: 100px 0;
      position: relative;
  }
  .gray-bg {
      background-color: #ebf4fa;
  }
  /* Blog 
  ---------------------*/
  .blog-grid {
    margin-top: 15px;
    margin-bottom: 15px;
  }
  .blog-grid .blog-img {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
  }
  .blog-grid .blog-img .date {
    position: absolute;
    background: #3a3973;
    color: #ffffff;
    padding: 8px 15px;
    left: 0;
    top: 10px;
    font-size: 14px;
  }
  .blog-grid .blog-info {
    box-shadow: 0 0 30px rgba(31, 45, 61, 0.125);
    border-radius: 5px;
    background: #ffffff;
    padding: 20px;
    margin: -30px 20px 0;
    position: relative;
  }
  .blog-grid .blog-info h5 {
    font-size: 22px;
    font-weight: 500;
    margin: 0 0 10px;
  }
  .blog-grid .blog-info h5 a {
    color: #3a3973;
    
  }
  
  .blog-grid .blog-info p {
    margin: 0;
  }
  .blog-grid .blog-info .btn-bar {
    margin-top: 20px;
  }
  
  .px-btn-arrow {
      padding: 0 50px 0 0;
      line-height: 20px;
      position: relative;
      display: inline-block;
      color: #092675;
      -moz-transition: ease all 0.3s;
      -o-transition: ease all 0.3s;
      -webkit-transition: ease all 0.3s;
      transition: ease all 0.3s;
  }
  
  
  .px-btn-arrow .arrow {
      width: 13px;
      height: 2px;
      background: currentColor;
      display: inline-block;
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      right: 25px;
      -moz-transition: ease right 0.3s;
      -o-transition: ease right 0.3s;
      -webkit-transition: ease right 0.3s;
      transition: ease right 0.3s;
  }
  
  .px-btn-arrow .arrow:after {
      width: 8px;
      height: 8px;
      border-right: 2px solid currentColor;
      border-top: 2px solid currentColor;
      content: "";
      position: absolute;
      top: -3px;
      right: 0;
      display: inline-block;
      -moz-transform: rotate(45deg);
      -o-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      transform: rotate(45deg);
  }





  
  .px-btn-arrow:hover span {
    cursor: pointer;
    text-decoration: underline;
  }
  
  .px-btn-arrow:hover::after {
    transform: scaleX(1);
  }
  