
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/icons/tryit.asp?icon=far_fa-edit&unicon=f044">
  </head>
  <div class="banner">
    <!-- button logout -->
    <div class="navbar">
  <a href="#">
  <img src="assets\images\logomezzo.png" alt="Logo" class="logo"></a>
  <ul *ngIf="!isLoggedIn">
    <li><a href="/login"><i class="fa fa-user" aria-hidden="true"></i> Candidat</a></li>
    <li><a href="/loginemp"><i class="fa fa-user" aria-hidden="true"></i> Employee</a></li>
  </ul>
  <ul *ngIf="isLoggedIn">
    <li><a (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Se déconnecter</a></li>

    <li *ngIf="showCandidatBoard">
      <a href="/profile"><i class="fa fa-user-circle" aria-hidden="true"></i> {{currentUser.username}}</a>
    </li>
    <li *ngIf="showRecBoard">
      <a href="/"><i class="fa fa-user-circle" aria-hidden="true"></i> Recreteur Espace</a>
    </li>
    <li *ngIf="showRDBoard">
      <a href="/demandes"><i class="fa fa-user-circle" aria-hidden="true"></i> Resposbalde department Espace</a>
    </li>
    <li *ngIf="showEmployeeBoard">
      <a href="/"><i class="fa fa-user-circle" aria-hidden="true"></i> Employee Espace</a>
    </li>
    <li *ngIf="showAdminBoard">
      <a href="/"><i class="fa fa-user-circle" aria-hidden="true"></i> Admin Espace</a>
    </li>
    <li *ngIf="showRCBoard">
      <a href="/"><i class="fa fa-user-circle" aria-hidden="true"></i> Responsable RC Espace</a>
    </li>

  </ul>
    
    
      
        <!-- when you logged in every role get a navbar with his role page-->
     
    <!-- dropdown btn -->  
  
        <!-- button logout -->
        
       
      </div>  
  
      <div class="content">
        <h1>Demande d'embauche</h1>
        <p><a href="/demandevalide">Retour</a> / Demande d'embauche</p>
       
       </div>