
  <!-- Section: Design Block -->
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/icons/tryit.asp?icon=far_fa-edit&unicon=f044">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  
<section class="background-radial-gradient overflow-hidden">
  <div class="container px-4 py-5 px-md-5 text-center text-lg-start my-5">
    <div class="row gx-lg-5 align-items-center mb-5">
      <div class="col-lg-6 mb-5 mb-lg-0" style="z-index: 10">
        <h1 class="my-5 display-5 fw-bold ls-tight" style="color: hsl(218, 81%, 95%)">
          <a href="/acceuil" > 
            <img src="assets\images\mezologo.png" class="logo" alt="Logo">   
          </a> <br>
          <span style="color: hsl(218, 81%, 75%)">Votre Source D'opportunités.</span>
        </h1>
        <p class="mb-4 opacity-70" style="color: hsl(218, 81%, 85%)">
          Depuis 2005, SoMezzo oriente l’ensemble de ses énergies à l’amélioration continue de ses engagements de qualité et d’innovation participative. Notre expertise se concentre sur 4 principaux pôles ayant pour objectif d’offrir une relation sur-mesure à tous nos Clients dans un équilibre optimal Efficacité / Satisfaction Clients / ROI.
        </p>
      </div>

      <div class="col-lg-6 mb-5 mb-lg-0 position-relative">
        <div id="radius-shape-1" class="position-absolute rounded-circle shadow-5-strong"></div>
        <div id="radius-shape-2" class="position-absolute shadow-5-strong"></div>

        <div class="card bg-glass">
          <div class="card-body px-4 py-5 px-md-5"  *ngIf="!isLoggedIn">
            <form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" 
            [formGroup]="loginform" novalidate>
              <h1 class=" display-5 fw-bold ls-tight ">
                <span style="color: hsl(218, 81%, 75%)">Connexion</span>
              </h1>
            

              <div class="user-box">
                <input type="email" id="email" name="email" 
                [(ngModel)]="form.email" formControlName="email" required  />
                <div  *ngIf="email.invalid && (email.touched || email.dirty)">
                  <span *ngIf="email.errors?.required" style="color: rgb(83, 1, 1);">Email  est un champ obligatoire </span>
                <span *ngIf="email.errors.pattern" style="color: rgb(83, 1, 1);">Email doit être valide (ex: john.doe@example.com). </span>
              </div>
                <label>Email </label>
              </div>
              <div class="user-box">
                <input type="password" id="password"  name="password" [(ngModel)]="form.password" formControlName="password" required/>
                <div  *ngIf="password.invalid && (password.touched || password.dirty)">
                <span *ngIf="password && password.invalid && password.touched" style="color: rgb(83, 1, 1);">mot de passe  est un champ obligatoire </span>
                <span *ngIf="password.errors.minlength " style="color: rgb(83, 1, 1);">Le mot de passe doit contenir au moins 6 caractères.</span>

              </div>
              <label>Mot de passe </label>
              </div>

              <!-- Submit button -->
              <button type="submit" class="button"(click)="onSubmit()">
                <span></span>
                Connexion
              </button>
              <div class="form-group">
                <div *ngIf="f.submitted && isLoginFailed" class="alert alert-danger">
                  {{ errorMessage }}
                </div>
              </div>
              
              <!-- Register buttons -->
              <div class="text-center">
                <p>or connectez avec:</p>
                <button type="button" class="btn btn-link btn-floating mx-1" >
                  <i class="fa fa-facebook-f"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1" (click)="signInGoogleHandler()">
                  <i class="fa fa-google"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fa fa-twitter"></i>
                </button>

                <button type="button" class="btn btn-link btn-floating mx-1">
                  <i class="fa fa-github"></i>
                </button>
              </div>
              <div class="text sign-up-text">
                Vous n'avez pas de compte?<a href="#" style="color: #25377A; text-decoration: none; font-style: italic;" routerLink="/registre"> inscrire</a></div>
                <div class="text sign-up-text">
                Vous avez oublier votre mot de passe?<a href="#" style="color: #25377A; text-decoration: none; font-style: italic;" routerLink="/email">Réinitialiser le mot de passe</a></div>
           
              </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Section: Design Block   <html>
  <body>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <div id="g_id_onload"
         data-client_id="115572091174-fkldfanudglumfqon5stvl2siuhfat57.apps.googleusercontent.com"
         data-callback="handleCredentialResponse">
    </div>
     <div class="g_id_signin" data-type="standard"></div> 
  </body>
</html> -->