<!-- navbar-->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <!-- Bibliothèque Font Awesome pour les icônes -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
    <!-- Bibliothèque Ionicons pour les icônes -->
    <script src="https://maps.googleapis.com/maps/api/js?key= ChIJHyWUGN00_RIRm9T7HHymM_o&libraries=geometry,places"></script>
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
    <link rel="stylesheet" href="https://fontawesome.com/icons/app-store?f=brands&s=solid">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/icons/tryit.asp?icon=far_fa-edit&unicon=f044">
  </head>
  
  
 
  <div class="content-container" >
  <div class="fixe">
    <app-header-profil></app-header-profil>
    <div class="navbar navbar-fixed-top">
      <a href="/acceuil">
        <img src="/assets/images/logomezzo.png" class="loh" alt="Image 1">
      </a>
      <ul>
        <li><a href="/acceuil">Acceuil</a></li>
        <li><a href="/Contact">Contact</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/offres">offres</a></li>
        <li><a href="/mescandidature"></a></li>
      </ul>
    </div>
  </div>

  <div class="banner">
    <div class="content">
        <div class="content">
          <h1>Contact</h1>
          <p>
            <a class="links" href="/acceuil">Acceuil</a> /
            <a class="links" href="/Contact">page de Contact  </a>
          </p>
        </div>
      </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titre">
          <h1>Contacter Nous<br><hr style="width:10rem;height: 5px;color: #e91b1b; margin-left: 30rem;"></h1>
        </div>
      </div>
    </div>
  
    <div class="row">
      <div class="col-md-6">
        <div class="card">
          <iframe
            width="100%"
            height="660"
            frameborder="0"
            style="border: 0"
            src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12772.600915728191!2d10.20532!3d36.838878!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x12fd34dd21d113fd%3A0xd231b29f2e9d332f!2sMezzo%20Tunis!5e0!3m2!1sfr!2stn!4v1684825267484!5m2!1sfr!2stn"  allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"
            allowfullscreen=""
            loading="lazy"
          ></iframe>
        </div>
      </div>
    
      <div class="col-md-6">
        <div class="card">
            <form class="contact-form" *ngIf="contactForm" [formGroup]="contactForm" (ngSubmit)="onSubmit()">
                <h2>Formulaire de Contact</h2>
                <input type="text" placeholder="Nom et prénom" formControlName="name">
                <div class="text-danger" *ngIf="contactForm.get('name')?.invalid && (contactForm.get('name')?.dirty || contactForm.get('name')?.touched)">
                  <div class="text-danger" *ngIf="contactForm.get('name')?.hasError('required')">Le nom ett prénom est obligatoire.</div>
                </div>
              
                <input type="text" placeholder="Adresse e-mail" formControlName="email">
                <div *ngIf="contactForm.get('email')?.invalid && (contactForm.get('email')?.dirty || contactForm.get('email')?.touched)">
                  <div class="text-danger" *ngIf="contactForm.get('email')?.hasError('required')">L'adresse e-mail est obligatoire.</div>
                  <div class="text-danger" *ngIf="contactForm.get('email')?.hasError('pattern')">Email doit être valide (ex: john.doe@example.com).</div>
                </div>
                
              
                <textarea placeholder="Message" formControlName="message"></textarea>
                <div class="text-danger" *ngIf="contactForm.get('message')?.invalid && (contactForm.get('message')?.dirty || contactForm.get('message')?.touched)">
                  <div *ngIf="contactForm.get('message')?.hasError('required')">Le message est obligatoire.</div>
                </div>
              
                <button type="submit" class="btn btn-primary" [disabled]="contactForm.invalid"><i class="fa fa-send"></i> Envoyé</button>
                <ul>
                  <li><a href="#"><i class="fa fa-map" aria-hidden="true"></i> Rue de l'électricité, charguia, Tunis</a></li>
                  <li><a href="#"><i class="fa fa-phone" aria-hidden="true"></i> +33(0)3 59 30 53 00</a></li>
                </ul>
              </form>

        </div>

      </div>
    </div>
  </div>
  <app-footer></app-footer></div>