
  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    top:3.5rem ;
    left: 0;
    z-index: 100;
    background-color:#001935b4;
    padding: 10px;
    position: fixed;
    margin-top: 0rem;
  }
  
  .navbar .loh{
    width: 180px;

  }
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-left a {
    margin-right: 20px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar ul li {
    margin-right: 20px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
  }
  
  .navbar ul li i {
    color: #fff;
  }
  .scroll-nav {
    transition: top 0.3s ease-in-out;
  }
  
  .scroll-nav.sticky {
    top: 10;
  }


  .fixe {
    position: fixed;
    width: 100%;
    justify-content: space-between;
    z-index: 100;
    background-color: #fff;
  }
  
  
/* na3mlou design lel text content */
.banner {
  
  position: relative;
  width: 100%;
  height: 60%;
  background-image: url('/assets/images/cnt1.jpg');
  background-size: cover;
  background-position: center;
  }
  .banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #001935b7;
  }
  
  .content {
  position: absolute;
  top: 60%;
  left: 5rem;
  transform: translateY(-50%);
  text-align: left;
  color: #fff;
  width: 50%;
  }
  .content h1 {
  font-size: 40px;
  }
  
  .content p {
  font-size: 12px;
  }
  
  .links{
  color: #e94e1b;
  }



/* contact body designouet */
.titre h1{
  text-align: center;
  color: #20316d;
  font-weight: bold;
}


.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.col-md-6 {
  width: 50%;
  padding: 5px;
  margin-bottom: 70px;
  box-sizing: border-box;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
 
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}



.contact-form {
  display:flex;
  flex-direction: column;
  height: 40.5rem;
}

.contact-form input[type="text"],
.contact-form textarea {
  width: 100%;
  padding: 15px 0;
  font-size: 16px;
  margin: 30px 0 ;
  border: none;
  border-bottom:2px solid #333 ;
  outline: none;
  resize: none;
}










.contactForm{
  width: 50%;
  padding: 60px;
background: #fff;
}
.contact-Form h2{
  text-align: center;
  color: #20316d;
  font-weight: bold;
}
.contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-top: 20px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0 ;
  border: none;
  border-bottom:2px solid #333 ;
  outline: none;
  resize: none;

}
.contactForm .inputBox span{
  position: absolute;
  left: 0;
  
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;

}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
  color: #20316d;
  font-size: 12px;
  transform: translateY(-20px);
}

@media (max-width:991px){

  .contact{
      padding: 50px;

  }
  .container{
      flex-direction: column;

  }
  .contact .contactInfo{
      margin-bottom: 40px;

  }
  .container .contactInfo,.contactForm{
      width: 100%;
  }
}







 button {
  border: 5px solid #24377b;
  background-color: #24377b;
  color: #fff;
margin-top: 30px;
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;

}

 button:hover {
  background-color: #fff;
  border-color: #24377b;
  color: #24377b;
}


.contact-Form ul li{
  list-style: none;
  display: inline-block;
  position: relative;
  margin: 20px;
}

/* linkes design */
.contact-Form ul li a{
  text-decoration: none;
  color: #24377b;
  text-transform: uppercase;
}

.spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Set a higher z-index value */
}

.spinner .loader {
  border: 16px solid #f3f3f3; /* Light gray */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff13;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.content-container {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}

