<!-- menu-->
<div class="menu">
    <ul>
      <li><a href="#">À propos de nous</a></li>
      <li><a href="/offres">Offres d’emploi</a></li>
      <li><a href="/news">Actualités</a></li>
      <li><a href="#">Dépôt de CV</a></li>
      <li><a href="#">Contact</a></li>
      <li><a href="#">Catégories</a></li>
    </ul>
  </div>
