*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.menu{
  background-color: #f6f6f6;

}

ul {
  
  font-family: "Chivo Mono", monospace;
  display: flex;
  gap: 20px;
}

ul li {
  list-style: none;
}

ul li a {
  font-size: 20px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.564);
  padding: 10px;
  transition: 0.5s ease;
}

ul:hover li a {
  color: #25377A;
}

ul:hover li a:not(:hover) {
  color: #25377aac;
  opacity: 0.3;
  filter: blur(1px);
}


