<!-- <form (submit)="onSubmit()">
    <input type="text" name="titre" [(ngModel)]="form.titre" />
    <input type="text" name="content" [(ngModel)]="form.content" />
    <button type="submit">Create News</button>
 
  </form> -->
  <div class="fixe">
    <app-header-profil></app-header-profil>
    <div class="navbar navbar-fixed-top">
      <a href="/acceuil">
        <img src="/assets/images/logomezzo.png" class="loh" alt="Image 1">
      </a>
      <ul>
        <li><a href="/acceuil">Acceuil</a></li>
        <li><a href="/Contact">Contact</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/offres">offres</a></li>
        <li><a href="/mescandidature"></a></li>
      </ul>
    </div>
  </div>
<div class="banner">
  <div class="content">
        <div class="content">
          <h1>Crée un actualité</h1>
          <p>
            <a class="links" href="/acceuil">Acceuil</a> /
            <a class="links" >Crée un actualité </a>
          </p>
        </div>
      </div>
</div>  

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="titre">
        <h1>Ajouté Un Actualité<br><hr style="width:10rem;height: 5px;color: #e91b1b; margin-left: 30rem;"></h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card">
          <form class="contact-form" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate
          [formGroup]="loginform">
          <h2>créer actualité</h2>
          <input type="text" placeholder="Titre de la l'actualité " 
          class="input" [(ngModel)]="form.titre" name="titre" formControlName="titre" required id="titre" />
        
          <div *ngIf="titre.invalid && (titre.touched || titre.dirty)">
            <span *ngIf="titre.errors?.required" style="color: red;">titre de la l'actualité est un champ obligatoire</span>
          </div>
        
          <textarea placeholder="contenu de l'actualité" name="content" [(ngModel)]="form.content" formControlName="content"></textarea>
          <div *ngIf="content.invalid && (content.touched || content.dirty)">
            <span *ngIf="content.errors?.required" style="color: red;">content de la l'actualité est un champ obligatoire</span>
          </div>
        
          
          <button>Créer actualité</button>
          <div *ngIf="f.submitted && f.invalid">
            <span style="color: red;">Le formulaire est invalide</span>
          </div>
         
        
        </form> 
      </div>
    </div>
  
    <div class="col-md-6">
      <div class="card">
<img  src="/assets/images/save.jpg">
      </div>

    </div>
  </div>
</div>




<app-footer></app-footer>