
/* contact body designouet */
.titre h1{
  text-align: center;
  color: #20316d;
  font-weight: bold;
}


.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
}

.col-md-6 {
  width: 50%;
  padding: 5px;
  margin-bottom: 70px;
  box-sizing: border-box;
}

.card {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
 height: 35rem;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}



.contact-form {
  display:flex;
  flex-direction: column;
  
}

.contact-form input[type="text"],
.contact-form textarea {
  width: 100%;
  padding: 15px 0;
  font-size: 16px;
  margin: 30px 0 ;
  border: none;
  border-bottom:2px solid #333 ;
  outline: none;
  resize: none;
}










.contactForm{
  width: 50%;
  padding: 60px;
background: #fff;
}
.contact-Form h2{
  text-align: center;
  color: #20316d;
  font-weight: bold;
}
.contactForm .inputBox{
  position: relative;
  width: 100%;
  margin-top: 20px;
}
.contactForm .inputBox input,
.contactForm .inputBox textarea{
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0 ;
  border: none;
  border-bottom:2px solid #333 ;
  outline: none;
  resize: none;

}
.contactForm .inputBox span{
  position: absolute;
  left: 0;
  
  padding: 5px 0;
  font-size: 16px;
  margin: 10px 0;
  pointer-events: none;
  transition: 0.5s;
  color: #666;

}
.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span
{
  color: #20316d;
  font-size: 12px;
  transform: translateY(-20px);
}

@media (max-width:991px){

  .contact{
      padding: 50px;

  }
  .container{
      flex-direction: column;

  }
  .contact .contactInfo{
      margin-bottom: 40px;

  }
  .container .contactInfo,.contactForm{
      width: 100%;
  }
}

.fixe {
  position: fixed;
  width: 100%;
  justify-content: space-between;
  z-index: 100;
  background-color: #fff;
}






 button {
  border: 5px solid #24377b;
  background-color: #24377b;
  color: #fff;
margin-top: 50px;
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 10px;
}

 button:hover {
  background-color: #fff;
  border-color: #24377b;
  color: #24377b;
}


.contact-Form ul li{
  list-style: none;
  display: inline-block;
  position: relative;
  margin: 20px;
}

/* linkes design */
.contact-Form ul li a{
  text-decoration: none;
  color: #24377b;
  text-transform: uppercase;
}



.card img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}

.card:hover img {
  transform: scale(1.1);
} 
  .banner {
  
    position: relative;
    width: 100%;
    height: 60%;
   
    background-image: url('/assets/images/newss.jpg');
    background-size: cover;
    background-position: center;
    }
    .banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #001935b7;
    }
    
    .content {
    position: absolute;
    top: 60%;
    left: 5rem;
    transform: translateY(-50%);
    text-align: left;
    color: #fff;
    width: 50%;
    }
    .content h1 {
    font-size: 40px;
    }
    
    .content p {
    font-size: 12px;
    }
    
    .links{
    color: #e94e1b;
    }

    .fixe {
      position: fixed;
      width: 100%;
      justify-content: space-between;
      z-index: 100;
      background-color: #fff;
    }
    .navbar {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
     
      top:3.5rem ;
      left: 0;
      z-index: 100;
      background-color:#001935b4;
      padding: 10px;
      position: fixed;
      margin-top: 0rem;
    }
    
    .navbar .loh{
      width: 180px;
  
    }
    .navbar-left {
      display: flex;
      align-items: center;
    }
    
    .navbar-left a {
      margin-right: 20px;
    }
    
    .navbar-right {
      display: flex;
      align-items: center;
    }
    
    .navbar ul {
      list-style: none;
      margin: 0;
      padding: 0;
      display: flex;
    }
    
    .navbar ul li {
      margin-right: 20px;
    }
    
    .navbar ul li a {
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
    }
    
    .navbar ul li i {
      color: #fff;
    }
    .scroll-nav {
      transition: top 0.3s ease-in-out;
    }
    
    .scroll-nav.sticky {
      top: 10;
    }