<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/icons/tryit.asp?icon=far_fa-edit&unicon=f044">
</head>

<body *ngIf="showCandidatBoard">

  <app-dvheader></app-dvheader>

  <div class="our-team" *ngIf="isLoggedIn">
    <div class="picture">
      <img class="img-fluid" src="http://localhost:8080/api/test/image/id={{utilisateur.id}}" *ngIf="utilisateur.photos ">
      <img class="img-fluid" src="/assets/images/avatar7-3223699.png" *ngIf="!utilisateur.photos ">
    </div>

    <h3 class="name">Modifier Profile</h3>

    <form (ngSubmit)="modifierUser()" class="container" *ngIf="isLoggedIn" #f="ngForm" novalidate
      [formGroup]="editform">
      <div class="input-container">
        <div class="user-box">
          <h6>Nom : </h6>
          <input type="username" id="username" name="username" placeholder="Nom d'utilisateur "
            [(ngModel)]="utilisateur.username" formControlName="username" />
          <span *ngIf="username && username.invalid && username.touched" style="color: red;">nom d'utilisateur est un
            champ obligatoire</span>
        </div>

        <div class="user-box">
          <h6> Email: <span style="color: red;">inchangé</span></h6>
          <input type="email" [(ngModel)]="utilisateur.email" formControlName="email" readonly />

        </div>
      </div>
      <div class="input-container">
        <div class="user-box">
          <h6>Adresse:</h6>
          <input type="adresse" id="adresse" name="adresse" [(ngModel)]="utilisateur.adresse" formControlName="adresse">
          <span *ngIf="adresse && adresse.invalid && adresse.touched" style="color: red;">adresse est un champ
            obligatoire</span>

        </div>
        <div class="user-box">
          <h6>Sexe</h6>
          <input type="text" id="gender" name="gender" [(ngModel)]="utilisateur.gender" formControlName="gender">
          <span *ngIf="gender && gender.value && !isValidGender(gender.value)" style="color: red;">Vous ne pouvez entrer que 'homme' ou 'femme'</span>
        </div>
      </div>
      <div class="input-container">
        <div class="user-box">
          <h6>téléphone:</h6>
          <input type="number" id="phone" name="phone" [(ngModel)]="utilisateur.phone" formControlName="phone">
          <span *ngIf="phone && phone.invalid && phone.touched" style="color: red;">Le Numéro de télèphone est un champ
            obligatoire </span>

        </div>
        <div class="user-box">
          <h6>date de naissance</h6>
          <input type="date" id="date_naiss" name="date_naiss" [(ngModel)]="utilisateur.date_naiss"
            formControlName="date_naiss">
          <span *ngIf="date_naiss && date_naiss.invalid && date_naiss.touched" style="color: red;">Le date de naissance
            est un champ obligatoire </span>
          <span *ngIf="isUnderAge()" style="color: red;">Vous devez avoir entre 18 et 45 ans.</span>

        </div>
      

        <div class="user-box">
          <form (ngSubmit)="onSubmite()" enctype="multipart/form-data">
            <h6> photo de profile :</h6>
            <input type="file" id="image" name="image" (change)="onFileSelected($event)" accept="image/*" />
          </form>
        </div>
        <div class="user-box">
          <form (ngSubmit)="cvupdate()" enctype="multipart/form-data">
            <h6> cv:</h6>
            <input type="file" id="file" name="file" (change)="onCvSelected($event)" />
          </form>

        </div>


        <div>


        </div>
      </div>
      <button type="submit" class="button" (click)=" modifierUser()" [disabled]="editform.invalid"><span></span> <i
          class='fa fa-save' aria-hidden="true"></i> Enregistrer</button>
      <button type="submit" class="button" (click)="annuler()"><span class="btnet"></span> <i class='fa fa-sign-out'
          aria-hidden="true"></i>Annuler</button>

    </form>
    <ul class="social">
      <li><a href="#" class="fa fa-facebook" aria-hidden="true"></a></li>
      <li><a href="#" class="fa fa-twitter" aria-hidden="true"></a></li>
      <li><a href="#" class="fa fa-google-plus" aria-hidden="true"></a></li>
      <li><a href="#" class="fa fa-linkedin" aria-hidden="true"></a></li>
    </ul>
  </div>
</body>
<app-footer></app-footer>