.span{
  font-size: 20px;
}
.shadow {
    box-shadow: 0 0 3px rgb(53 64 78 / 20%) !important;
}
.rounded {
    border-radius: 5px !important;
}
.bg-light {
    background-color: #f7f8fa !important;
}


.badge {
    padding: 5px 8px;
    border-radius: 3px;
    letter-spacing: 0.5px;
    font-size: 12px;
}

.btn-primary, .btn-outline-primary:hover, .btn-outline-primary:focus, .btn-outline-primary:active, .btn-outline-primary.active, .btn-outline-primary.focus, .btn-outline-primary:not(:disabled):not(.disabled):active {
    box-shadow: 0 3px 7px #2D58C4 !important;
}

.badge {
  background-color: #6dc77a;
}
.btn {
    padding: 8px 20px;
    outline: none;
    text-decoration: none;
    font-size: 16px;
    letter-spacing: 0.5px;
    transition: all 0.3s;
    font-weight: 600;
    border-radius: 5px;
}
.btn-primary {
    background-color: #2D58C4 !important;
    border: 1px solid #2D58C4 !important;
    color: #fff !important;
    box-shadow: 0 3px 7px #2D58C4;
}

a {
text-decoration:none;    
}
h4{
  text-decoration: none;
  text-transform: uppercase;
  color: #2D58C4;
  font-weight: bold;

  position: relative;
  display: inline-block;
  z-index: 1;

}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: #2D58C4;
    font-weight: bold;
    font-size: 12px;
    position: relative;
    display: inline-block;
    z-index: 1;
    padding: 5px;
    left: -5px;
  }
  
  a:hover {
    color: #2D58C4;
  }
  
  a::before {
    content: '';
    z-index: -1;
   position: absolute;
   top: calc(50%);
   left: 0;
   width: 100%;
   height: 40%;
   pointer-events: none;
   background: #B7CCFF;
   transform: scale3d(0,1,1);
   transform-origin: 0% 50%;
   transition: transform 0.33s;
  }
  
  a:hover::before {
    transform: scale3d(1,1,1);
   transform-origin: 0% 50%;
  }
 

  
  .fixe {
    position: fixed;
    width: 100%;
    justify-content: space-between;
    z-index: 100;
    background-color: #fff;
  }
  
  /* Media query for smaller screens */
  @media screen and (max-width: 767px) {
    .fixe {
      justify-content: center;
    }
  }
  
  /* Media query for larger screens */
  @media screen and (min-width: 768px) {
    .fixe {
      justify-content: space-between;
    }
  }
  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top:3.5rem ;
    left: 0;
    z-index: 100;
    background-color:#001935b4;
    padding: 10px;
    position: fixed;
    margin-top: 0rem;
  }
  
  .navbar .loh{
    width: 180px;
  
  }
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-left a {
    margin-right: 20px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar ul li {
    margin-right: 20px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
  }
  
  .navbar ul li i {
    color: #fff;
  }