<div *ngIf="showRCBoard ">


<app-dvheader></app-dvheader>

<div class="container mt-5 pt-4" style="margin-bottom: 10rem;" >
  <div class="row align-items-end mb-4 pb-2">

     
        <h4 class="title mb-4">Liste de vos demandes validées</h4>
   

    <div class="col-md-4 mt-4 mt-sm-0 d-none d-md-block">
      <div class="text-center text-md-end">
      </div>
    </div><!--end col-->
  </div><!--end row-->

  <div class="row">
    <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2" *ngFor="let demande of demandes">
      <div class="card border-0 bg-light rounded shadow">
        <div class="card-body p-4">

          <span class="badge rounded-pill bg-green float-md mb-3 mb-sm-0"
          [ngClass]="{
            'bg-success': demande.validation.toLowerCase() === 'valide',
            'bg-danger': demande.validation.toLowerCase() === 'refuse',
            'bg-secondary': demande.validation === 'EN_ATTENTE'
          }"
        >
          {{ demande.validation }}
        </span>


          <h5>Nom de la demandeur : {{ demande.utilisateur.username }}</h5>
          <div class="mt-3">
            <span class="text-muted d-block"> <span class="span">Site : </span>{{
              demande.site }}</span>
            <span class="text-muted d-block"> <span class="span">Le temps de travail : </span>{{
              demande.temps_travail }}</span>

            <span class="text-muted d-block"><span class="span">Type de contrat : </span>{{
              demande.type_contrat }}</span>
            <span class="text-muted d-block" *ngIf="demande.description"><span class="span">Description :</span> {{
              demande.description }}</span>

          </div>

          <div class="mt-3">
            <a  class="btn btn-primary" (click)="detail(demande.id)">Voir le Detail</a>
          </div>
        </div>
      </div>
    </div><!--end col-->


  </div><!--end row-->
</div>
<app-footer></app-footer></div>