
<div *ngIf="showRDBoard">
  <app-dvheader></app-dvheader>

  <body>
    <div class="card shadow" style="margin-bottom: 5rem;">
      <h2 class="form-heading">Modifier votre demande</h2>
      <div class="form">

        <form name="form" (ngSubmit)="onSubmit()" #f="ngForm" novalidate *ngIf="!isSuccessful">
          <div class="form-group">
            <label for="site">Site :</label>
            <span class="required">*</span>
          </div>
          <select id="site" name="site" [(ngModel)]="demande.site" required #site="ngModel">
            <option [value]="null" disabled selected>Sélectionnez le nom du site</option>
            <option value="Tunis">Tunis</option>
            <option value="Lille">Lille</option>
          </select>
          <div *ngIf="site.invalid && (site.dirty || site.touched)" class="error-message" style="color: red;">
            Le site est un champ obligatoire.
          </div>

          <div class="form-group">
            <label for="date_integration">Date d'intégration :</label>
            <span class="required">*</span>
          </div>
          <input type="date" id="date_integration" name="date_integration"
            [ngModel]="demande.date_integration | date:'yyyy-MM-dd'"
            (ngModelChange)="demande.date_integration = $event" required #date_integration="ngModel"
            placeholder="Entrez la date d'intégration">
          <span *ngIf="date_integration.invalid && date_integration.touched" style="color: red;">
            La date d'intégration est un champ obligatoire.
          </span>

          <div class="form-group">
            <label for="type_contrat">Type de contrat :</label>
            <span class="required">*</span>
          </div>
          <select id="type_contrat" name="type_contrat" required [(ngModel)]="demande.type_contrat" #type_contrat="ngModel">
            <option [value]="null" disabled selected>Sélectionnez un type de contrat</option>
            <option value="CDI">CDI</option>
            <option value="CDD">CDD</option>
            <option value="Stage">Stage</option>
            <option value="Alternance">Alternance</option>
          </select>
          <div *ngIf="type_contrat.invalid && (type_contrat.dirty || type_contrat.touched)" class="error-message"
            style="color: red;">
            Le type de contrat est un champ obligatoire.
          </div>

          <div class="form-group">
            <label for="nbr_collab">Nombre de collaborateurs :</label>
            <span class="required">*</span>
          </div>
          <input type="number" id="nbr_collab" name="nbr_collab" [(ngModel)]="demande.nbr_collab" required
            #nbr_collab="ngModel" placeholder="Entrez le nombre de collaborateurs">
          <span *ngIf="nbr_collab.invalid && nbr_collab.touched" style="color: red;">
            Le nombre de collaborateurs est un champ obligatoire.
          </span>

          <div class="form-group">
            <label for="expiration">Date d'expiration :</label>
            <span class="required">*</span>
          </div>
          <input type="date" id="expiration" name="expiration"
            [ngModel]="demande.expiration | date:'yyyy-MM-dd'"
            (ngModelChange)="demande.expiration = $event" required #expiration="ngModel"
            placeholder="Entrez la date d'expiration">
          <span *ngIf="expiration.invalid && expiration.touched" style="color: red;">
            La date d'expiration est un champ obligatoire.
          </span>
          <div *ngIf="!isValidDateRange()"  style="color: red;">
            La date d'expiration doit être supérieure à la date de recrutement.
          </div>
          <div class="form-group">
            <label for="temps_travail">Temps de travail :</label>
            <span class="required">*</span>
          </div>
          <select id="temps_travail" name="temps_travail" required [(ngModel)]="demande.temps_travail"
            #temps_travail="ngModel">
            <option [value]="null" disabled selected>Sélectionnez un temps de travail</option>
            <option value="Temps plein">Temps plein</option>
            <option value="Temps partiel">Temps partiel</option>
            <option value="Télétravail">Télétravail</option>
            <option value="Horaires flexibles">Horaires flexibles</option>
          </select>
          <div *ngIf="temps_travail.invalid && (temps_travail.dirty || temps_travail.touched)" class="error-message"
            style="color: red;">
            Le temps de travail est un champ obligatoire.
          </div>

     
    <div class="form-group">
      <label for="profile_chercher">Profil recherché:</label>
     <span class="required">*</span>
   </div>
    <input type="profile_chercher" id="profile_chercher" name="profile_chercher" [(ngModel)]="demande.profile_chercher" required #profile_chercher="ngModel" placeholder="Entrez le profil recherché">
    <span *ngIf="profile_chercher && profile_chercher.invalid && profile_chercher.touched" style="color: red;">  Profil cherché  est un champ obligatoire.  </span>

    
    <div class="form-group">
        <label for="poste_recherche">Poste recherché:</label>
     <span class="required">*</span>
   </div>
    <input type="poste_recherche" id="poste_recherche" name="poste_recherche" [(ngModel)]="demande.poste_recherche" required #poste_recherche="ngModel" placeholder="Entrez le poste recherché">
    <span *ngIf="poste_recherche && poste_recherche.invalid && poste_recherche.touched" style="color: red;">   Poste cherché  est un champ obligatoire.  </span>

          <div class="form-group">
            <label for="description">Description :</label>
          </div>
          <textarea id="description" name="description" [(ngModel)]="demande.description" #description="ngModel"
            placeholder="Entrez la description"></textarea>

          <input type="submit" value="Modifier la demande">
          <app-spinner *ngIf="showSpinner"></app-spinner>
          <div class="form-group">
            <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-danger">
              Erreur lors de la mise à jour de la demande.
            </div>
          </div>
        </form>
      </div>
    </div>
  </body>
  <app-footer></app-footer>

</div>