

    /* navbar */

/* Définition des couleurs */
:root {
  --primary-color: #e94e1b;
  --secondary-color: #24377b;
  --sidebar-color: #f8f9fa;
}

/* Style des sous-titres */
.field-title {
  font-weight: bold;
  color: var(--primary-color);
}

/* Style des icônes */
.fa {
  color: #e94e1b;
}
body{
  margin-bottom: 90px;
}




.list-group , .card-header{
  margin:  0 auto;

  
}
.sidebar{
  margin-top: 20px;
}


.btn-primary, .btn-danger, .btn-secondary {
  background-color: #24377b;
  border-color: #fff;
}

.btn-primary:hover, .btn-danger:hover, .btn-secondary:hover {
  background-color: #24377b;
  border-color: #24377b;
}



.buttons-container button {
  border: 2px solid #24377b;
  background-color: #f2f2f2;
  color: #24377b;
margin-top: 30px;
  margin-right: 10px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.buttons-container button:hover {
  background-color: #24377b;
  border-color: #24377b;
  color: #fff;
}

.buttons-container{
  width: 100rem;
}

/* Media queries pour le responsive */
@media (max-width: 991px) {
  .sidebar {
    height: auto;
    margin-top: 20px;
  }

  .text-container {
    margin-top: 20px;
  }
}
  
  
  /* show offre*/
  .news-card {
    margin-top: 20px;
    width: 50rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    background-color: #fff;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 20px;
    transition: transform 0.2s ease-in-out;
    cursor: pointer;
    }
    
    .news-card:hover {
    transform: translateY(-5px);
    }
    
    .news-card h1 {
    font-size: 28px;
    font-weight: bold;
    margin: 10px 0 0;
    }
    
    .news-card p {
    margin: 5px 0;
    color: #bcbcbb;
    
    }
    
    .news-card h6 {
      font-size: 14px;
    
      color: #24377b;
      
      }
      
    
    @media screen and (max-width: 768px) {
    .news-card {
    padding: 10px;
    }
    
    .news-card h1 {
    font-size: 24px;
    }
    
    .news-card p {
    font-size: 14px;
    }
    
    .news-card button {
    font-size: 14px;
    padding: 8px 16px;
    }
    }
  