<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/icons/tryit.asp?icon=far_fa-edit&unicon=f044">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<app-dvheader></app-dvheader>

<body>
  <div class="container">

    <div class="row">

      <div class="col-md-8">

        <div class="text-container">
          <h6 *ngIf="isLoggedIn && offre.desactive" style="color: red;">
            <i class="fa fa-exclamation-circle" aria-hidden="true"></i>
            Cette offre est désactivée pour le moment
          </h6>
          <h6>Likes sur cette offre : {{offre.like}}</h6>
          <!-- <img src="http://localhost:8080/api/test/image/idd={{offre.id}}" alt="logo" width="850px" height="350px"> -->

          <h1>{{offre.titre}}</h1>
          <!-- <p class="time">   <i class="fa fa-clock-o"></i>    {{offre.date_publication | date:'medium' }}</p> -->
          <p class="field-title"><i class="fa fa-map-marker"></i> Lieu : </p>
          <p>{{offre.lieu}}</p>
          <p class="field-title" *ngIf="showRCBoard"><i class="fa fa-map-marker"></i> typeOffre : </p>
          <p *ngIf="showRCBoard">{{offre.typeOffre}}</p>

          <p class="field-title"><i class="fa fa-file"></i> Description :</p>
          <p>{{offre.description}}</p>

          <p class="field-title"><i class="fa fa-briefcase"></i> Type de poste :</p>
          <p>{{offre.type_poste}}</p>

          <p class="field-title"><i class="fa fa-file-archive-o"></i> Type de contrat :</p>
          <p>{{offre.type_contrat}}</p>

          <p class="field-title"><i class="fa fa-user"></i> Compétences requises :</p>
          <p>{{offre.competence}}</p>

          <p class="field-title"><i class="fa fa-clock-o"></i> Régime :</p>
          <p>{{offre.regime}}</p>

          <p class="field-title"><i class="fa fa-calendar"></i> Date de recrutement :</p>
          <p>{{offre.date_recrut}}</p>

          <p class="field-title"><i class="fa fa-calendar"></i> Date de Expiration:</p>
          <p> {{offre.date_fin}}</p>

          <div class="buttons-container">
            <!-- *ngIf="isLoggedIn" -->
            <button type="button" class="btn btn-primary" (click)="updateOffre(offre.id)" *ngIf="showRCBoard "><i
                class="fa fa-edit"></i> Modifier offre</button>
            <button type="button" class="btn btn-danger" (click)="remove(offre.id,offre)" *ngIf="showRCBoard "><i class="fa fa-trash"></i> Supprimer</button>
            <button type="button" class="btn btn-danger" (click)="candidats(offre.id)" *ngIf="showRCBoard "> 
              <i class="fa fa-search" aria-hidden="true"></i>
              Liste des candidats</button>
              <button type="button" class="btn btn-danger" (click)="navtopostuler(offre.id)"
              *ngIf="isLoggedIn && !offre.desactive">
              <i class="fa fa-external-link" aria-hidden="true"></i>
              postuler </button>
            <h6 *ngIf="!isLoggedIn" style="color: red; ">Vous devez vous connecter pour pouvoir postuler <a
                href="/login">Click ici</a></h6>
            <!-- l button postuler ken l offre desactivated ma3adesh tetrana  -->
          
            

          </div>
        </div>

      </div>

      <div class="col-md-4">

        <div class="card sidebar">



          <div class="card-footer">
            <a href="/offres" class="btn btn-secondary btn-block" (click)="activateOffre(offre.id)" *ngIf="showRCBoard">
              <i class="fa fa-arrow-left"></i> Activer
            </a>
            <a href="/offres" class="btn btn-secondary btn-block" (click)="desactiverOffre(offre.id)"
              *ngIf="showRCBoard">
              <i class="fa fa-arrow-left"></i> Désactiver
            </a>
            <a href="/offres" class="btn btn-secondary btn-block">
              <i class="fa fa-arrow-left"></i> Offres
            </a>

          </div>
        </div>

      </div>

    </div>

  </div>

</body>
<app-footer></app-footer>