<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/icons/tryit.asp?icon=far_fa-edit&unicon=f044">
  </head>
  <app-dvheader></app-dvheader>
 
    <body>
   
  <div class="container" *ngIf="isLoggedIn ">
    <div class="row" *ngIf="candidatures && candidatures.length > 0">
      <div class="col-12 col-sm-6 col-md-4 col-lg-3" *ngFor="let candidature of candidatures; let i=index"  (click)="detail(candidature.id)">
        <div class="our-team">
          <div class="picture">
            <img class="img-fluid"  src="http://localhost:8080/api/test/image/id={{candidature.utilisateur.id}}" class="img-radius" alt="User-Profile-Image" *ngIf="candidature.utilisateur.photos ">
            <img class="img-fluid" src="/assets/images/avatar7-3223699.png" *ngIf="!candidature.utilisateur.photos " class="img-radius" alt="User-Profile-Image">

          </div>
          <div class="team-content">
       
            <h6 class="candidat">Nom de la candidat : </h6>
            <h3 class="name">{{ candidature.utilisateur.username }} </h3>
            <h4 class="title">
          
              <span class="badge rounded-pill bg-green float-md mb-3 mb-sm-0"
              [ngClass]="{
                'bg-success': candidature.etat === 'Accepté',
                'bg-danger': candidature.etat === 'Refusé',
                'bg-secondary': candidature.etat === 'en attente'
              }"
              >{{ candidature.etat }}      </span>
            
            </h4>

            Candidature {{ i + 1 }}
          </div>
          <ul class="social">
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-twitter" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-google-plus" aria-hidden="true"></a></li>
            <li><a href="https://codepen.io/collection/XdWJOQ/" class="fa fa-linkedin" aria-hidden="true"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
       </body> 
        <app-footer></app-footer>