body {
  font-family: tahoma;
  height: 100vh;
 
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
}

.our-team {
  padding: 20px 0 30px;
  margin-bottom: 30px;
  margin-top: -20rem;

  background-color: #fff;
  text-align: center;
  overflow: hidden;
  position: relative;
  border-radius: 1rem;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);

}
.row:hover {
  transform: translateY(-5px);
  cursor: pointer;
  }
.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 50px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #24377b;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #24377b;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}

.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #24377b;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #24377b;
  background-color: #f7f5ec;
}


/* na3mlou design lel text content */
.banner {
  
position: relative;
width: 100%;
height: 50%;
background-image: url('/assets/images/recc.jpg');
background-size: cover;
background-position: center;
}
.banner::before {
content: "";
position: absolute;
top: 0;
left: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.75);
}

.content {
position: absolute;
top: 60%;
left: 5rem;
transform: translateY(-50%);
text-align: left;
color: #fff;
width: 50%;
}
.content h1 {
font-size: 40px;
}

.content p {
font-size: 12px;
}

.links{
color: #e94e1b;
}
/* navbar transparent */
.navbar{

width:100%;
margin: auto;
margin-top: -20px;
padding-left: 50px;
display: flex;
align-items: center;
justify-content: space-between;
font-family:Arial, Helvetica, sans-serif;
}

/* logo design */
.logo{
width: 180px;
height: 60px;
padding-top: 20px;
padding-right: 20px;
cursor: pointer;
}
.logo-container {
  flex: 1;

}

.logo-container img{
  position: absolute;
  width: 170px;
  margin-left: 20px;
  top: 30px;
}

/* items design */
.navbar ul li{
list-style: none;
display: inline-block;
margin: 20px;
padding-top: 10px;
position: relative;
}

/* linkes design */
.navbar ul li a{
text-decoration: none;
color:#fff;
}

/* nzido star ta7t items */
.navbar ul li::after{
content:'' ;
height: 3px;
width: 0;
background: #e94e1b;
position: absolute;
left: 0;
bottom: -5px;
transition: 0.5s;
}

.navbar ul li:hover::after{
width: 100%;
}

.navbar ul li i{
color: #e94e1b; 
}

@media screen and (max-width: 768px) {
/* adjust logo size for smaller screens */
.logo {
width: 120px;
}

/* center items on smaller screens */
.navbar ul {

display: flex;
flex-direction: column;
align-items: center;
}

/* remove margin between items on smaller screens */
.navbar ul li {
margin: 10px 0;
}
}
input[type="text"] {
  border: 2px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

input[type="text"]:focus {
  border-color: #e94e1b;
  outline: none;
}

.search-container {
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #ddd;
  padding: 5px;
}

.search-container input[type="text"] {
  flex: 1;
  border: none;
  margin-left: 10px;
}

.search-container input[type="text"]::placeholder {
  font-style: italic;
}
.input-orange:focus,
.select-orange:focus {
  border-color: #e94e1b;
  box-shadow: 0 0 0 0.25rem rgba(233, 78, 27, 0.25);
}
select.form-select option:checked {
  background-color: #e94e1b;
  color: white;
}

select.form-select option {
  color: black;
}


