<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/icons/tryit.asp?icon=far_fa-edit&unicon=f044">
  <style>
    .navbar.fixed {
      position: sticky;
      top: 0;
      z-index: 999;
    }

    .navbar .dropdown.show .dropdown-menu {
      display: block;
    }
  </style>
  <script>
    window.addEventListener('DOMContentLoaded', () => {
      const navbar = document.querySelector('.navbar');
      const dropdown = document.querySelector('.navbar .dropdown');
      const dropdownMenu = document.querySelector('.navbar .dropdown-menu');

      // Add 'fixed' class to navbar on page load if path is '/acceuil'
      if (window.location.pathname === '/acceuil') {
        navbar.classList.add('fixed');
      }

      // Add 'fixed' class to navbar when dropdown menu is open
      dropdown.addEventListener('show.bs.dropdown', () => {
        navbar.classList.add('fixed');
      });

      // Remove 'fixed' class from navbar when dropdown menu is closed
      dropdown.addEventListener('hide.bs.dropdown', () => {
        navbar.classList.remove('fixed');
      });

      // Remove 'fixed' class from navbar when cursor is not on the dropdown items
      dropdownMenu.addEventListener('mouseleave', () => {
        if (!dropdown.classList.contains('show')) {
          navbar.classList.remove('fixed');
        }
      });
    });
  </script>
</head>

<div class="navbar">

  <div class="dropdown">
  <button class="menu-button">&#9776;</button>
  <ul class="dropdown-content">
    <li><a href="/about"> Tunis</a></li>
    <li><a href="/about">Lile</a></li>
    <li><a href="/about"> +33(0)3 59 30 53 00</a></li>
    <li><a href="/about">info@somezzo.com</a></li>
    <li *ngIf="!isLoggedIn"><a href="/login">Candidat</a></li>
    <li *ngIf="!isLoggedIn"><a href="/loginemp">Employé</a></li>
  </ul>
</div>

  
  <div class="logo-container">
    <ul>
      <li><a href="/about"><i></i><img src="/assets/images/tunisia.png" alt="#" />Tunis</a></li>
      <li><a href="/about"><i></i><img src="/assets/images/france.png" alt="#" />Lile</a></li>
      <li><a href="/about"><i class="fa fa-envelope" aria-hidden="true"></i>
          info@somezzo.com </a></li>
      <li><a href="/about"><i class="fa fa-phone" aria-hidden="true"></i> +33(0)3 59 30 53 00</a></li>
    </ul>
  </div>

  <ul *ngIf="!isLoggedIn">
    <li><a href="/login"><i class="fa fa-user" aria-hidden="true"></i> Candidat</a></li>
    <li><a href="/loginemp"><i class="fa fa-user" aria-hidden="true"></i> Employee</a></li>
  </ul>

  <ul *ngIf="isLoggedIn">
    <!-- // hedhy l add demandes yshoufhom l admin notifications -->
    <span (click)="resetNotificationCount()" *ngIf="showAdminBoard">
      <span class="notification-icon" (click)="showNotifications()">
        <i class="fa fa-bell"></i>
        <span class="notification-count" [ngClass]="{'empty': notificationCount === 0}">
          {{ notificationCount }}
        </span>
      </span>
    </span>
    
 <!-- // hedhy l demandes valide yshoufhom l responsable de departement notifications -->
        <span  (click)="resetNotificationCountvalide()"   *ngIf="showRCRBoard">

          <span class="notification-icon" (click)="showNotificationsvalide()" >
            <i class="fa fa-bell"></i>
            <span class="notification-count" [ngClass]="{'empty': notificationCountvalide === 0}" >
              {{ notificationCountvalide }}
            </span>
                </span> </span>
            

    <li><a (click)="logout()"><i class="fa fa-sign-out" aria-hidden="true"></i> Se déconnecter</a></li>

    <li *ngIf="showCandidatBoard">
      <a href="/profile"><i class="fa fa-user-circle" aria-hidden="true"></i> {{currentUser.username}}</a>
    </li>
  


    <li *ngIf="showRecBoard" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" (click)="toggleDropdown()">
        <i class="fa fa-user-circle" aria-hidden="true"></i> Recruteur  Espace
      </a>
      <ul class="dropdown-menu" [ngClass]="{'show': dropdownOpen}">
        <li><a href="/demandevalide" >Les demandes validé</a></li>
        <li><a href="/offres">Gérer les Offres</a></li>
        <li><a href="/adduser">Ajouter Un Candidat</a></li>
        <li><a href="/candidatutreaccepte">liste des candidatures Acceptées</a></li>
      </ul>
    </li>




    
    <li *ngIf="showRDBoard">
      <a href="/demandes"><i class="fa fa-user-circle" aria-hidden="true"></i> Responsable department Espace</a>
    </li>
    <li *ngIf="showEmployeeBoard">
      <a href="/"><i class="fa fa-user-circle" aria-hidden="true"></i> Employee Espace</a>
    </li>

    <li *ngIf="showAdminBoard" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown">
        <i class="fa fa-user-circle" aria-hidden="true"></i> Admin Espace
      </a>
      <ul class="dropdown-menu">
        <li><a href="/demandeslist">Gestion des Demandes</a></li>
        <li><a href="/createnews"> Création d'actualités </a></li>
      </ul>
    </li>

    <li *ngIf="showRCBoard" class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" (click)="toggleDropdown()">
        <i class="fa fa-user-circle" aria-hidden="true"></i> Responsable RC Espace
      </a>
      <ul class="dropdown-menu" [ngClass]="{'show': dropdownOpen}">
        <li><a href="/demandevalide">Les demandes validé</a></li>
        <li><a href="/offres">Gérer les Offres</a></li>
        <li><a href="/adduser">Ajouter Un Candidat</a></li>
        <li><a href="/candidatutreaccepte">liste des candidatures Acceptées</a></li>
        <li><a href="/listeSpontane">liste des candidatures Spontanée</a></li>
      </ul>
    </li>

  </ul>

  
</div>





