

/* navbar transparent */
.navbar{
  width:100%;
  height: 75px;
  margin: auto;
 margin-top: -20px;
  display: flex;
  align-items: center;
  justify-content: space-between;

}
/* logo design */

.logo-container {
  flex: 1;

}

.logo-container img{
  
  position: absolute;
  width: 18px;
  top: 0.2rem;
  margin-left: 20px;
margin-right: -8px;

}


/* items design */
.navbar ul li{
  list-style: none;
  display: inline-block;
  margin: 30px;
  position: relative;
}

/* linkes design */
.navbar ul li a{
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}

/* nzido star ta7t items */
.navbar ul li::after{
content:'' ;
height: 3px;
width: 0;
background: #e94e1b;
position: absolute;
left: 0;
bottom: -5px;
transition: 0.5s;
}

.navbar ul li:hover::after{
width: 50%;
}
.navbar ul li i{
  color: #e94e1b; 
}








/* navbar transparent */
.navbar {
  width: 100%;
  height: 75px;
  margin: auto;
  margin-top: -20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* logo design */
.logo-container {
  flex: 1;
}

.logo-container img {
  position: absolute;
  width: 18px;
  top: 0.2rem;
  margin-left: 20px;
  right: 3.5rem;
}

/* items design */
.navbar ul li {
  list-style: none;
  display: inline-block;
  margin: 30px;
  position: relative;
}

/* link design */
.navbar ul li a {
  text-decoration: none;
  color: black;
  text-transform: uppercase;
}



/* menu*/

/* liste item ta3 RC*/
.dropdown {
  position: relative;
}

.dropdown-toggle {
  display: block;
}



.dropdown-menu li {
  display: block;
  width: 50%;
  text-align: left;
}

.dropdown:hover .dropdown-menu {
  display: block;
}
.dropdown-menu.show {
  display: block;
}
.dropdown-toggle .caret {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: 2px;
  vertical-align: middle;
  border-top: 4px dashed;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
}
.notification-icon {
  position: relative;
  display: inline-block;
  cursor: pointer;
}

.notification-icon i {
  font-size: 20px;
}

.notification-count {
  position: absolute;
  top: -8px;
  right: -8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 18px;
  font-size: 12px;
  font-weight: bold;
  color: white;
  background-color: red;
  border-radius: 50%;
}

.notification-count.empty {
  display: none;
}

/* Styles pour le bouton de menu */
.dropdown {
  background: none;
  border: none;
  cursor: pointer;
  display: none;
}

/* Styles pour la navigation mobile (dropdown) */
@media (max-width: 768px) {
  .navbar ul {
    display: none; /* Masquez la liste des éléments de la navbar */
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }

  .menu-button {
    margin-top: 1rem;
    width: 3rem;
    height: 3rem;
    display: block;
    cursor: pointer;
    border: none;
    color: #e94f1b66;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    top: 115px;
  }

  .dropdown-content li {
    padding: 18px;
    text-align: left;
  }

  .dropdown-content li:hover {
    background-color: #f1f1f1;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }
}

