<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://www.w3schools.com/icons/tryit.asp?icon=far_fa-edit&unicon=f044">
</head>

<body *ngIf="showCandidatBoard">

    <app-dvheader></app-dvheader>

    <div class="our-team" *ngIf="isLoggedIn">
        <div class="picture">
            <img class="img-fluid" src="http://localhost:8080/api/test/image/id={{utilisateur.id}}"
                *ngIf="utilisateur.photos ">
            <img class="img-fluid" src="/assets/images/avatar7-3223699.png" *ngIf="!utilisateur.photos ">
        </div>

        <h3 class="name">Modifier Profile</h3>

        <form (ngSubmit)="modifierUser()" class="container" *ngIf="isLoggedIn" #f="ngForm" novalidate
            [formGroup]="editform">
            <div class="input-container">
                <div class="user-box">
                    <h6> Mot de passe:</h6>
                    <input type="password" name="password" [(ngModel)]="utilisateur.password"
                        formControlName="password" />
                    <span *ngIf="password && password.invalid && password.touched" style="color: red;">mot de passe est
                        un champ
                        obligatoire </span>
                </div>


                <button type="submit" class="button" (click)=" modifierUser()"
                    [disabled]="editform.invalid"><span></span> <i class='fa fa-save' aria-hidden="true"></i>
                    Enregistrer</button>
                <button type="submit" class="button" (click)="annuler()"><span class="btnet"></span> <i
                        class='fa fa-sign-out' aria-hidden="true"></i>Annuler</button>

            </div>
        </form>
        <ul class="social">
            <li><a href="#" class="fa fa-facebook" aria-hidden="true"></a></li>
            <li><a href="#" class="fa fa-twitter" aria-hidden="true"></a></li>
            <li><a href="#" class="fa fa-google-plus" aria-hidden="true"></a></li>
            <li><a href="#" class="fa fa-linkedin" aria-hidden="true"></a></li>
        </ul>
    </div>
</body>
<app-footer></app-footer>