
  body{
    color: #1a202c;
    text-align: left;
    background-color: #e2e8f0;    
}
.main-body {
    padding: 15px;
}
.card {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,.1), 0 1px 2px 0 rgba(0,0,0,.06);
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 0 solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1rem;
}

.gutters-sm {
    margin-right: -8px;
    margin-left: -8px;
}

.gutters-sm>.col, .gutters-sm>[class*=col-] {
    padding-right: 8px;
    padding-left: 8px;
}
.mb-3, .my-3 {
    margin-bottom: 1rem!important;
}

.bg-gray-300 {
    background-color: #e2e8f0;
}
.h-100 {
    height: 100%!important;
}
.shadow-none {
    box-shadow: none!important;
}

.buttons-container button {

  border: 2px solid #24377b;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #24377b;
  margin-right: 100px;
  margin-bottom: 100px;
  margin-left: 30px;
  padding: 10px 50px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}
.buttons-container button:hover {
  background-color: #24377b;
  border-color: #24377b;
  color: #fff;
}
.candidat{
    margin: 0 auto;
    padding-top: 30px;
}

.badge{
    margin-top: 20px;
    width: 90px;
    height: 20px;

}
.messagemotdiv{
background-color: #ffffff;}
.motiv{
    padding-left: 20px;
}
.motivtitle{ padding-left: 10px;}
