
    <head>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Changa&family=Merriweather:wght@700&display=swap" rel="stylesheet">
      </head>

<body>
    <router-outlet></router-outlet>   
</body>

