.card__content{
  
  margin-bottom: 10rem;
}
.tools {
  display: flex;
  padding: 9px;
}

.card{
  width: 500px;
  height: auto;
  border-radius: 8px;
  z-index: 1;
  transition: background-color 0.3s ease; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  margin-left: 300px;
  background-color: rgba(255, 255, 255, 0.544);
}

.card2{
  width: 500px;
  height: 36.5rem;
  border-radius: 8px;
  z-index: 1;
  transition: background-color 0.3s ease; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); 
  background-color: rgba(255, 255, 255, 0.544);
}

.card2:hover {
  background-color: transparent; /* Change background color to transparent on hover */
}
.card:hover {
  background-color: transparent; /* Change background color to transparent on hover */
}
   .circle {
    padding: 0 4px;
   }
   
   .box {
    display: inline-block;
    width: 10px;
    height: 10px;
    padding: 1px;
    border-radius: 50%;
   }
   
 textarea{
margin: 0 auto;    
display: block;
margin-top: 20px;
    width: 60%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
    border: 1px solid #e7dede;

  
 }
 .label {

margin-right: 200px;
padding-top: 20px;
}
     
.info {

    display: block;
    padding-left: 20px;
    font-size:1.2em;
    margin: 1em;
  }
  .spaninfo{
    font-weight: 500;
color: #e94f1bb5;
  }
  .infoetat {
    font-weight: 500;
    display: block;
    padding-left: 20px;
    font-size:1em;
    margin: 1em;
  }
  .title{
    text-align: center;
  }
  /*  for the button input  */
  input[type="submit"] {
    background-color: #da6a08;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    display: block;
    margin: 20 auto;
  
  }
  input[type="submit"]:hover {
    background-color: #1e0b6a;
  
  }
  
  /* for the checkbox  */
  .btn-group-toggle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: fit-content;
}

.btn-group-toggle label.btn {
  margin: 0 5px;
  border-radius: 0;
   font-size:1em;
  text-align: center;

  font-weight: normal;
  color: #db4c05;
  border-color: #08018768;
}

.btn-group-toggle label.btn:hover {
  background-color: #f5f5f5;
}

.btn-group-toggle label.active.btn {
  color: #fff;
  background-color: #007bff;
  border-color: #007bff;
}

.btn-group-toggle label.active.btn:hover {
  background-color: #007bff;
}

.btn-group-toggle input[type="radio"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.titlevalid{
  
    font-size:1.2em;
    text-align: center;
    padding-top: 10px;
}
  /* na3mlou design lel text content */
  .banner {
   
    position: relative;
    width: 100%;
    height: 70rem;
    background-image: url('/assets/images/recruu.jpg');
    background-size: cover;
    background-position: center;
  }
  .banner::before {

    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #001935b7;
  }

   .content{
    width: 100%;
    top: 50%;
    position: absolute;
    transform: translateY(-50%);
    text-align: center;
    color:#fff ;
  }
  .content h1{
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;
   bottom: 100px;

  }
  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    top:3.5rem ;
    left: 0;
    z-index: 100;
    background-color:#001935b4;
    padding: 10px;
    position: fixed;
    margin-top: 0rem;
  }
  
  .navbar .loh{
    width: 180px;

  }
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-left a {
    margin-right: 20px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar ul li {
    margin-right: 20px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
  }
  
  .navbar ul li i {
    color: #fff;
  }
  .scroll-nav {
    transition: top 0.3s ease-in-out;
  }
  
  .scroll-nav.sticky {
    top: 10;
  }


  .fixe {
    position: fixed;
    width: 100%;
    justify-content: space-between;
    z-index: 100;
    background-color: #fff;
  }
  