<div *ngIf="showAdminBoard ">
  <div class="fixe">
    <app-header-profil></app-header-profil>
    <div class="navbar navbar-fixed-top">
      <a href="/acceuil">
        <img src="/assets/images/logomezzo.png" class="loh" alt="Image 1">
      </a>
      <ul>
        <li><a href="/acceuil">Acceuil</a></li>
        <li><a href="/Contact">Contact</a></li>
        <li><a href="/news">News</a></li>
        <li><a href="/offres">offres</a></li>
        <li><a href="/mescandidature"></a></li>
      </ul>
    </div>
  </div>
<div class="banner">
 
  <div class="content">
   <h1>Les spécifications de la demande d'<span style="color: rgb(174, 174, 174);">{{demande.utilisateur?.username}}</span></h1>
   <p> Email de la personne faisant la demande : {{demande.utilisateur?.email}}</p>
   <p><a href="/demandeslist">Retour</a> / Détail de la demande</p>
  

  <!-- <div class="tools">
    <div class="card__content">
      <p class="info"><i class="fa fa-globe"></i> site : <span class="spaninfo">{{demande.site}}</span></p>
      <p class="info"><i class="fa fa-user"></i> Profile de candidat chercher : <span class="spaninfo">{{demande.profile_chercher}}</span></p>
      <p class="info"><i class="fa fa-briefcase"></i> Poste recherché : <span class="spaninfo">{{demande.poste_recherche}}</span></p>
      <p class="info"><i class="fa fa-clock-o"></i> Temps de travail recherché : <span class="spaninfo">{{demande.temps_travail}}</span></p>
      <p class="info"><i class="fa fa-calendar"></i> date de la demande : <span class="spaninfo">{{demande.date_demande | date:'medium'}}</span></p>
      <p class="info"><i class="fa fa-users"></i> Nombre de collaborateurs ETP à recruter : <span class="spaninfo">{{demande.nbr_collab}}</span></p>
      <p class="info"><i class="fa fa-calendar-check-o"></i> date de l'integration: <span class="spaninfo">{{demande.date_integration | date:'medium'}}</span></p>
      <p class="info"><i class="fa fa-file-text-o"></i> Type(s) de contrat : <span class="spaninfo">{{demande.type_contrat}}</span></p>
      
      <p *ngIf="demande.description" class="info"><i class="fa fa-file-text"></i> Description: <span class="spaninfo">{{demande.description}}</span></p>
      <h5 class="infoetat"><i class="fa fa-check-circle"></i> Etat : <span class="spaninfo">{{demande.validation}}</span></h5>
    </div>
  <div class="card2">
    <div>
      <p class="titlevalid">Mettre à jour l'état de la validation  </p>
      <div class="btn-group btn-group-toggle" data-toggle="buttons" >
        

        <label class="btn btn-outline-secondary" *ngFor="let option of validationOptions">
          <input type="radio" class="btn-check" name="options" autocomplete="off" [ngModel]="demande.validation"
            (ngModelChange)="demande.validation = option.value" >{{option.name}}
        </label>
      </div>
    </div>

    <label for="remarque" class="label">Remarque:</label>
    <textarea id="remarque" name="remarque" [(ngModel)]="demande.remarque" #remarque="ngModel" placeholder="Entrez une remarque si vous le souhaitez




    "></textarea>

 <input type="submit" value="Mettre à jour la demande" (click)="updateDeamandes()">
 <app-spinner *ngIf="showSpinner"></app-spinner>
  </div>
</div>
</div> -->




<div class="tools">
<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <p class="info"><i class="fa fa-globe"></i> site : <span class="spaninfo">{{demande.site}}</span></p>
        <p class="info"><i class="fa fa-user"></i> Profile de candidat chercher : <span class="spaninfo">{{demande.profile_chercher}}</span></p>
        <p class="info"><i class="fa fa-briefcase"></i> Poste recherché : <span class="spaninfo">{{demande.poste_recherche}}</span></p>
        <p class="info"><i class="fa fa-clock-o"></i> Temps de travail recherché : <span class="spaninfo">{{demande.temps_travail}}</span></p>
        <p class="info"><i class="fa fa-calendar"></i> date de la demande : <span class="spaninfo">{{demande.date_demande | date:'medium'}}</span></p>
        <p class="info"><i class="fa fa-users"></i> Nombre de collaborateurs ETP à recruter : <span class="spaninfo">{{demande.nbr_collab}}</span></p>
        <p class="info"><i class="fa fa-calendar-check-o"></i> date de l'integration: <span class="spaninfo">{{demande.date_integration | date:'medium'}}</span></p>
        <p class="info"><i class="fa fa-file-text-o"></i> Type(s) de contrat : <span class="spaninfo">{{demande.type_contrat}}</span></p>
        
        <p *ngIf="demande.description" class="info"><i class="fa fa-file-text"></i> Description: <span class="spaninfo">{{demande.description}}</span></p>
        <h5 class="infoetat"><i class="fa fa-check-circle"></i> Etat : <span class="spaninfo">{{demande.validation}}</span></h5>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card2" style="margin-left: 2rem;">
      <div class="card-body"  >
        
          <div style="margin-top: 5rem;  ">
            <p class="titlevalid">Mettre à jour l'état de la validation  </p>
            <div class="btn-group btn-group-toggle" data-toggle="buttons" >
              
      
              <label class="btn btn-outline-secondary" *ngFor="let option of validationOptions">
                <input type="radio" class="btn-check" name="options" autocomplete="off" [ngModel]="demande.validation"
                  (ngModelChange)="demande.validation = option.value" >{{option.name}}
              </label>
            </div>
          </div>
      
          <label for="remarque" class="label">Remarque:</label>
          <textarea id="remarque" name="remarque" [(ngModel)]="demande.remarque" #remarque="ngModel" placeholder="Entrez une remarque si vous le souhaitez
      
      
      
      
          "></textarea>
      
       <input type="submit" value="Mettre à jour la demande" (click)="updateDeamandes()">
    
        </div>
     
      </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>  <app-footer></app-footer>   <app-spinner *ngIf="showSpinner"></app-spinner>