* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@media screen and (max-width: 768px) {
  /* Adjustments for screens smaller than 768px */
  .col-md-3 {
      flex: 0 0 100%;
      max-width: 100%;
  }
  .col-md-9 {
      flex: 0 0 100%;
      max-width: 100%;
  }
  /* Add more responsive styles as needed */
}

.btn-primary, .btn-danger, .btn-secondary {
  background-color: #24377b;
  border-color: #fff;
}

.btn-primary:hover, .btn-danger:hover, .btn-secondary:hover {
  background-color: #24377b;
  border-color: #24377b;
}



.buttons-container button {
  border: 2px solid #24377b;
  background-color: #f2f2f2;
  color: #24377b;

  margin-right: 10px;
  padding: 10px 20px;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}

.buttons-container button:hover {
  background-color: #24377b;
  border-color: #24377b;
  color: #fff;
}

   
/* CSS pour le card sidebar */
.card.sidebar {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;
  overflow: hidden;
}
body{
  margin-bottom: 50px;
}
.card-body {
  padding: 20px;
}

.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* CSS pour la barre de recherche */
.search-container {
  position: relative;
  margin-bottom: 20px;
}

.search-container input[type="text"] {
  width: 100%;
  padding: 10px 40px 10px 10px;
  border: none;
  border-radius: 30px;
  background-color: #ebebeb;
  color: #333;
}

.search-container button[type="submit"] {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 30px;
  height: 30px;
  border: none;
  background-color: #e94e1b;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}



/* CSS pour les listes */
.list-group {
  margin-bottom: 20px;
}

.list-group-item.active {
  background-color: #e94e1b;
  color: #fff;
  border-color: #e94e1b;
}

.list-group-item {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 10px;
  border: none;
  border-radius: 30px;
  margin-bottom: 10px;
  cursor: pointer;
}

.list-group-item input[type="checkbox"] {
  display: none;
}

.list-group-item label {
  margin-left: 10px;
  color: #333;
}

.list-group-item label:before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  border: 2px solid #24377b;
  margin-right: 10px;
}

.list-group-item input[type="checkbox"]:checked + label:before {
  background-color: #24377b;
  border-color: #24377b;
}

.list-group-item input[type="checkbox"]:checked + label:after {
  content: "\f00c";
  font-size: 12px;
  color: #fff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.news-card {
  margin-top: 20px;
  width: 50rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-color: #fff;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.185);
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 20px;
 
  }
  
  .news-card:hover {
  transform: translateY(-5px);
  }
  
  .news-card h1 {
  font-size: 28px;
  font-weight: bold;
  margin: 10px 0 0;
  }
  
  .news-card p {
  margin: 5px 0;
  color: #bcbcbb;
  
  }
  
  .news-card h6 {
    font-size: 14px;
  
    color: #24377b;
    
    }
    
  
  @media screen and (max-width: 768px) {
  .news-card {
  padding: 10px;
  }
  
  .news-card h1 {
  font-size: 24px;
  }
  
  .news-card p {
  font-size: 14px;
  }
  
  .news-card button {
  font-size: 14px;
  padding: 8px 16px;
  }
  }
    /* Styles for small screens */
    @media only screen and (max-width: 600px) {
      .header-container {
        flex-direction: column;
      }
    }
    
    .container form {
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;
    }
    
    .container label {
      display: flex;
      cursor: pointer;
      font-weight: 500;
      position: relative;
      overflow: hidden;
      margin-bottom: 0.375em;
    }
    
    .container  label input {
      position: absolute;
      left: -9999px;
    }
    
    .container label input:checked + span {
      background-color: #414181;
      color: white;
    }
    
    .container label input:checked + span:before {
      box-shadow: inset 0 0 0 0.4375em #00005c;
    }
    
    .container label span {
      display: flex;
      align-items: center;
      padding: 0.375em 0.75em 0.375em 0.375em;
      border-radius: 99em;
      transition: 0.25s ease;
      color: #414181;
    }
    
    .container label span:hover {
      background-color: #d6d6e5;
    }
    
    .container label span:before {
      display: flex;
      flex-shrink: 0;
      content: "";
      background-color: #fff;
      width: 1.5em;
      height: 1.5em;
      border-radius: 50%;
      margin-right: 0.375em;
      transition: 0.25s ease;
      box-shadow: inset 0 0 0 0.125em #00005c;
    }
    .radio-input label {
      display: inline-block;
      margin-right: 10px;
      font-size: 16px;
      position: relative;
      padding-left: 30px;
      cursor: pointer;
    }
    
    .radio-input label input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
    }
    
    .radio-input label .selection {
      position: absolute;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      width: 20px;
      height: 20px;
      border-radius: 50%;
      background-color: #fff;
      border: 2px solid #24377b;
    }
    
    .radio-input label:hover .selection {
      border-color: #333;
    }
    
    .radio-input label input:checked ~ .selection {
      background-color: #24377b;
    }
    
    .radio-input label input:checked ~ .selection:before {
      content: '';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: #fff;
    }
    .radio-input div {
      align-items: center;
      display: inline-block;
      vertical-align: middle;
    }
    



/*bg*/
/*txt*/
/*success*/
.buttons {
  display: flex;
  justify-content: space-around;
  top: 20px;
  left: 20px;

}

.buttons button {

  width: 1000px;
  height: 50px;
  background-color: rgb(230, 230, 230);
  margin: 20px;
  color: #e94e1b;
  position: relative;
  overflow: hidden;
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 500;
  text-transform: uppercase;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
}

.buttons button:before, .buttons button:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #e94e1b;
  transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button:before {
  right: 0;
  top: 0;
  transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button:after {
  left: 0;
  bottom: 0;
}

.buttons button span {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  margin: 0;
  padding: 0;
  z-index: 1;
}

.buttons button span:before, .buttons button span:after {
  content: "";
  position: absolute;
  width: 2px;
  height: 0;
  background-color: #e94e1b;
  transition: all 0.3s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button span:before {
  right: 0;
  top: 0;
  transition: all 0.5s cubic-bezier(0.35, 0.1, 0.25, 1);
}

.buttons button span:after {
  left: 0;
  bottom: 0;
}

.buttons button p {
  padding: 0;
  margin: 0;
  transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
  position: absolute;
  width: 100%;
  height: 100%;
}

.buttons button p:before, .buttons button p:after {
  position: absolute;
  width: 100%;
  transition: all 0.4s cubic-bezier(0.35, 0.1, 0.25, 1);
  z-index: 1;
  left: 0;
}

.buttons button p:before {
  content: attr(data-title);
  top: 50%;
  transform: translateY(-50%);
}

.buttons button p:after {
  content: attr(data-text);
  top: 150%;
  color: #616161;
}

.buttons button:hover:before, .buttons button:hover:after {
  width: 100%;
}

.buttons button:hover span {
  z-index: 1;
}

.buttons button:hover span:before, .buttons button:hover span:after {
  height: 100%;
}

.buttons button:hover p:before {
  top: -50%;
  transform: rotate(5deg);
}

.buttons button:hover p:after {
  top: 50%;
  transform: translateY(-50%);
}

.buttons button.start {
  background-color: #616161;
  box-shadow: 0px 5px 10px -10px rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
}

.buttons button.start p:before {
  top: -50%;
  transform: rotate(5deg);
}

.buttons button.start p:after {
  color: white;
  transition: all 0s ease;
  content: attr(data-start);
  top: 50%;
  transform: translateY(-50%);
  animation: start 0.3s ease;
  animation-fill-mode: forwards;
}

@keyframes start {
  from {
    top: -50%;
  }
}

.buttons button.start:hover:before, .buttons button.start:hover:after {
  display: none;
}

.buttons button.start:hover span {
  display: none;
}

.buttons button:active {
  outline: none;
  border: none;
}

.buttons button:focus {
  outline: 0;
}
a {
  margin-left: 20rem;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

a:hover {
  text-decoration: none;
  background-color: #ddd;
  color: rgb(255, 255, 255);
}

.previous {

  background-color: #f1f1f1;
  color: black;
}
.previous:hover {

  background-color: #092675;
  color: black;
}

.next {
  background-color: #d8dbe1;
  color: white;
}
.next:hover {
  background-color: #092675;
  color: white;
}

.round {
  border-radius: 50%;
}
.disabled-link {
  pointer-events: none; /* Disable click events */
  opacity: 0.5; /* Apply a visual indication of disabled state */
  cursor: not-allowed; /* Change cursor to "not-allowed" */
}
