<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
   <link rel="stylesheet" href="https://www.w3schools.com/icons/tryit.asp?icon=far_fa-edit&unicon=f044">
</head>
<app-dvheader></app-dvheader>

<body>


   <div style="margin-top:3rem ;" class="container-fluid">
      <div class="row">
         <div class="col-md-3">
            <div class="buttons" (click)="mescandidateurs(utilisateur.id)" *ngIf="isLoggedIn ">
               <button class="btn"><span></span>
                  <p data-start="good luck!" data-text=" Mes Candidatures !" data-title=" Mes Candidatures"></p>
               </button>
            </div>
            <div class="card sidebar">

               <div class="card-body">

                  <h5 class="card-title">Filtres</h5>

                  <div class="search-container">
                     <input type="text" placeholder="Rechercher..." [(ngModel)]="filterText">

                     <button type="submit"><i class="fa fa-search"></i></button>
                  </div>
                  <ul class="list-group">
                     <li class="list-group-item active">Lieu</li>
                     <div class="container">
                        <form>
                           <label>
                              <input type="radio" id="tunisCheck" [(ngModel)]="etatDemande" value="Tunis"
                                 name="etatDemande">
                              <span for="tunisCheck">Tunis</span>
                           </label>
                           <label>
                              <input type="radio" id="lilleCheck" [(ngModel)]="etatDemande" value="Lille"
                                 name="etatDemande">
                              <span for="lilleCheck">Lille</span>
                           </label>
                        </form>
                     </div>
                  </ul>
                  <ul class="list-group">
                     <li class="list-group-item active">Type de travail</li>

                     <div class="container">
                        <form>
                           <label>
                              <input class="form-check-input" type="radio" id="tpCheck" [(ngModel)]="etatDemandetype"
                                 value="Temps plein" name="etatDemande">
                              <span class="form-check-label" for="tpCheck">Temps plein</span>
                           </label>
                           <label>
                              <input class="form-check-input" type="radio" id="tp2Check" [(ngModel)]="etatDemandetype"
                                 value="Temps partiel" name="etatDemande">
                              <span class="form-check-label" for="tp2Check">Temps partiel</span>
                           </label>
                        </form>
                     </div>
                  </ul>
                  <ul class="list-group">
                     <li class="list-group-item active">Type de Contrat</li>
                     <div class="container">
                        <form>
                           <label>
                              <input class="form-check-input" type="radio" id="sCheck" [(ngModel)]="etatDemandecont"
                                 value="Stage" name="etatDemande">
                              <span for="full-time" for="sCheck">Stage</span>
                           </label>
                           <label>
                              <input class="form-check-input" type="radio" id="alCheck" [(ngModel)]="etatDemandecont"
                                 value="Alternance" name="etatDemande">
                              <span for="full-time" for="alCheck">Alternance</span>
                           </label>
                           <label>
                              <input class="form-check-input" type="radio" id="CDD" [(ngModel)]="etatDemandecont"
                                 value="CDD" name="etatDemande">
                              <span for="full-time" for="CDD">CDD</span>
                           </label>
                           <label>
                              <input class="form-check-input" type="radio" id="CDI" [(ngModel)]="etatDemandecont"
                                 value="CDI" name="etatDemande">
                              <span for="full-time" for="CDI">CDI</span>
                           </label>
                        </form>
                     </div>
                  </ul>


                  <ul class="list-group" *ngIf="showRCBoard ">
                     <li class="list-group-item active">Type de offre</li>
                     <div class="container">
                        <form>
                           <label>
                              <input class="form-check-input" type="radio" id="Tous" [(ngModel)]="etatDemandetypeoff"
                                 value="Tous" name="etatDemande">
                              <span for="full-time" for="Tous">Tous</span>
                           </label>
                           <label>
                              <input class="form-check-input" type="radio" id="Interne" [(ngModel)]="etatDemandetypeoff"
                                 value="Interne" name="etatDemande">
                              <span for="full-time" for="Interne">Interne</span>
                           </label>
                           <label>
                              <input class="form-check-input" type="radio" id="Externe" [(ngModel)]="etatDemandetypeoff"
                                 value="Externe" name="etatDemande">
                              <span for="full-time" for="Externe">Externe</span>
                           </label>

                        </form>
                     </div>
                  </ul>

               </div>
            </div>
         </div>

         <div class="col-md-9">


            <div class="row"  *ngIf="!offre.hide == true">
               <div class="col-md-12" *ngFor="let offre of filterOffres()">

                  <div (click)="detail(offre.id)" class="news-card">
                     <div class="d-flex">

                        <img src="assets\images\mezzo.png" alt="logo" width="50px" height="50px"
                           class="align-self-center mr-3">
                        <div class="text-container">
                           <h1>{{offre.titre}} </h1>
                           <p>{{ offre.date_publication | date:'shortTime' }}</p>

                           <p> <i class="fa fa-map-marker"></i> {{offre.lieu}}
                              <i class="fa fa-search"></i> {{offre.type_poste}}
                              <i class="fa fa-briefcase"></i> {{offre.regime}}

                           </p>

                        </div>
                     </div>
                     <div *ngIf="offre.desactive === true ">
                        <h6 style="color: red; "><i class="fa fa-ban"></i> Cette offre a été désactivée pour le
                           moment </h6>
                     </div>

                     <h6>En savoir plus...</h6>
                  </div>
               </div>


            </div>
            <a class="previous round" [class.disabled-link]="currentPage === 1" (click)="goToPage(currentPage - 1)" >
               &#8249;
             </a>
             
             <a class="next round" (click)="goToPage(currentPage + 1)" [ngClass]="{ 'disabled-link': currentPage === totalPages }">
               &#8250;
             </a>
             


         </div>
      </div>
   </div>
</body>
<app-footer></app-footer>