<app-dvheader></app-dvheader>

<body>


  <div class="card" *ngIf="showRCBoard ">
    <h2 class="form-heading" style="text-align: center; color: #24377b;">Créer une nouvelle offre</h2>
    <hr style="border: 2px;">
    <div class="card-body">

      <form name="form" *ngIf="!isSuccessful" (ngSubmit)="onSubmit()" #f="ngForm" novalidate>
        <div class="box-inputet">
          <div class="form-group">
            <label for="titre">Titre :</label>
            <input type="text" id="titre" placeholder=" Entrer le Titre d'offre.." name="titre" [(ngModel)]="form.titre"
              required #titre="ngModel"><br>
            <span *ngIf="titre && titre.invalid && titre.touched" style="color: red;">Titre est un champ obligatoire
            </span>

          </div>
          <div class="form-group">
            <label for="competence">Compétences :</label>
            <input type="text" id="competence" placeholder="Entrer les comptences.." name="competence"
              [(ngModel)]="form.competence" required #competence="ngModel"><br>
            <span *ngIf="competence && competence.invalid && competence.touched" style="color: red;">Competence est un
              champs obligatoire </span>

          </div>
        </div>
        <div class="box-inputet">
          <div class="form-group">
            <label for="lieu">Lieu :</label>
            <select id="lieu" name="lieu" [(ngModel)]="form.lieu" required #lieu="ngModel">
              <option [value]="null" disabled selected> Sélectionnez un lieu</option>
              <option value="Tunis">Tunis</option>
              <option value="Lille">Lille</option>
            </select>

            <div *ngIf="lieu.invalid && (lieu.dirty || lieu.touched)" class="error-message" style="color: red;">
              Lieu est un champ obligatoire.
            </div>
          </div>



          <div class="form-group">
            <label for="type_poste">Type de poste :</label>
            <select id="type_poste" name="type_poste" [(ngModel)]="form.type_poste" required #type_poste="ngModel">
              <option [value]="null" disabled selected> Sélectionnez un type poste</option>
              <option value="sortant">appel sortant</option>
              <option value="entrant">conseillers Commerciaux </option>
              <option value="Chef de projet">Chef de projet</option>
              <option value="Marketing">Marketing</option>
              <option value="Ventes">Ventes</option>
              <option value="autre">autre</option>
            </select>
            <div *ngIf="type_poste.invalid && (type_poste.dirty || type_poste.touched)" class="error-message"
              style="color: red;">
              Type de poste est obligatoire.
            </div>
            <div *ngIf="form.type_poste === 'autre'">
              <input type="text" id="type_poste-autre" name="type_poste-autre">
            </div>
          </div>
        </div>
        <div class="box-inputet"> 

          <div class="form-group">
            <label for="type_contrat">Type de contrat :</label>
            <select id="type_contrat" name="type_contrat" [(ngModel)]="form.type_contrat" required
              #type_contrat="ngModel">
              <option [value]="null" disabled selected> Sélectionnez un type contrat</option>

              <option value="CDI">CDI</option>
              <option value="CDD">CDD</option>
              <option value="Stage">Stage</option>
              <option value="Alternance">Alternance</option>

            </select>
            <div *ngIf="type_contrat.invalid && (type_contrat.dirty || type_contrat.touched)" class="error-message"
              style="color: red;">
              Type de contrat est un champ obligatoire.
            </div>
          </div>



          <div class="form-group">
            <label for="regime">Régime horaire :</label>
            <select id="regime" name="regime" [(ngModel)]="form.regime" #regime="ngModel" required>
              <option [value]="null" disabled selected>Choisissez le régime horaire</option>
              <option value="temps plein">Temps plein </option>
              <option value="temps partiel">Temps partiel </option>
            </select>

            <div *ngIf="regime.invalid && (regime.dirty || regime.touched)" class="error-message" style="color: red;">
              Le régime horaire est un champ obligatoire.
            </div>
          </div>
        </div>

        <div class="box-inputet">
          <div class="form-group">
            <label for="date_recrut">Date de recrutement :</label>
            <input type="date" id="date_recrut" name="date_recrut" [(ngModel)]="form.date_recrut" required
              #date_recrut="ngModel">
            <span *ngIf="date_recrut && date_recrut.invalid && date_recrut.touched" style="color: red;">la date de
              recrutement est un champ obligatoire </span>

          </div>

          <div class="form-group">
            <label for="date_fin">Date de Expiration :</label>
            <input type="date" id="date_fin" name="date_fin" [(ngModel)]="form.date_fin" required #date_fin="ngModel">
            <span *ngIf="date_fin && date_fin.invalid && date_fin.touched" style="color: red;">La date de Expiration est un
              champ obligatoire </span>
              <div *ngIf="!isValidDateRange()"  style="color: red;">
                La date d'expiration doit être supérieure à la date de recrutement.
              </div>
          </div>


        </div>
        <div class="box-inputet">
          <div class="form-group">
            <label for="typeOffre">Type de offre :</label>
            <select id="typeOffre" name="typeOffre" [(ngModel)]="form.typeOffre" required #typeOffre="ngModel">
              <option [value]="null" disabled selected> Sélectionnez un type de offre</option>
              <option value="Interne">Interne</option>
              <option value="Externe">Externe</option>
              <option value="Tous">Tous les offres</option>
            </select>
            <div *ngIf="typeOffre.invalid && (typeOffre.dirty || typeOffre.touched)" class="error-message"
              style="color: red;">
              Type de offre est un champ obligatoire.
            </div>
          </div>
         
        </div>
        <div class="form-group">
          <label for="description">Description :</label>
          <textarea id="description" name="description" placeholder=" Ecrire la description d'offre.."
            [(ngModel)]="form.description" required #description="ngModel" rows="6" cols="100"></textarea>
          <span *ngIf="description && description.invalid && description.touched" style="color: red;">description est un
            champ obligatoire </span>

        </div>





        <div class="buttons-container">
          <button type="submit">Créer offre</button>
        </div>
        <div class="form-group">
          <div *ngIf="f.submitted && isSignUpFailed" class="alert alert-danger">
            Erreur dans l'ajout</div>
        </div>
      </form>
    </div>
  </div>











</body>
<app-footer></app-footer>