.spinner {
  background-color: rgba(238, 237, 236, 0.288); /* Transparent background */
  /* Add styles to center the spinner */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.spinner .loader {
  /* Add styles for the spinner animation */
  border: 13px solid #f3f3f3; /* Light gray */
  border-top: 16px solid #24377b; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}


@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff13;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.content-container {
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
}
