<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <!-- Bibliothèque Font Awesome pour les icônes -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/ionicons/2.0.1/css/ionicons.min.css">
  <!-- Bibliothèque Ionicons pour les icônes -->

  <link rel="stylesheet" href="https://fontawesome.com/icons/app-store?f=brands&s=solid">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/js/bootstrap.bundle.min.js">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-alpha1/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://www.w3schools.com/icons/tryit.asp?icon=far_fa-edit&unicon=f044">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Changa&family=Merriweather:wght@700&display=swap" rel="stylesheet">
</head>





<body>
  

<div class="fixe" >
  
  <app-header-profil></app-header-profil>
  <div class="navbar navbar-fixed-top">
    <a href="/acceuil">
      <img src="/assets/images/logomezzo.png" class="loh" alt="Image 1">
    </a>
    <ul>
      <li><a href="/acceuil">Acceuil</a></li>
      <li><a href="/Contact">Contact</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/offres">offres</a></li>
      <li><a href="/mescandidature"></a></li>
    </ul>
  </div>
</div>
<!-- ta3 slides  -->
<section class="slideshow">

  <div class="slideshow-container">
    <div class="slide" [class.active]="selectedSlide === 0">
  
 
      <img src="/assets/images/fee4.jpg" alt="Image 1">

      <div class="slide-text">
        <a href="/acceuil">
          <img src="assets\images\mezologo.png" class="cover" class="logo" alt="Logo" >
        </a> <br>
        <p>Trouvez le job qui vous convient vraiment.</p>
      </div>

    </div>

  </div>  
  <div class="slide" [class.active]="selectedSlide === 1">
   
    <img src="/assets/images/fee2.jpg" class="cover" alt="Image 1">

    <div class="slide-text">

      <h1  class="title2">La plateforme de recrutement <span class="spann1">n°1</span> <br> pour embaucher des
        professionnels créatifs</h1> <br><br>


      <div class="search-container">
        <input type="text" placeholder="Rechercher un offre d'emploi..." id="slide-dot-2">
        <a href="/acceuil"> 
          <button type="submit"><i class="fa fa-search"></i></button>
        </a>
      </div>

      <div class="keys">
        <ul class=" list-unstyled m-0 p-0">
          <p style="display: inline-block;"> Recherches Populaire :</p>
          <li>
            <a href="#" class="theme-btn btn-style-three"> Appele sortant</a>
          </li>
          <li>
            <a href="#" class="theme-btn btn-style-three"> Appele Entrant</a>
          </li>
          <li>
            <a href="#" class="theme-btn btn-style-three"> Conseillers</a>
          </li>

        </ul>
      </div>
    </div>
  </div>
    <div class="slide" [class.active]="selectedSlide === 2">
      <img src="/assets/images/ppp.jpg" class="cover" alt="Image 1">
      <div class="slide-text" style="overflow: hidden; ">
        <div class="slide-item " >
          <h1 style="color: #fff;">Bienvenue chez SoMezzoRecrute</h1>
        </div>
        
        
      </div>
    </div>

  
   
   
 
  <a class="prev" id="prevBtn" (click)="changeSlide('prev')">&#10094;</a>
  <a class="next" id="nextBtn" (click)="changeSlide('next')">&#10095;</a>
    <div class="navigation">
      <input id="radio1" type="radio" name="slide" checked value="0"  [(ngModel)]="selectedSlide">
      <label for="radio1"></label>
      <input type="radio" name="slide" id="radio2" value="1"  [(ngModel)]="selectedSlide">
      <label for="radio2"></label>
      <input type="radio" name="slide" id="radio3" value="2"  [(ngModel)]="selectedSlide">
      <label for="radio3"></label>
      
    </div>
    <div>
      
    </div>

  </section>

  



<!-- packages eli fih news -->
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="titlepage text_align_center">
          <h2>Les dernières actualités</h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class=" col-lg-4 col-md-4 col-sm-4" *ngFor="let news of pagedNewsList" (click)="showSingleNews(news.id)">
        <div id="ho_img" class="packages_box" data-aos="fade-right" >
          <figure><img src="http://localhost:8080/api/test/image/idnews={{news.id}}" alt="#" /></figure>
          <div class="tuscany">
            <h6>{{ news.titre }}</h6>
            <p class="card_text">{{ news.datepub | date }}</p>
            
          </div>
        </div>
      </div>

    </div>

  
    <button type="button" class="buttonnews"><span class="span"></span><a href="/news"> Plus d'actualités  </a></button>


</div>
<div class="section2 layout_padding_2" >
    <div class="container2">
      <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
              <img src="assets\images\mezologo.png" class="cover1" alt="Logo" >

                
              </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <img src="assets\images\mezologo.png" class="cover1" alt="Logo" >

              </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
              <img src="assets\images\mezologo.png" class="cover1"  alt="Logo" >

              </div>
              <div class="col-lg-3 col-md-6 col-sm-6">
                <img src="assets\images\mezologo.png" class="cover1"  alt="Logo" >

              </div>
             
         
        </div>
  </div>
</div>
<!-- packages ta3 offres -->
<div class="container">
  <div class="row"> 
    <div class="col-md-12">
      <div class="title">
        <h2>Liste des Offre</h2>
      </div>
    </div>
    <div class="col-md-12" *ngFor="let offre of pagedNewsListoffre" >
      <div class="news-card" >
        <div class="d-flex">
          <img src="assets\images\mezzo.png" alt="logo" width="50px" height="50px" class="align-self-center mr-3">
          <div class="text-container">
            <h1>{{offre.titre}}</h1>
            <p>{{ offre.date_publication | date:'shortTime' }}</p>
            <p>
              
              <i class="fa fa-map-marker"></i> {{offre.lieu}}
              <i class="fa fa-search"></i> {{offre.type_poste}}
              <i class="fa fa-briefcase"></i> {{offre.regime}}
            </p>
            <div class="col-sm-3 text-lg-end">
              <a (click)="detail(offre.id)">
              <button class="detailbtn">Détails</button></a>
            </div>
          </div>
          <div class="heart-icon">
            <i class="fa fa-heart-o" (click)="likeOffer(offre.id)"></i>
          </div>
        </div>
        <h6>En savoir plus...</h6>
      </div>
    </div>

    <button type="button" class="buttonnews"><span class="span"></span><a href="/offres"> Voir tous les offres  </a></button>

  </div>
</div>


  <div class="section3  layout_padding_2" >
    <div class="container2" style="margin-left: auto;margin-right: auto;">
        <div class="row">              
          <h1 style="color: #fff;  text-align: center; margin-top:1rem;">notre équipe des recruteurs</h1>
        
            <div class="col-sm-6 col-md-3">
                <div class="profile-card">
                    <div class="profile-img">
                        <img src="/assets/images/team1.jpg" alt="Team Image"/>
                    </div>
                    <div class="profile-content">
                        <h2 class="title">Amira
                            <span>Recruteur</span>
                        </h2>
                        <ul class="social-link">
                          <li><a href="https://www.facebook.com/somezzo.tn" class="fa fa-facebook"></a></li>
                          <li><a href="https://www.linkedin.com/company/mezzo-tunis/" class="fa fa-linkedin"></a></li>
                          <li><a href="https://twitter.com/mezzotunis/status/1273334225350131725?lang=fr" class="fa fa-twitter"></a></li>
                          <li><a href="https://www.youtube.com/@mezzoglobal2708" class="fa fa-youtube"></a></li>
                        </ul>
                    </div>  
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="profile-card">
                    <div class="profile-img">
                        <img src="/assets/images/team2.jpg" alt="Team Image"/>
                    </div>
                    <div class="profile-content">
                        <h2 class="title">Amira
                            <span>Recruteur</span>
                        </h2>
                        <ul class="social-link">
                            <li><a href="https://www.facebook.com/somezzo.tn" class="fa fa-facebook"></a></li>
                            <li><a href="https://www.linkedin.com/company/mezzo-tunis/" class="fa fa-linkedin"></a></li>
                            <li><a href="https://twitter.com/mezzotunis/status/1273334225350131725?lang=fr" class="fa fa-twitter"></a></li>
                            <li><a href="https://www.youtube.com/@mezzoglobal2708" class="fa fa-youtube"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="profile-card">
                    <div class="profile-img">
                        <img src="/assets/images/team1.jpg" alt="Team Image"/>
                    </div>
                    <div class="profile-content">
                        <h2 class="title">Amira
                            <span>Recruteur</span>
                        </h2>
                        <ul class="social-link">
                          <li><a href="https://www.facebook.com/somezzo.tn" class="fa fa-facebook"></a></li>
                          <li><a href="https://www.linkedin.com/company/mezzo-tunis/" class="fa fa-linkedin"></a></li>
                          <li><a href="https://twitter.com/mezzotunis/status/1273334225350131725?lang=fr" class="fa fa-twitter"></a></li>
                          <li><a href="https://www.youtube.com/@mezzoglobal2708" class="fa fa-youtube"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="profile-card">
                    <div class="profile-img">
                        <img src="/assets/images/team2.jpg" alt="Team Image"/>
                    </div>
                    <div class="profile-content">
                        <h2 class="title">Amaira
                            <span>Recruteur</span>
                        </h2>
                        <ul class="social-link">
                          <li><a href="https://www.facebook.com/somezzo.tn" class="fa fa-facebook"></a></li>
                          <li><a href="https://www.linkedin.com/company/mezzo-tunis/" class="fa fa-linkedin"></a></li>
                          <li><a href="https://twitter.com/mezzotunis/status/1273334225350131725?lang=fr" class="fa fa-twitter"></a></li>
                          <li><a href="https://www.youtube.com/@mezzoglobal2708" class="fa fa-youtube"></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
  
<!-- pakages ta3 l app mobile  -->
<div class="container">
  <div class="row">
    <div class="col-md-6">
      <div class="card-card">
        <div class="card-img-overlay">
          <img src="assets/images/app.png" alt="Image" class="card-img-top">

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="card-card">
        <div class="card-body">
          <h5>Télécharger l'application MezzoRecrute <br><i> pour ne rien manquer.</i> </h5>
          <p class="card-text"> <b>fait avancer vos recherche et suivi les nouveauté de offre soMezzo</b></p>
          <div class="buttonet">
            <a href="/about">
              <input type="button" value="appStore" class="app-button">
              <img src="/assets/images/apple.png" alt="#" style="width: 2.5rem; top: 1rem;" class="icon">
            </a>
            <a href="/about">
              <input type="button" value="PlayStore" class="play-button">
              <img src="/assets/images/play.png" alt="#" class="icon">
            </a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>
</body>
<app-footer></app-footer>
</html>











 