
*{
  font-family: 'Changa', sans-serif;
}
/*design slaydowet*/
.slideshow {
  width: 100%;
  height: 95vh;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  position: relative;
}

/*responsive mta3hm sur telephones*/
@media (max-width: 768px) {
  
}

/*responsive mta3hm sur pc's or tablettes*/
@media (min-width: 769px) and (max-width: 1024px) {
}

/*responsive mta3hm sur pc's bureau*/
@media (min-width: 1025px) and (max-width: 1600px) {
  
}


.slideshow-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.navigation input[type="radio"] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}

.navigation {
  position: absolute;
  top: 43rem; 
  left: 50%;
  transform: translateX(-50%);
}

.navigation label {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: #e94e1b;
  margin: 0 5px;
  cursor: pointer;
  transition: background-color 0.6s ease;
}



.slide {
  opacity: 0;
  top: 0;
  left: 0;
  transition: opacity 0.5s ease-in-out;
  position: absolute;
  width: 100%;
  height: 50rem;
  background-color: rgba(0, 0, 0, 0.5);
 
}.slide.active {
  opacity: 1;
}

.prev,
.next {
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: rgb(255, 153, 0);
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  text-decoration: none;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}

.prev:hover,
.next:hover {
  background-color: rgba(255, 136, 0, 0.8);
}

[id^="slide"]:checked + .slide {
  left: 0;
  z-index: 100;
  transition: left  .65s ease-out;
}

.slide::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #001935b7;
}

.slide img {

  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.slide-text h2 {
  font-size: 24px;
  margin-bottom: 10px;

}

.slide-text p {
  font-size: 16px;
}
@keyframes slide-animation {
  0% {
    transform: translateX(0);
  }
  33.33% {
    transform: translateX(-100%);
  }
  66.66% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-200%);
  }
}
.button  a {
  text-decoration: none;
  color: #fff;
}
 /* design buttonet */
 .button {
  width: 200px;
  padding: 15px 0;
  text-align: center;
  margin: 20px 10px;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #e94e1b;
  background: transparent;
  cursor: pointer;
  position:relative ;
  overflow: hidden;
 color: #ffffff;
}



.button:hover .span{
  width: 100%;

}
.button:hover{
 border: none;
  background: #e94e1b;

}




.buttonnews  a {
  text-decoration: none;
  color: #fff;
}
 /* design buttonet */
 .buttonnews {
margin-left: 25rem; 
margin-bottom: 20px;
width: 200px;
  padding: 15px 0;
  text-align: center;
  border-radius: 25px;
  font-weight: bold;
  border: 2px solid #ffffff;
  background: #20316d;
  cursor: pointer;
  position:relative ;
 color: #d41010;
}



.buttonnews:hover .span{
  width: 100%;

}


.span{
  background: #e94e1b;
  height: 100%;
  width: 100%;
  border-radius: 25px;
 
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: 0.5s;
}


#slide-dot-1:checked ~ .slideshow-container > .slide:nth-child(1),
#slide-dot-2:checked ~ .slideshow-container > .slide:nth-child(2),
#slide-dot-3:checked ~ .slideshow-container > .slide:nth-child(3) {
  left: 0;
  z-index: 100;
  transition: left 0.65s ease-out;
}

#slide-dot-1:checked ~ .navigation > label:nth-child(1),
#slide-dot-2:checked ~ .navigation >label:nth-child(2),
#slide-dot-3:checked ~ .navigation > label:nth-child(3) {
  background-color: #e94e1b;
  }
.fixe {
  position: fixed;
  width: 100%;
  justify-content: space-between;
  z-index: 100;
  background-color: #fff;
}

/* Media query for smaller screens */
@media screen and (max-width: 1024px) {
  .fixe {
    justify-content: center;
  }
}

/* Media query for larger screens */
@media screen and (min-width: 250px) {
  .fixe {
    justify-content: space-between;
  }
}

  .navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
    top:3.5rem ;
    left: 0;
    z-index: 100;
    background-color:#001935b4;
    padding: 10px;
    position: fixed;
    margin-top: 0rem;
  }
  
  .navbar .loh{
    width: 180px;

  }
  .navbar-left {
    display: flex;
    align-items: center;
  }
  
  .navbar-left a {
    margin-right: 20px;
  }
  
  .navbar-right {
    display: flex;
    align-items: center;
  }
  
  .navbar ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .navbar ul li {
    margin-right: 20px;
  }
  
  .navbar ul li a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
  }
  
  .navbar ul li i {
    color: #fff;
  }
  .scroll-nav {
    transition: top 0.3s ease-in-out;
  }
  
  .scroll-nav.sticky {
    top: 10;
  }
  .card-news {
    /* Autres styles de la section card-news */
  
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
  }

 



.card img {
  width: 100%;
  height: auto;
  border-radius: 4px;
}



/** packages section **/

.packages {
    background: #fff;
    padding-top: 85px;
   
    
}
h2 {
  margin-bottom: 20px;
  font-size: 40px;
  color: #313131;
  line-height: 40px;
  font-weight: bold;
  padding: 0;
  display: block;
  text-align: center;

  
  /* Media query for smaller screens */
  @media screen and (max-width: 767px) {
    font-size: 32px;
    margin-left: 10px;
  }
  
  /* Media query for even smaller screens */
  @media screen and (max-width: 479px) {
    font-size: 24px;
    margin-left: 5px;
  }
}



.packages_box {
    box-shadow: 0 0 19px rgba(30, 30, 30, 0.10);
    margin-bottom: 60px;
    height: 30rem;
    width: 100%;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.185);
  border-radius: 10px;
}
.packages_box:hover {
  transform: translateY(-5px);
  }
.packages_box figure {
    margin: 0;
    overflow: hidden;
    background: #fff;
    
}

.tuscany {
    padding: 27px;
}

.packages_box figure img {
    width: 100%;
    overflow: hidden;
    position: relative;
    transition: ease-in all 0.5s;
    height: 18rem;

 
}
.play-button
.image{
  margin-left: -150px;
}
#ho_img:hover.packages_box figure img {
    transition: ease-in all 0.5s;
    transform: scale(1.2);
    opacity: 0.6;
}



.italy h3 {
    color: #151c37;
    font-size: 20px;
    line-height: 50px;
    font-weight: bold;
}



.tuscany h6 {
    color: rgb(9, 17, 100);
    padding: 20px 0 30px 0;
}

.tusc .read_more {
    max-width: 116px;
    height: 33px;
    line-height: 33px;
    margin: 0;
    text-decoration: none;
 
    color: #24377b;
}

.news-card {
  margin-top: 20px;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-color: #fff;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.185);
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 20px;
 
  }
  
  .news-card:hover {
  transform: translateY(-5px);
  }
  
  .news-card h1 {
  font-size: 28px;
  font-weight: bold;
  margin: 10px 0 0;
  }
  
  .news-card p {
  margin: 5px ;
  color: #24377b;
  
  }




  .news-card h6 {
    font-size: 14px;
  
    color: #24377b;
    
    }
    
  
  @media screen and (max-width: 768px) {
  .news-card {
  padding: 10px;
  }
  
  .news-card h1 {
  font-size: 24px;
  }
  
  .news-card p {
  font-size: 14px;
  }
  
 
  }
  
  .card_text {
    color: #000000;
    font-size: 0.875rem;
    line-height: 1.5;
    margin-bottom: 1.25rem;    
    font-weight: 400;
  }
  .detailbtn  a {
    text-decoration: none;
    color: #fff;
  }
  .detailbtn {
    margin-top: -3.5rem; 
    width: 100px;
    margin-left: 55rem;
    background-color: #e94e1b;
    border: 2px solid rgb(220, 89, 8);
    border-radius: .2rem;
    color: #fff;
    line-height: 1.25rem;
    padding: .75rem 1rem;
    text-align: center;
    cursor: pointer;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-user-select: none;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
  }
  
  .detailbtn :hover {
    background-color: #fff;
    color: #e94e1b;
    color: #fff;
    
  }
  
  .detailbtn :focus {
    outline: 2px solid rgba(0, 0, 0, 0.1);
    outline-offset: 2px;
  }
  
  .detailbtn :focus-visible {
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  .heart-icon {
    display: flex;
    align-items: center;
 
    margin-left: -160px;
  margin-top: 3rem;

  }
  
  .heart-icon i {

    color: #e94e1b;
    border: 2px solid #e94e1b;
    padding: 5px;
    border-radius: 50%;
    transition: color 0.3s, background-color 0.3s;
  }
  
  .heart-icon i:hover {
    cursor: pointer;
    background-color: #e94e1b;
    color: white;
  }

  
  /* .card-left {
    background-color: #72A7FF;    
  } */


  .card-img-overlay {
    position: relative;
    overflow: hidden;
    background-image: linear-gradient(180deg, #72A7FF 0%, rgba(204, 223, 255, 0) 100%);
    border-radius: 35px;

 }
 
 .card-card{
  border: none;
 
 }
 .card-img {
    width: 100%;
    height: auto;
    display: block;
    opacity: 0.8;
    
 }

 .buttonet img{
    width: 18px;
    margin-left: 25px;
  
  
 }
 .buttonet {
  margin-left: 2rem;
}

.buttonet input {
  background-color: black;
  color: #fff;
  width: 10rem;
  height: 3rem;
  border-radius: 15px;
  padding-left: 2rem; /* Ajoute un espace à gauche pour l'icône */
 margin-left: 0.5rem;
}

.buttonet .icon {

  width: 1.5rem; /* Ajuste la taille de l'icône */
  height: auto; /* Maintient le ratio d'aspect de l'icône */
  position: relative; /* Positionne l'icône par rapport au bouton */
  right: 10rem; /* Définit la position horizontale de l'icône */
  top: 10px; /* Centre l'icône verticalement */
  transform: translateY(-50%); /* Décale l'icône verticalement de moitié de sa taille */
}
 .card-body{
  margin-top: 12rem;
 }
 .card-body i{
  color: #20316d;
  background-color: none;
  font-size: 50px;
  font-style: oblique;
   }
   .card-body h5{
    color: #20316d;
    background-color: none;
    font-size: 30px;
    font-style: oblique;
     }
     .card-body p{
      color: #2a2a2a;
      font-size: 16px;
     }



.title2{
  font-weight: bolder; 
  font-size: 2.5rem;
  margin-top: 20px;
}
.spann1 {
  color: #cf1818;
}
     /* CSS pour la barre de recherche */
.search-container {
  position: relative;
  margin-bottom: 20px;
}

.search-container input[type="text"] {
  width: 100%;
  padding: 20px 40px 20px 20px;
  border: none;
  border-radius: 30px;
  background-color: #a8a8a867;
  color: #ffff;
}

.search-container button[type="submit"] {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
  width: 40px;
  height: 40px;
  border: none;
  background-color: #e94e1b;
  border-radius: 50%;
  color: #fff;
  cursor: pointer;
}
.keys{
  display: block;
}
.keys ul li {
  display: inline-block;
}

.keys li a{
  text-decoration: none;
  list-style: none; 
  text-decoration: none;
  margin-left: 1rem;
  background-color: #ffffff46;
padding: 0.4rem;
border: 2px solid #fff;
  border-radius: 5px;
  color: white;
  font-size: 12px;

}
.keys li a:hover{
  
 
  background-color: #ffffff91;


}
.slide-text1 {
  display: flex;
  gap: 20px;
  color: white;
  font-size: 24px;
  font-weight: bold;
}

.slide-item {
  display: flex;
  align-items: center;
}

.slide-item i {
  font-size: 36px;
  color: orange;
  margin-right: 10px;
  animation: iconBounce 1s ease-in-out infinite;
}
.section2{
  height: 10rem; 
  margin-bottom: 2rem;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: #001935;
}
.section3{
  height: 40rem; 
  margin-bottom: 2rem;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  position: relative;
  background-color: #001935;

}

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
  
}
.container2 {
  max-width: 1240px;
  width: 100%;

}
@media (min-width: 576px) and (max-width: 767px){
.container2 {
    max-width: 560px;
    width: 100%;
}
}


@keyframes moveRight {
  0% { transform: translateX(0); }
  100% { transform: translateX(100%); }
}

.cover1 {
  width: 15rem;
  margin-top: 3rem;
  animation: moveRight 15s linear infinite; 
}




/* test test  */
.profile-card{
  position:relative;
  overflow: hidden;
  box-shadow:0px 2px 3px #222;
  top:50px;
}
.profile-card:hover .profile-img img
{
  transform: scale(1.2);
}
.profile-card .profile-img img{
  width:100%;
  height:400px;
  transition: transform 1s;
}
.profile-card .profile-content::before{
  content: "";
  position:absolute;
  top:0;
  left:0;
  width:50%;
  height:40%;
  border:3px solid #333;
  border-right:3px solid transparent;
  border-bottom:3px solid transparent;
  transform: scale(1,1);
  transition: all 0.50s linear;
}
.profile-card .profile-content::after{
  content: "";
  position:absolute;
  bottom:0;
  right:0;
  width:50%;
  height:40%;
  border:3px solid #222;
  border-left:3px solid transparent;
  border-top:3px solid transparent;
  transition: all 0.50s linear;
  
}
.profile-card:hover .profile-content:before{
  top:20px;
  left:20px;
}
.profile-card:hover .profile-content:after{
  bottom:20px;
  right:20px;
}

.profile-card .profile-content{
  position: absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
  padding:50% 4%;
  text-align: center;
 
}
.profile-card .profile-content:hover{
  background-color: rgba(4, 15, 73, 0.5);
}
.profile-card  .title{
  font-size:24px;
  color:#e4e4e4;

  letter-spacing:2px;
  text-transform:uppercase;
  transform: translateY(-100px);
  transition:all 900ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.20s;
}
.profile-card:hover .title{
  opacity:1;
  transform: translateY(0);
}
.profile-card:hover .title::after{
  content:"";
  display:block;
  width:50%;
  margin:10px auto;
  border-bottom:2px solid #222;
}
.profile-card .profile-content .title > span{
  display:block;
  margin:5px 0;
  font-size: 14px;
  text-transform: capitalize;
}
.profile-card .profile-content .social-link{
  margin:40px 0;
  padding:0;

  transform: translateY(10px);
  transition:all 600ms cubic-bezier(0.68, -0.55, 0.265, 1.55) 0.20s;
}
.profile-card:hover .social-link{
  transform: translateY(0);
}
.profile-card .profile-content .social-link li{
  display: inline-block;
  list-style: none;
  margin:0 4px;
}
.profile-card .profile-content .social-link li a{
  color:#333;
  width:30px;
  height:25px;
  line-height:24px;
  text-align: center;
  border-radius:5px;
  background-color: #fff;
}