


<div class="fixe">
  <app-header-profil></app-header-profil>
  <div class="navbar navbar-fixed-top">
    <a href="/acceuil">
      <img src="/assets/images/logomezzo.png" class="loh" alt="Image 1">
    </a>
    <ul>
      <li><a href="/acceuil">Acceuil</a></li>
      <li><a href="/Contact">Contact</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/offres">offres</a></li>
      <li><a href="/mescandidature"></a></li>
    </ul>
  </div>
</div>
<div class="banner">
<div class="content">
      <div class="content">
        <h1>Crée un actualité</h1>
        <p>
          <a class="links" href="/acceuil">Acceuil</a> /
          <a class="links" href="/news">page de Actualité </a>
        </p>
      </div>
    </div>
</div>  







<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="titre">
        <h1>Modifier l'Actualité<br><hr style="width:10rem;height: 5px;color: #e91b1b; margin-left: 30rem;"></h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <div class="card">
        <form class="contact-form" (submit)="onSubmit()" name="form" (ngSubmit)="f.form.valid " #f="ngForm" [formGroup]="editform" novalidate>

          <h2> Mettre à jour votre actualité</h2>
          <input type="text" id="titre" name="titre" [(ngModel)]="news.titre" formControlName="titre" />
          <span *ngIf="titre && titre.invalid && titre.touched" style="color: red;">titre de la l'actualité est un champ obligatoire</span>
        
          <textarea name="content" [(ngModel)]="news.content" required id="content" formControlName="content"></textarea>
          <span *ngIf="content.errors?.required" style="color: red;">content de la l'actualité est un champ obligatoire</span>
        
          <div>
            <h6>Ajouter une image pour l'actualité : <span class="required">*</span></h6>
        <input type="file" id="image" name="image" (change)="onFileSelected($event)" accept="image/*" formControlName="photos" label="Choisir une image" />
            
           <br> <span *ngIf="photos.errors?.required" style="color: red;">L'image de l'actualité est un champ obligatoire</span>
          </div>
        
          <button [disabled]="!imageSelected">Publier l'actualité</button>
          <div *ngIf="f.submitted && editform.invalid" >
            <span style="color: red;">Le formulaire est invalide</span>
          </div>
        </form> 
      </div>
    </div>
  
    <div class="col-md-6">
      <div class="card">
<img  src="/assets/images/save.jpg">
      </div>

    </div>
  </div>
</div>


<app-footer></app-footer>