<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>


<div class="fixe" >
  
  <app-header-profil></app-header-profil>
  <div class="navbar navbar-fixed-top">
    <a href="/acceuil">
    <img src="/assets/images/logomezzo.png" class="loh" alt="Image 1">
    </a>
    <ul>
    <li><a href="/acceuil">Acceuil</a></li>
    <li><a href="/Contact">Contact</a></li>
    <li><a href="/news">News</a></li>
    <li><a href="/offres">offres</a></li>
    <li><a href="/mescandidature"></a></li>
    </ul>
  </div>
  </div>
<div class="banner">
      <!-- button logout -->
        <div class="content">
          <h1 >Candidats</h1>
       
          <p>
            <a class="links" href="/acceuil">Acceuil</a> /
            <a class="links" href="/offres">Offres d'emploi </a>/ liste de candidats
          </p>
        </div>
     </div>




<body *ngIf="showRCBoard ">
  <div class="container" style="margin-top: 5rem;" >
    <div class="row">
      <div class="col-lg-8" >
        <div *ngFor="let candidat of filterCandidats()">
          <div class="card mb-3" *ngIf="candidat && candidat.etat !== 'blocklist' && candidat.utilisateur">
          <div class="card-body" *ngIf="isLoggedIn && !candidat.blocklist">
            <div class="d-flex flex-column flex-lg-row">
              <img src="http://localhost:8080/api/test/image/id={{candidat.utilisateur.id}}" class="img-radius" alt="User-Profile-Image" *ngIf="candidat.utilisateur.photos ">
              <img src="/assets/images/avatar7-3223699.png" *ngIf="!candidat.utilisateur.photos "  class="img-radius" alt="User-Profile-Image" >

              <div class="row flex-fill">
              
                <div class="col-sm-5" >
                  <h4 class="h5">{{ candidat.utilisateur.username }}</h4>
                  <span class="badge " [ngClass]="{
                      'bg-success': candidat.etat === 'Accepté',
                      'bg-danger': candidat.etat === 'Refusé',
                      'bg-secondary': candidat.etat === 'en attente'
                    }">
                    {{ candidat.etat }}
                  </span>
                </div>
                <div class="col-sm-4 py-2">
                  <span class="badge bg-secondary">{{ candidat.utilisateur.phone }}</span>
                  <span class="badge bg-secondary">{{ candidat.utilisateur.adresse }}</span>
                  <span class="badge bg-secondary">{{ candidat.utilisateur.email }}</span>
                  <span class="badge bg-secondary">{{ candidat.utilisateur.date_naiss }}</span>

                </div>
                <div class="col-sm-3 text-lg-end">
                  <button (click)="detail(candidat)">Détails</button>
                </div>
              </div>
            </div>
          </div>
          
        </div></div>
        <div class="card" *ngIf="filterCandidats().length === 0">
          <p></p>
          <div  class="col-lg-12 col-md-12 col-xl-12" >
            <div class="alert alert-info" role="alert">
              <h4 class="alert-heading">Non candidatures!</h4>
              <p>Il n'y a aucune candidature pour le moment.</p>
            </div>
            </div>
  
        </div>



      </div>
      <div class="col-lg-4">
        <div class="card mb-3">
          <div class="card-body">
            <input type="text" class="form-control mb-3 input-orange" placeholder="Rechercher par email ou nom" [(ngModel)]="filterText">
            <select class="form-select mb-3 select-orange" [(ngModel)]="etatCandidat">
              <option value="">Tous les états</option>
              <option value="Accepté">Accepté</option>
              <option value="Refusé">Refusé</option>
              <option value="en attente">En attente</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript">
  </script>
 
</body >

<app-footer ></app-footer>