

.user-card .card-block .user-image img {
  z-index: 20;
  position: absolute;
  top: 5px;
  left: 5px;
      width: 100px;
  height: 100px;
}

.img-radius {
  border-radius: 50%;
}
.img-radius{
margin-top: 10px;
  height: 80px;  
  width: 80px;
}
.card:hover {
  transform: translateY(-5px);
  cursor: pointer;
  }

button {
  width: 100px;
  margin-top: 20px;
  margin-left: auto;
  background-color: #e94e1b;
  border: 2px solid rgb(220, 89, 8);
  border-radius: .2rem;
  color: #fff;
  font-family:Arial, Helvetica, sans-serif;
  line-height: 1.25rem;
  padding: .75rem 1rem;
  text-align: center;

  cursor: pointer;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

button:hover {
  background-color: #fff;
  color: #e94e1b;
  
}

button:focus {
  outline: 2px solid rgba(0, 0, 0, 0.1);
  outline-offset: 2px;
}

button:focus-visible {
  -webkit-box-shadow: none;
  box-shadow: none;
}


.card {
  box-shadow: 0 20px 27px 0 rgba(0, 0, 0, 0.148);
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 0 solid rgba(0,0,0,.125);
  border-radius: 1rem;
}

.card-body {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1.5rem 1.5rem;
}
.avatar-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: #000;
  color: #fff;
  font-weight: 700;
}

.avatar {
  width: 3rem;
  height: 3rem;
}
.rounded-3 {
  border-radius: 0.5rem!important;
}
.mb-2 {
  margin-bottom: 0.5rem!important;
}
.me-4 {
  margin-right: 1.5rem!important;
}

.badge{
  margin-left: 10px;
  margin-top: 10px;
}

/* na3mlou design lel text content */

.banner {
    
  position: relative;
  width: 100%;
  height: 60%;
  background-image: url('/assets/images/recc.jpg');
  background-size: cover;
  background-position: center;
}
.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #001935b7;
}

.content {
  position: absolute;
  top: 50%;
  left: 10rem;
  transform: translateY(-50%);
  text-align: left;
  color: #fff;
  width: 50%;
}
.content h1 {
  font-size: 40px;
}

.content p {
  font-size: 12px;
}

.links{
  color: #e94e1b;
}
/* navbar transparent */


/* logo design */
.logo{
width: 180px;
padding-top: 20px;
cursor: pointer;
}


.fixe {
  position: fixed;
  width: 100%;
  justify-content: space-between;
  z-index: 100;
  background-color: #fff;
}

/* Media query for smaller screens */
@media screen and (max-width: 767px) {
  .fixe {
    justify-content: center;
  }
}

/* Media query for larger screens */
@media screen and (min-width: 768px) {
  .fixe {
    justify-content: space-between;
  }
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top:3.5rem ;
  left: 0;
  z-index: 100;
  background-color:#001935b4;
  padding: 10px;
  position: fixed;
  margin-top: 0rem;
}

.navbar .loh{
  width: 180px;

}
.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left a {
  margin-right: 20px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li {
  margin-right: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navbar ul li i {
  color: #fff;
}

input[type="text"] {
  border: 2px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

input[type="text"]:focus {
  border-color: #e94e1b;
  outline: none;
}

.search-container {
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #ddd;
  padding: 5px;
}

.search-container input[type="text"] {
  flex: 1;
  border: none;
  margin-left: 10px;
}

.search-container input[type="text"]::placeholder {
  font-style: italic;
}
.input-orange:focus,
.select-orange:focus {
  border-color: #e94e1b;
  box-shadow: 0 0 0 0.25rem rgba(233, 78, 27, 0.25);
}
select.form-select option:checked {
  background-color: #e94e1b;
  color: white;
}

select.form-select option {
  color: black;
}


