
*{
  margin: 0;
  padding: 0;
  box-sizing: boder-box ;
  text-transform: capitalize;
  text-decoration: none;
}
/* image cover o aamelnalha filtre en noir  */
/* Default styles for .banner */
.banner {
  position: relative;
  width: 100%;
  height: 60%; /* Default height for larger screens */
  background-image: url('/assets/images/recc.jpg');
  background-size: cover;
  background-position: center;
}

/* Define responsive styles based on media queries */

/* 2xl */
@media (max-width: 1536px) {
  .banner {
    height: 50%; /* Adjust the height for 2xl screens */
  }
}

/* xl */
@media (max-width: 1280px) {
  .banner {
    height: 50%; /* Adjust the height for xl screens */
  }
}

/* lg */
@media (max-width: 1024px) {
  .banner {
    height: 40%; /* Adjust the height for lg screens */
  }
}

/* md */
@media (max-width: 768px) {
  .banner {
    height: 30%; /* Adjust the height for md screens */
  }
}

/* sm */
@media (max-width: 640px) {
  .banner {
    height: 25%; /* Adjust the height for sm screens */
  }
}

/* xs */
@media (max-width: 475px) {
  .banner {
    height: 20%; /* Adjust the height for xs screens */
  }
}

.banner::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #001935b7;
}
.hello{
  margin-bottom: -200px;
}
.fixe {

  position: fixed;
  width: 100%;
  justify-content: space-between;
  z-index: 100;
  background-color: #fff;
}

/* Media query for smaller screens */
@media screen and (max-width: 767px) {
  .fixe {
    justify-content: center;
  }
}

/* Media query for larger screens */
@media screen and (min-width: 768px) {
  .fixe {
    justify-content: space-between;
  }
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top:3.5rem ;
  left: 0;
  z-index: 100;
  background-color:#001935b4;
  padding: 10px;
  position: fixed;
  margin-top: 0rem;
}

.navbar .loh{
  width: 180px;

}
.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left a {
  margin-right: 20px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li {
  margin-right: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navbar ul li i {
  color: #fff;
}



/* navbar transparent */

/* logo design */
.logo{
  position: absolute;
  width: 180px;
padding-left: 20px;
  top: 30px;
  cursor: pointer;
  
}


/* linkes design */

  .content{
    width: 100%;
    top: 250px;
    position: absolute;
    transform: translateY(-50%);
    text-align: center;
    color:#fff ;
  }
  .content{
    width: 100%;
    top: 120px;
    position: absolute;
    transform: translateY(-50%);
    text-align: center;
    color:#fff ;
  }
  .content h1{
   
    font-style: normal;
    font-weight: 700;
    font-size: 56px;
    line-height: 80px;
margin-top: 50px;

  }
 .name{
    background: none;
    color: #e94e1b;
  
  }

  /* design buttonet */
  .btn{
  margin-left: 33rem;
 
  
  }
  .button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 10px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #24377b;
    background: transparent;
    cursor: pointer;
    position:relative ;
    overflow: hidden;
   color: #828282;
  }
  
  span{
    background: #24377b;
    height: 100%;
    width: 100%;
    border-radius: 25px;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;

  }
  .button:hover span{
    width: 100%;
 
  }
  .button:hover{
   border: none;
    background: #24377b;
    color: #ffffff;
  }



/* hedhy design card profile */
.our-team {
  margin-top: -5rem;
  padding: 30px 0 70px;
  background-color: white;
  border-radius: 15px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  overflow: hidden;
  position: relative;
}

.our-team .picture {
  display: inline-block;
  height: 130px;
  width: 130px;
  margin-bottom: 30px;
  z-index: 1;
  position: relative;
}

.our-team .picture::before {
  content: "";
  width: 100%;
  height: 0;
  border-radius: 50%;
  background-color: #24377b;
  position: absolute;
  bottom: 135%;
  right: 0;
  left: 0;
  opacity: 0.9;
  transform: scale(3);
  transition: all 0.3s linear 0s;
}

.our-team:hover .picture::before {
  height: 100%;
}

.our-team .picture::after {
  content: "";
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #24377b;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.our-team .picture img {
  width: 100%;
  height: auto;
  align-items: center;
  border-radius: 50%;
  transform: scale(1);
  transition: all 0.9s ease 0s;
}

.our-team:hover .picture img {
  box-shadow: 0 0 0 14px #f7f5ec;
  transform: scale(0.7);
}

.our-team .title {
  display: block;
  font-size: 15px;
  color: #4e5052;
  text-transform: capitalize;
}
.team-content{
color: black;
margin-top: 20px;
font-style: oblique;

}
.our-team .social {
  width: 100%;
  padding: 0;
  margin: 0;
  background-color: #24377b;
  position: absolute;
  bottom: -100px;
  left: 0;
  transition: all 0.5s ease 0s;
}

.our-team:hover .social {
  bottom: 0;
}

.our-team .social li {
  display: inline-block;
  
}

.our-team .social li a {
  display: block;
  padding: 10px;
  font-size: 17px;
  color: white;
  transition: all 0.3s ease 0s;
  text-decoration: none;
}

.our-team .social li a:hover {
  color: #24377b;
  background-color: #f7f5ec;
}
 

  /* edit profil */
  

*{
  margin: 0;
  padding: 0;
  box-sizing: boder-box ;
  text-transform: capitalize;
  text-decoration: none;
}
  /* image cover o aamelnalha filtre en noir  */
  .banner {
    position: relative;
    width: 100%;
    height: 40%;
    background-image: url('/assets/images/recry.jpg');
    background-size: cover;
    background-position: center;
  border-bottom-left-radius: 80px ;
  border-bottom-right-radius: 80px;
  
  }
  body{
    margin-bottom: 60px;
  }
  .banner::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.75);
    border-bottom-left-radius: 80px ;
    border-bottom-right-radius: 80px;
  }
  
  /* navbar transparent */
  .navbar{
    width:100%;
    margin: auto;
   margin-top: -20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  /* logo design */
  .logo{
    width: 180px;
    cursor: pointer;
    
  }
  
  /* items design */
  .navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 20px;
    position: relative;
  }
  
  /* linkes design */
  .navbar ul li a{
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
  }
  
  /* nzido star ta7t items */
  .navbar ul li::after{
  content:'' ;
  height: 3px;
  width: 0;
  background: #e94e1b;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: 0.5s;
  }
  
  .navbar ul li:hover::after{
  width: 100%;
  }
  .navbar ul li i{
    color: #e94e1b; 
  }
  
    .content{
      width: 100%;
      top: 250px;
      position: absolute;
      transform: translateY(-50%);
      text-align: center;
      color:#fff ;
    }
    .content{
      width: 100%;
      top: 120px;
      position: absolute;
      transform: translateY(-50%);
      text-align: center;
      color:#fff ;
    }
    .content h1{
     
      font-style: normal;
      font-weight: 700;
      font-size: 56px;
      line-height: 80px;
  
    }
   .name{
      background: none;
     
      color: #24377b;
    
    }

  
    /* design buttonet */
    .btn{
      margin-left: 30rem;    }
    .button {
      width: 200px;
      padding: 15px 0;
      text-align: center;
      margin: 20px 10px;
      border-radius: 25px;
      font-weight: bold;
      border: 2px solid #24377b;
      background: transparent;
      cursor: pointer;
      position:relative ;
      overflow: hidden;
      color: #9a9a9a;
    }
    
    .btnet{

      background: #24377b;
      height: 100%;
      width: 100%;
      border-radius: 25px;
      left: 0;
      bottom: 0;
      z-index: -1;
      transition: 0.5s;
    }
    .button:hover span{
      width: 100%;
     
    }
    .button:hover{
     border: none;
      background: #24377b;
      color: #ffffff;
    }
  
  
  
  /* hedhy design card profile */
  .our-team {
    margin-top: -5rem;
    padding: 30px 0 40px;
    background-color: white;
    border-radius: 15px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.15);
  width: 800px;
  margin-left: auto;
  margin-right: auto;
    text-align: center;
    overflow: hidden;
    position: relative;
  }
  
  .our-team .picture {
    display: inline-block;
    height: 130px;
    width: 130px;
    margin-bottom: 30px;
    z-index: 1;
    position: relative;
  }
  
  .our-team .picture::before {
    content: "";
    width: 100%;
    height: 0;
    border-radius: 50%;
    background-color: #24377b;
    position: absolute;
    bottom: 135%;
    right: 0;
    left: 0;
    opacity: 0.9;
    transform: scale(3);
    transition: all 0.3s linear 0s;
  }
  
  .our-team:hover .picture::before {
    height: 100%;
  }
  
  .our-team .picture::after {
    content: "";
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: #24377b;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
  }
  
  .our-team .picture img {
    width: 100%;
    height: auto;
    align-items: center;
    border-radius: 50%;
    transform: scale(1);
    transition: all 0.9s ease 0s;
  }
  
  .our-team:hover .picture img {
    box-shadow: 0 0 0 14px #f7f5ec;
    transform: scale(0.7);
  }
  
  
  .our-team .social {
    width: 100%;
    padding: 0;
    margin: 0;
    background-color: #24377b;
    position: absolute;
    bottom: -100px;
    left: 0;
    transition: all 0.5s ease 0s;
  }
  
  .our-team:hover .social {
    bottom: 0;
  }
  
  .our-team .social li {
    display: inline-block;
  }
  
  .our-team .social li a {
    display: block;
    padding: 10px;
    font-size: 17px;
    color: white;
    transition: all 0.3s ease 0s;
    text-decoration: none;
  }
  
  .our-team .social li a:hover {
    color: #24377b;
    background-color: #f7f5ec;
  }
    /* for popup{ */
  
    
  
  /* edit form css */
  
    label {
      display: block;
      margin-bottom: 5px;
      font-weight: bold;
    }
    
  /* /// */
  
  /* 
    this code for 2 inputs besides  */
    .input-container {
      display: flex;
      flex-wrap: wrap;
    }
    
    .user-box {
      flex-basis: 50%;
      padding: 10px;
      box-sizing: border-box;
    }
    
    .user-box label {
      display: block;
      margin-bottom: 2px;
    }
    
    .user-box input {
      display: block;
      width: 100%;
    }
  
  
    
    .our-team .user-box input {
      width: 100%;
      padding: 10px 0;
      font-size: 16px;
      color: #333;
     
      border: none;
      border-bottom: 1px solid #24377b;
      outline: none;
      background: transparent;
    }
    
    .our-team  .user-box label {
      position: absolute;
      top: 0;
      left: 0;
      padding: 10px 0;
      font-size: 16px;
      color: #24377b;
      pointer-events: none;
      transition: .5s;
    }
    
    .our-team  .user-box input:focus ~ label,
    .our-team  .user-box input:valid ~ label {
      top: -20px;
      left: 0;
      color: #bdb8b8;
      font-size: 12px;
    }
    h6{
      color: #24377b;
      margin-right: 14rem;
    }
   



    .picture {
      position: relative;
      width: 200px; /* set the width of the image container */
      height: 200px; /* set the height of the image container */
    }
    
    .picture img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    
    .select-container {
      position: absolute;
      bottom: 0;
      right: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 50px; /* set the width of the select element container */
      height: 50px; /* set the height of the select element container */
      background-color: #fff;
      border: 1px solid #ccc;
      border-radius: 50%;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
      cursor: pointer;
      transition: all 0.3s ease;
    }
    
    .select-container:hover {
      background-color: #f1f1f1;
      border-color: #999;
    }
    

    .select-container:before {
      content: "Change Picture";
      font-size: 10px;
      text-transform: uppercase;
      letter-spacing: 1px;
      color: #666;
    }
    
    .select-container:hover:before {
      color: #000;
    }
    .user-box select {
      display: inline-block;
      width: 100%;
      font-size: 16px;
      padding: 10px;
      
      border: 1px solid #000000;
      border-radius: 5px;
      margin-bottom: 2rem;
    }