
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<div class="fixe" >
  
  <app-header-profil></app-header-profil>
  <div class="navbar navbar-fixed-top">
    <a href="/acceuil">
      <img src="/assets/images/logomezzo.png" class="loh" alt="Image 1">
    </a>
    <ul>
      <li><a href="/acceuil">Acceuil</a></li>
      <li><a href="/Contact">Contact</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/offres">offres</a></li>
      <li><a href="/mescandidature"></a></li>
    </ul>
  </div>
</div>
<div class="banner">
 
  <div class="content">
    <div class="content">
      <h1>Candidatures</h1>
      <p>
        <a class="links" href="/acceuil">Acceuil</a> /
        <a class="links" href="/offres">Offres d'emploi </a>/ liste de mes candidatures
      </p>
    </div>
  </div>
</div>
<body >
  <div class="container" style="margin-top: 5rem;" *ngIf="isLoggedIn ">
    <div class="row">
      <div class="col-lg-8" *ngIf="candidatures && candidatures.length > 0">
        <div class="card mb-3" *ngFor="let candidature of candidatures; let i=index"  (click)="detail(candidature.id)">
          <div class="card-body" >
            <div class="d-flex flex-column flex-lg-row">
              <img src="http://localhost:8080/api/test/image/id={{candidature.utilisateur.id}}" class="img-radius" alt="User-Profile-Image">
              <div class="row flex-fill">
              
                <div class="col-sm-5" >
                  <h4 class="h5"> {{ candidature.utilisateur.username }}  </h4>
                  <span class="badge " [ngClass]="{
                      'bg-success': candidature.etat === 'Accepté',
                      'bg-danger': candidature.etat === 'Refusé',
                      'bg-secondary': candidature.etat === 'en attente'
                    }">
                    {{ candidature.etat }}
                  </span>
                </div>
                <div class="col-sm-4 py-2">
                  <span class="badge bg-secondary">{{ candidature.offres.titre }}</span>
                  <span class="badge bg-secondary">{{ candidature.offres.lieu }}</span>
                  <span class="badge bg-secondary">{{ candidature.offres.lieu }}</span>
                  <span class="badge bg-secondary"> {{candidature.date_depot}}</span>
                </div>
                 <div class="col-sm-3 text-lg-end">
                  Cnadidateur {{ i + 1 }}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div *ngIf="!candidatures || candidatures.length == 0" class="card ">
        <p></p>
        <div  class="col-lg-12 col-md-12 col-xl-12" >
          <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Non candidatures!</h4>
            <p>Aucune candidature n'a été trouvée, créer une nouvelle candidature</p>
          </div>
          </div>

      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
  <script type="text/javascript">
  </script>
 
</body>
<app-footer></app-footer>