.user-box input {
  width: 100%;
  padding: 5px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 25px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.user-box {
  position: relative;
}
.user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 14px;
  color: #fff;
  pointer-events: none;
  transition: .5s;

}
.alert{
  color: rgb(184, 0, 0);
}
 .user-box input:focus ~ label,
.user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 10px;
}

 form .button {
    border-radius: 25px;
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #ffffff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    
    letter-spacing: 4px;
    border: none;
    background-color: #25377A;
    cursor: pointer;
  }
  
  .button:hover {
    background: #25377A;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #25377A,
                0 0 25px #25377A,
                0 0 50px #25377A,
                0 0 100px #25377A;
  }
  
  .button span {
    position: absolute;
    display: block;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%,100% {
      left: 100%;
    }
  }


  i{
    color: #25377A;
  }
  .text{
    color: white;
    margin-top: 10px;
    
  }
  .logo{
    width: 20rem;
    
    cursor: pointer;
    }
    .labeldate{
      margin-top: -15px;
    }

    .user-box select {
      display: inline-block;
      width: 100%;
      font-size: 16px;
      padding: 10px;
      border: 1px solid #ffffff;
      border-radius: 5px;
      margin-bottom: 2rem;
    }
    
    .user-box select {
      appearance: none;
      -webkit-appearance: none;
      background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M10 12.585l4.95-4.95 1.414 1.414-6.364 6.364-6.364-6.364 1.414-1.414z'/%3E%3C/svg%3E") no-repeat;
      background-position: calc(100% - 10px) center;
      color: white;
      background-size: 15px;
      padding-right: 30px;
    }
    .background-radial-gradient {
      height: 100%;
      background-color: hsl(218, 41%, 15%);
      background-image: radial-gradient(650px circle at 0% 0%,
          hsl(218, 41%, 35%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%),
        radial-gradient(1250px circle at 100% 100%,
          hsl(218, 41%, 45%) 15%,
          hsl(218, 41%, 30%) 35%,
          hsl(218, 41%, 20%) 75%,
          hsl(218, 41%, 19%) 80%,
          transparent 100%);
    }

    #radius-shape-1 {
      height: 220px;
      width: 220px;
      top: -60px;
      left: -130px;
      background: radial-gradient(#ec5b0d, #EA651F);
      overflow: hidden;
    }

    #radius-shape-2 {
      border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
      bottom: -60px;
      right: -110px;
      width: 300px;
      height: 300px;
      background: radial-gradient(#ec5b0d, #EA651F);
      overflow: hidden;
    }

    .bg-glass {
      border-radius: 20px;
      background-color: hsla(0, 0%, 100%, 0.279) !important;
      backdrop-filter: saturate(200%) blur(25px);

    }