body{
  margin-top: 60px;

}

.card{
  margin-top: 20px;
  max-width: 57rem;
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-color: #fff;
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  padding: 10px;
  margin-bottom: 70px;
  transition: transform 0.2s ease-in-out;
  cursor: pointer;
}

.box-inputet{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 10px;
}


.form-group label {
  font-weight: bold;
  font-size: 14px;
  display: block;
  margin-bottom: 10px;
  margin-right: 20px;
  width: 100%;

}

.form-group input[type="text"],.form-group input[type="Date"],
.form-group select {
  display: inline-block;
  width: 22rem;
  margin-right: 10px;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group select {
  appearance: none;
  -webkit-appearance: none;
  background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3E%3Cpath d='M10 12.585l4.95-4.95 1.414 1.414-6.364 6.364-6.364-6.364 1.414-1.414z'/%3E%3C/svg%3E") no-repeat;
  background-position: calc(100% - 10px) center;
  background-size: 15px;
  padding-right: 30px;
}

.form-group input[type="radio"] {
  display: inline-block;
  margin-right: 10px;
  margin-top: 8px;
}

.form-group label.radio {
  font-weight: normal;
}

.form-group .col-sm-10 {
  display: inline-block;
  width: calc(67% - 10px);
  margin-right: 10px;
}

.form-group textarea {
  display: block;
  width: 100%;
  margin-top: 10px;
  height: 10rem;
  font-size: 16px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.form-group .col-sm-2 {
  display: inline-block;
  width: 100%;
  margin-top: 10px;
}

.buttons-container {
  margin-top: 20px;
  text-align: center;
}

.buttons-container button {
  border: 2px solid #24377b;
  border-radius: 5px;
  background-color: #f2f2f2;
  color: #24377b;
  margin-right: 10px;
  padding: 10px 50px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.buttons-container button:hover {
  background-color: #24377b;
  border-color: #24377b;
  color: #fff;
}
