<app-dvheader></app-dvheader>
<body>
 
  <div class="card" *ngIf="showRCBoard ">
    <h2 class="form-heading" style="text-align: center; color: #24377b;">Modifier une offre</h2>
    <hr style="border: 2px;">
    <div class="card-body">


<form 
(ngSubmit)="onSubmit()" class="form-group"[formGroup]="editform" >
<div class="box-inputet">
  <div class="form-group">
  <label for="titre">titre:</label>

  <input type="text" id="titre" name="titre" [(ngModel)]="offre.titre"  
  formControlName="titre" >
  <span *ngIf="titre && titre.invalid && titre.touched" style="color: red;">Le titre est un champ obligatoire.  </span>

</div>

<div class="form-group">
  <label for="lieu">lieu</label>
  <select id="lieu" [(ngModel)]="offre.lieu" name="lieu" formControlName="lieu">
    <option value="" disabled>Select Lieu</option>
    <option *ngFor="let option of siteOptions" [value]="option">{{ option }}</option>
  </select>
  <span *ngIf="lieu && lieu.invalid && lieu.touched" style="color: red;">Le lieu est un champ obligatoire.  </span>

</div>
</div>

<div class="box-inputet">
  <div class="form-group">

  <label for="type_poste">type_poste</label>
  <input type="text" id="type_poste" [(ngModel)]="offre.type_poste" name="type_poste" formControlName="type_poste">
  <span *ngIf="type_poste && type_poste.invalid && type_poste.touched" style="color: red;">Le type de poste est un champ obligatoire.  </span>

</div>

<div class="form-group">
  <label for="type_contrat">type contrat</label>

  <select id="type_contrat" [(ngModel)]="offre.type_contrat" name="type_contrat" formControlName="type_contrat">
    <option value="" disabled>Select Type de contrat</option>
    <option *ngFor="let option of typecontrat" [value]="option">{{ option }}</option>
  </select>
  
  <span *ngIf="type_contrat && type_contrat.invalid && type_contrat.touched" style="color: red;">Le type de contrat est un champ obligatoire.  </span>

</div>
</div>
<div class="box-inputet">
<div class="form-group">
  <label for="competence">competence</label>
  <input type="text" id="competence" [(ngModel)]="offre.competence" name="competence" formControlName="competence">
  <span *ngIf="competence && competence.invalid && competence.touched" style="color: red;">Le competence est un champ obligatoire.  </span>

</div>

<div class="form-group">
  <label for="regime">regime</label>
  <input type="text" id="regime" [(ngModel)]="offre.regime"  name="regime"  formControlName="regime">
  <span *ngIf="regime && regime.invalid && regime.touched" style="color: red;">Le regime est un champ obligatoire.  </span>

</div>
</div>
<div class="box-inputet">
<div class="form-group">
  <label for="date_recrut">Date de la recrutement</label>
  <input type="date" id="date_recrut" name="date_recrut" [(ngModel)]="offre.date_recrut"  
 formControlName="date_recrut" required>
 <span *ngIf="date_recrut && date_recrut.invalid && date_recrut.touched" style="color: red;">Le date de recrutement est un champ obligatoire.  </span>

</div>

<div class="form-group">
  <label for="date_fin">Date de Expiration :</label>

  <input type="date" id="date_fin" name="date_fin" [(ngModel)]="offre.date_fin"  
   formControlName="date_fin">
   <span *ngIf="date_fin && date_fin.invalid && date_fin.touched" style="color: red;">Le date de Expiration  est un champ obligatoire.  </span>
   <div *ngIf="!isValidDateRange()"  style="color: red;">
    La date d'expiration doit être supérieure à la date de recrutement.
  </div>
</div>

</div>

<div class="form-group">
  <label for="description">description</label>
  <textarea id="description" [(ngModel)]="offre.description"   name="description" formControlName="description"></textarea>
  <span *ngIf="description && description.invalid && description.touched" style="color: red;">Le description est un champ obligatoire.  </span>

</div>
<div class="box-inputet">
  <div class="form-group">
    <label for="typeOffre">Type offre</label>
    <select id="typeOffre" [(ngModel)]="offre.typeOffre" name="typeOffre" formControlName="typeOffre">
      <option value="" disabled>Select type offre</option>
      <option *ngFor="let option of typeOffreOptions" [value]="option">{{ option }}</option>
    </select>
  </div>
  
<!-- <form (ngSubmit)="onSubmite()" enctype="multipart/form-data">
  <h6> photo de profile :</h6>
  <input type="file" id="image" name="image" (change)="onFileSelected($event)" accept="image/*" />       
</form> -->
</div>
<div class="buttons-container">
  <button type="submit"   ><i class='fa fa-save' aria-hidden="true"></i> Enregistrer</button><button (click)="annuler()" type="submit"   ><i class='fa fa-sign-out' aria-hidden="true"></i>Annuler</button>
</div>

</form>
    </div>
  </div>
</body>
<app-footer></app-footer>