<div *ngIf="showRDBoard ">
  <app-dvheader></app-dvheader>

  <div class="container mt-5 pt-4" style="margin-bottom: 10rem;">
    <div class="row align-items-end mb-4 pb-2">
      <div class="col-md-8">
        <div>
          <h4 class="title mb-4">Liste de vos demandes</h4>
          <p class="text-muted mb-0 para-desc">Ceci est la liste de vos demandes actuelles.
            Vous pouvez également ajouter une nouvelle demande en cliquant sur le bouton correspondant.</p>
          <ul>
            <li><a href="/adddemande" class="buttonadd">Ajouter une demande d'embauche</a></li>


          </ul>
        </div>
      </div><!--end col-->
      <input type="text" placeholder="Rechercher..." [(ngModel)]="filterText" class="recherche">

      <div class="col-md-4 mt-4 mt-sm-0 d-none d-md-block">
        <div class="text-center text-md-end">
        </div>
      </div><!--end col-->
    </div><!--end row-->

    <div class="row">
      <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2" *ngFor="let demande of filterDemandes()">
        <div class="card border-0 bg-light rounded shadow">
          <div class="card-body p-4">

            <span class="badge rounded-pill bg-green float-md-end mb-3 mb-sm-0" [ngClass]="{
            'bg-success': demande.validation.toLowerCase() === 'valide',
            'bg-danger': demande.validation.toLowerCase() === 'refuse',
            'bg-secondary': demande.validation === 'EN_ATTENTE'
          }">
              {{ demande.validation }}
            </span>


            <h5>Le Poste : {{ demande.poste_recherche }}</h5>
            <div class="mt-3">
              <span class="text-muted d-block"> <span class="span"> Site : </span>{{
                demande.site }}</span>
              <span class="text-muted d-block"> <span class="span">Le temps de travail : </span>{{
                demande.temps_travail }}</span>
              <span class="text-muted d-block"><span class="span">Type de contrat : </span>{{
                demande.type_contrat }}</span>

              <span class="text-muted d-block" *ngIf="demande.remarque"><span class="span"> Remarque de l'admin :</span>
                {{
                demande.remarque }}</span>
              <span class="text-muted d-block" *ngIf="demande.description"><span class="span"> Description :</span> {{
                demande.description }}</span>

            </div>

            <div class="mt-3 d-flex justify-content-center">
              <div class="mx-2">
                <a class="btn btn-primary" (click)="detail(demande.id)">
                  <svg fill="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" height="20px" width="20px" >
                    <path d="M4 9a5 5 0 1110 0A5 5 0 014 9zm5-7a7 7 0 104.2 12.6.999.999 0 00.093.107l3 3a1 1 0 001.414-1.414l-3-3a.999.999 0 00-.107-.093A7 7 0 009 2z" fill-rule="evenodd" fill="#FFFF"></path>
                  </svg> Détail
                </a>
              </div>
              <div class="mx-2" *ngIf="demande.validation !== 'VALIDE'">
                <a class="btn btn-primary" (click)="updatedemande(demande.id)">

                  <svg class="svg" viewBox="0 0 512 512">
                    <path
                      d="M410.3 231l11.3-11.3-33.9-33.9-62.1-62.1L291.7 89.8l-11.3 11.3-22.6 22.6L58.6 322.9c-10.4 10.4-18 23.3-22.2 37.4L1 480.7c-2.5 8.4-.2 17.5 6.1 23.7s15.3 8.5 23.7 6.1l120.3-35.4c14.1-4.2 27-11.8 37.4-22.2L387.7 253.7 410.3 231zM160 399.4l-9.1 22.7c-4 3.1-8.5 5.4-13.3 6.9L59.4 452l23-78.1c1.4-4.9 3.8-9.4 6.9-13.3l22.7-9.1v32c0 8.8 7.2 16 16 16h32zM362.7 18.7L348.3 33.2 325.7 55.8 314.3 67.1l33.9 33.9 62.1 62.1 33.9 33.9 11.3-11.3 22.6-22.6 14.5-14.5c25-25 25-65.5 0-90.5L453.3 18.7c-25-25-65.5-25-90.5 0zm-47.4 168l-144 144c-6.2 6.2-16.4 6.2-22.6 0s-6.2-16.4 0-22.6l144-144c6.2-6.2 16.4-6.2 22.6 0s6.2 16.4 0 22.6z">
                    </path>
                  </svg>
                  Modifier
                </a>
              </div>
            </div>


          </div>
        </div>
      </div><!--end col-->


    </div><!--end row-->
  </div>
  <app-footer></app-footer>