
<div *ngIf="showAdminBoard ">
	<app-dvheader></app-dvheader>


	  <div class="filtre">
		<input type="text" class="input" placeholder="Rechercher par email ou nom" [(ngModel)]="filterText">
		<select class="form-select mb-3 select-orange" [(ngModel)]="etatDemande">
		  <option value="">Tous les états</option>
		  <option value="VALIDE">Accepté</option>
		  <option value="REFUSE">Refusé</option>
		  <option value="EN_ATTENTE">En attente</option>
		</select>
	  </div>
	
<div class="container">
	
	<div class="container-fluid p-0 cont1">

		
		<div class="row">
			
			<div class="col-xl-8">
				<div class="card">
					<h5 class="card-title mb-0">Gestion des Demandes</h5>
					
					<div class="card-body">
						<table class="table " style="width:100%">
								<tr>
									<th>Nom de la<br><span> demandeur</span> </th>
									<th>Email </th>
									<th>Téléphone</th>
									<th>Date de la création</th>
									<th>Remarque</th>
									<th>Etat de la demande</th>
									<th>Action</th>
								</tr>
							
							<tbody>
								<tr *ngFor="let demande of filterDemandes() ">
									<td>{{demande.utilisateur?.username}}</td>
									<td>{{demande.utilisateur?.email}}</td>
									<td>{{demande.utilisateur?.phone}}</td>
									
									<td>{{demande.date_demande  | date:'medium' }}</td>
									<td>{{demande.remarque}}</td>
									<td class="tds">
									<span class="badge rounded-pill bg-green float-md-end mb-3 mb-sm-0"
									[ngClass]="{
									  'bg-success': demande.validation.toLowerCase() === 'valide',
									  'bg-danger': demande.validation.toLowerCase() === 'refuse',
									  'bg-secondary': demande.validation === 'EN_ATTENTE'
									}"
								  >
									{{ demande.validation }}
								  </span>
									  </td>
						<td> <button class="btn" (click)="detail(demande.id)">Details</button>
								</tr>
							
							</tbody>
						</table>
					</div>
				</div>
			</div>


		</div>

	</div>
</div>

<app-footer></app-footer></div>