body{  padding: 20px;
  background-color: #f7f7fc;
    }
    .container .cont1{
      display:flex;
    }
    .timeline {
      display: flex;
      flex-direction: column;
  }
  
  .timeline-item {
      position: relative;
      padding-left: 50px;
      margin-bottom: 20px;
  }
  
  .timeline-item:before {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      width: 2px;
      background-color: #dee2e6;
      margin-left: -1px;
  }
  
  .timeline-item .card {
      margin-top: 0;
      margin-bottom: 0;
      border-radius: 0;
  }@media screen and (max-width: 768px) {
    .timeline {
        margin-left: -20px;
    }

    .timeline:before {
        left: 15px;
    }

    .timeline-item {
        padding-left: 35px;
    }

    .timeline-item:before {
        left: 15px;
    }
}
.filtre{
  padding-top: 10px;
  flex: 1 1 auto;
margin-left: 270px;
}
    .card {
     
        position: relative;
        flex-direction: column;
       width: 150%;
        word-wrap: break-word;
        background-color: #ffffff;
        margin-top: 20px;
        background-clip: initial;
        border: 1 solid transparent;
        border-radius: .25rem;
        margin-bottom: 5rem;
       
    }
    .card-body {
   
   
    }
  .card-title{
text-align: center;
color: #334997;
font-size: 40px;
  }

    .btn {
  background-color: #334997;
  border-color: #334997;
  color: #fff;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: center;
  vertical-align: middle;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out,
    box-shadow 0.15s ease-in-out;
  cursor: pointer;
}

.btn:hover {
  background-color: #ffffff;
  border-color: #334997;
  color: #334997;
}

.btn:focus,
.btn.focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}

.btn:active,
.btn.active {
  background-color: #1492d1;
  border-color: #1492d1;
  color: #fff;
}

.btn.disabled,
.btn:disabled {
  opacity: 0.65;
  cursor: not-allowed;
}

.btn:not(:disabled):not(.disabled):active:focus,
.btn:not(:disabled):not(.disabled).active:focus {
  box-shadow: 0 0 0 0.2rem rgba(38, 143, 255, 0.5);
}
table {
    width: 100%;
    border-collapse: collapse;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
  
  }
  th{
    font-size: 15px;
  }
 
  .badge {
    padding: 5px 8px;
    border-radius: 3px;
    letter-spacing: 0.5px;
    font-size: 12px;
    text-align: center;
}
.tds{
  padding-right: 70px;
}
/* form {
  display: flex;
  justify-content: center;
  align-items: center;
}

input[type="text"] {
  padding: 10px;
  border-radius: 5px;
  border: none;
  margin-right: 10px;
}


:focus {
  outline: 0;
  border-color: #2260ff;
  box-shadow: 0 0 0 4px #b5c9fc;
}

.mydict div {
  display: flex;
  flex-wrap: wrap;
  margin-top: 0.5rem;
  justify-content: center;
}

.mydict input[type="radio"] {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}

.mydict input[type="radio"]:checked + span {
  box-shadow: 0 0 0 0.0625em #0043ed;
  background-color: #dee7ff;
  z-index: 1;
  color: #0043ed;
}

label span {
  display: block;
  cursor: pointer;
  background-color: #fff;
  padding: 0.375em .75em;
  position: relative;
  margin-left: .0625em;
  box-shadow: 0 0 0 0.0625em #b5bfd9;
  letter-spacing: .05em;
  color: #3e4963;
  text-align: center;
  transition: background-color .5s ease;
}

label:first-child span {
  border-radius: .375em 0 0 .375em;
}

label:last-child span {
  border-radius: 0 .375em .375em 0;
} */
input[type="text"] {
  border: 2px solid #ddd;
  padding: 10px;
  border-radius: 5px;
}

input[type="text"]:focus {
  border-color: #e94e1b;
  outline: none;
}

.search-container {
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 2px solid #ddd;
  padding: 5px;
}

.search-container input[type="text"] {
  flex: 1;
  border: none;
  margin-left: 10px;
}

.search-container input[type="text"]::placeholder {
  font-style: italic;
}
.input-orange:focus,
.select-orange:focus {
  border-color: #e94e1b;
  box-shadow: 0 0 0 0.25rem rgba(233, 78, 27, 0.25);
}
select.form-select option:checked {
  background-color: #e94e1b;
  color: white;
}
.form-select{
  width: 300px;
  margin-top: 20px;
  padding-left: 100px;
}
select.form-select option {
  color: black;
}


.input-group {
  display: flex;
  align-items: center;
}

.input {
  min-height: 50px;
  width: 300px;
  padding: 0 1rem;
  color: #000000;
  font-size: 15px;
  border: 1px solid #334997;
  border-radius: 6px 0 0 6px;
  background-color: transparent;
}

.button--submit {
  min-height: 50px;
  padding: .5em 1em;
  border: none;
  border-radius: 0 6px 6px 0;
  background-color: #334997;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
  transition: background-color .3s ease-in-out;
}

.button--submit:hover {
  background-color: #3898EC;
}

.input:focus, .input:focus-visible {
  border-color: #3898EC;
  outline: none;
}


.fixe {
  position: fixed;
  width: 100%;
  justify-content: space-between;
  z-index: 100;
  background-color: #fff;
}

/* Media query for smaller screens */
@media screen and (max-width: 767px) {
  .fixe {
    justify-content: center;
  }
}

/* Media query for larger screens */
@media screen and (min-width: 768px) {
  .fixe {
    justify-content: space-between;
  }
}
.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  top:3.5rem ;
  left: 0;
  z-index: 100;
  background-color:#001935b4;
  padding: 10px;
  position: fixed;
  margin-top: 0rem;
}

.navbar .loh{
  width: 180px;

}
.navbar-left {
  display: flex;
  align-items: center;
}

.navbar-left a {
  margin-right: 20px;
}

.navbar-right {
  display: flex;
  align-items: center;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar ul li {
  margin-right: 20px;
}

.navbar ul li a {
  text-decoration: none;
  color: #fff;
  text-transform: uppercase;
}

.navbar ul li i {
  color: #fff;
}